{"first_ts":"{{.timestamp_iso}}","ja3":"b386946a5a44d1ddcc843bc75336dfce","last_ts":"{{.timestamp_iso}}","reason":"Dridex"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"8991a387e4cc841740f25d6f5139f92d","last_ts":"{{.timestamp_iso}}","reason":"Adware"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"cb98a24ee4b9134448ffb5714fd870ac","last_ts":"{{.timestamp_iso}}","reason":"Dridex"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"1aa7bf8b97e540ca5edd75f7b8384bfa","last_ts":"{{.timestamp_iso}}","reason":"TrickBot"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"3d89c0dfb1fa44911b8fa7523ef8dedb","last_ts":"{{.timestamp_iso}}","reason":"Adware"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"bc6c386f480ee97b9d9e52d472b772d8","last_ts":"{{.timestamp_iso}}","reason":"Adware"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"8f52d1ce303fb4a6515836aec3cc16b1","last_ts":"{{.timestamp_iso}}","reason":"TrickBot"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"d6f04b5a910115f4b50ecec09d40a1df","last_ts":"{{.timestamp_iso}}","reason":"Dridex"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"35c0a31c481927f022a3b530255ac080","last_ts":"{{.timestamp_iso}}","reason":"Tofsee"}
---EVENT_DELIMITER---
{"first_ts":"{{.timestamp_iso}}","ja3":"e330bca99c8a5256ae126a55c4c725c5","last_ts":"{{.timestamp_iso}}","reason":"Adware"}