{"id":"2786904","dateadded":"2024-03-19 11:34:09 UTC","url":"http://{{.IPs}}:41619/Mozi.m","url_status":"online","last_online":"2024-03-19 11:34:09 UTC","threat":"malware_download","tags":["elf","Mozi"],"urlhaus_link":"https://{{.Domains}}/url/2786904/","reporter":"lrz_urlhaus"}
---EVENT_DELIMITER---
{"id":"2786903","dateadded":"2024-03-19 11:33:08 UTC","url":"http://{{.IPs}}:59429/i","url_status":"online","last_online":"2024-03-19 11:33:08 UTC","threat":"malware_download","tags":["32-bit","elf","mips","Mozi"],"urlhaus_link":"https://{{.Domains}}/url/2786903/","reporter":"geenensp"}