{"timestamp":"{{.timestamp_iso}}","domain":"{{.Domains}}"}
---EVENT_DELIMITER---
{"timestamp":"{{.timestamp_iso}}","domain":"{{.Domains}}"}
---EVENT_DELIMITER---
{"timestamp":"{{.timestamp_iso}}","domain":"{{.Domains}}"}