{"id":"5514f626-10d8-476e-a9ad-d06eef56e5eb","to":"2a02:cf41:abcd::1234","key":"2a02:cf41:abcd::1234;5355;2a02:cf40::;49740;udp;56710","from":"2a02:cf40::","status":"ACTIVE","to_port":"5355","to_zone":"Undefined","protocol":"llmnr","from_port":"49740","from_zone":"Undefined","bpf_filter":"ip6 host 2a02:cf40:: and ip6 host 2a02:cf41:abcd::1234 and udp port 49740 and udp port 5355","is_broadcast":false,"is_to_public":false,"is_from_public":false,"throughput_speed":0,"{{.Domains}}":"90","direction_is_known":true,"last_activity_time":{{.timestamp_unix_ms}},"transport_protocol":"udp","first_activity_time":"{{.timestamp_unix_ms}}","{{.Domains}}":"1","{{.Domains}}_5m_bytes":"90","{{.Domains}}_15m_bytes":"90","{{.Domains}}_30m_bytes":"90","{{.Domains}}_packet_bytes":90,"{{.Domains}}_packet_bytes":"90","{{.Domains}}_packet_bytes":"90","vlan_id":"100"}
---EVENT_DELIMITER---
{"id":"5514f626-98s8-123e-a9ad-d06aaf56e5bb","to":"2a02:cf41:abcd::1","key":"2a02:cf41:abcd::1;5355;2a02:cf40::;49740;udp;56710","from":"2a02:cf40::","status":"ACTIVE","to_port":"5355","to_zone":"Undefined","protocol":"llmnr","from_port":"49740","from_zone":"Undefined","bpf_filter":"ip6 host 2a02:cf40:: and ip6 host 2a02:cf41:abcd::1 and udp port 49740 and udp port 5355","is_broadcast":false,"is_to_public":false,"is_from_public":false,"throughput_speed":0,"{{.Domains}}":"90","direction_is_known":true,"last_activity_time":{{.timestamp_unix_ms}},"transport_protocol":"udp","first_activity_time":"{{.timestamp_unix_ms}}","{{.Domains}}":"1","{{.Domains}}_5m_bytes":"90","{{.Domains}}_15m_bytes":"90","{{.Domains}}_30m_bytes":"90","{{.Domains}}_packet_bytes":90,"{{.Domains}}_packet_bytes":"90","{{.Domains}}_packet_bytes":"90","vlan_id":"100"}