{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTPS request from {{.IPs}}:56029 to {{.Domains}}:443. Action: Deny. No rule matched. Proceeding with default action"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}0990Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTPS request from {{.IPs}}:49553 to {{.Domains}}:443. Action: Allow. Policy: azfwpolicy-nbfw-prd-weeu-01. Rule Collection Group: DefaultApplicationRuleCollectionGroup. Rule Collection: enablement-genericwebcategory-prd-allow-200. Rule: Allowed Business-Use Webcategories. Web Category: ComputersAndTechnology"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}0680Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTP  request from {{.IPs}}:50776 to {{.Domains}}:80. Url: {{.Domains}}/MFQ=. Action: Allow. Policy: azfwpolicy-nbfw-prd-weeu-01. Rule Collection Group: DefaultApplicationRuleCollectionGroup. Rule Collection: generic-allow-500. Rule: Azure-to-AllowedServices, HTTP"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5100Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTPS request from {{.IPs}}:59060 to {{.Domains}}:443. Action: Deny. Failed to resolve address {{.Domains}}:443: lookup {{.Domains}} on {{.IPs}}:53: no such host"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}6770Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTPS request from {{.IPs}}:6065. Action: Deny. Reason: SNI TLS extension was missing."},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}2780Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTPS request from {{.IPs}}:59051 to {{.Domains}}:443. Action: Allow. Rule Collection: App-Coll01. Rule: Allow-Google"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}9360Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallApplicationRule","operationName":"AzureFirewallApplicationRuleLog","properties":{"msg":"HTTP  request from {{.IPs}}:60301 to {{.Domains}}:80. Url: {{.Domains}}/d/msdownload/update/software/updt/2022/04/windows10.0-kb5013890-x64-ndp48_{{.Domains}}. Action: Deny. No rule matched. Proceeding with default action"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}9360Z"}
---EVENT_DELIMITER---
{"category":"AZFWApplicationRule","properties":{"Action":"Allow","ActionReason":"reason","DestinationIp":"{{.IPs}}","DestinationPort": 123,"Fqdn":"","IsExplicitProxyRequest":false,"IsTlsInspected":false,"Policy":"policy","Protocol":"HTTP","Rule":"ApplicationRule","RuleCollection":"ApplicationRuleSet","RuleCollectionGroup":"ApplicationRuleGroup","SourceIp":"{{.IPs}}","SourcePort":1234,"TargetUrl":"https://{{.Domains}}/en-us/about","WebCategory":"category"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}4370Z"}
---EVENT_DELIMITER---
{"category":"AZFWDnsQuery","properties":{"DnssecOkBit":false,"EDNS0BufferSize":512,"ErrorMessage":"","ErrorNumber":0,"Protocol":"udp","QueryClass":"IN","QueryId":35817,"QueryName":"{{.Domains}}.","QueryType":"A","RequestDurationSecs":0.0000286,"RequestSize":32,"ResponseCode":"NOERROR","ResponseFlags":"qr,aa,rd,ra","ResponseSize":152,"SourceIp":"{{.IPs}}","SourcePort":47785},"resourceId":"/SUBSCRIPTIONS/56D199A8-724E-436D-B7F2-5F6F7694EABD/RESOURCEGROUPS/PROD-WESTUS3/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/PROD-WESTUS3","time":"{{.timestamp_iso}}3870Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallDnsProxy","operationName":"AzureFirewallDnsProxyLog","properties":{"msg":"DNS Request: {{.IPs}}:61248 - 6513 A IN {{.Domains}}. udp 43 false 512 NXDOMAIN qr,rd,ra 145 0.002846368s"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}7790Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallDnsProxy","operationName":"AzureFirewallDnsProxyLog","properties":{"msg":"DNS Request: {{.IPs}}:61248 - 31105 A IN {{.Domains}}. udp 60 false 512 NOERROR qr,rd,ra 216 0.003410663s"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5210Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallDnsProxy","operationName":"AzureFirewallDnsProxyLog","properties":{"msg":"DNS Request: {{.IPs}}:61248 - 47038 A IN {{.Domains}}. udp 43 false 512 NXDOMAIN qr,aa,rd,ra 145 0.000098699s"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}2260Z"}
---EVENT_DELIMITER---
{"category":"AZFWNatRule","properties":{"DestinationIp":"{{.IPs}}","DestinationPort":999,"Policy":"policy","Protocol":"TCP","Rule":"NATSecurityRule","RuleCollection":"NATRuleSet","RuleCollectionGroup":"NATRuleGroup","SourceIp":"{{.IPs}}","SourcePort":1234,"TranslatedIp":"{{.IPs}}","TranslatedPort":999},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}8940Z"}
---EVENT_DELIMITER---
{"category":"AZFWNetworkRule","properties":{"Action":"Allow","ActionReason":"action reason","DestinationIp":"{{.IPs}}","DestinationPort":1234,"Policy":"policy","Protocol":"TCP","Rule":"NetworkSecurityRule","RuleCollection":"NetworkRuleSet","RuleCollectionGroup":"NetworkRuleGroup","SourceIp":"{{.IPs}}","SourcePort":1234},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}4370Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"ICMP Type=8 request from {{.IPs}} to {{.IPs}}. Action: Deny. "},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}2560Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"UDP request from {{.IPs}}:51106 to {{.IPs}}:53. Action: Allow. "},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5590Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"TCP request from {{.IPs}}:49680 to {{.IPs}}:1688. Action: Deny. "},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}2050Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNatRuleLog","properties":{"msg":"TCP request from {{.IPs}}:50306 to {{.IPs}}:3389 was DNAT'ed to {{.IPs}}:3389"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNatRuleLog","properties":{"msg":"TCP request from {{.IPs}}:50306 to {{.IPs}}:3389 was DNAT'ed to {{.IPs}}:3389. Policy: policy-01. Rule Collection Group: DefaultDnatRuleCollectionGroup. Rule Collection: DNAT. Rule: rule"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"TCP request from {{.IPs}}:51890 to {{.IPs}}:443. Action: drop. Signature: 2028816. IDS: JA3 Hash - [{{.Domains}}] Possible Tofsee. Priority: 3. Classification: Unknown Traffic"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"TCP request from {{.IPs}}:54854 to {{.IPs}}:1521. Action: alert. Signature: 2102649. IDS: SQL service_name buffer overflow attempt. Priority: 1. Classification: Attempted User Privilege Gain"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"HTTP request from {{.IPs}}:54314 to {{.Domains}}:80. Url: {{.Domains}}. Action: Deny. ThreatIntel: Bot Networks"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"ICMP request from {{.IPs}}: to {{.IPs}}:. Action: alert. Signature: 2100366. IDS: ICMP_INFO PING *NIX. Priority: 3. Classification: Misc activity"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"TCP request from {{.IPs}}:50306 to {{.IPs}}:3389. Action: Allow.. Rule Collection: Permit_RFC1918. Rule: Permit_RFC1918"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}099+00:00"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNatRuleLog","properties":{"msg":"TCP request from {{.IPs}}:50306 to {{.IPs}}:3388 was DNAT'ed to {{.IPs}}:3388. Rule Collection: DNAT. Rule: rule"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}5380Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallNetworkRuleLog","properties":{"msg":"TCP request from {{.IPs}}:49680 to {{.IPs}}:1688. Action: Allow. Policy: ABC-DEF-01. Rule Collection Group: DefaultNetworkRuleCollectionGroup. Rule Collection: NetworkRulesAllow. Rule: AllowInternetOut"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/FW-TEST-MAIN","time":"{{.timestamp_iso}}4940Z"}
---EVENT_DELIMITER---
{"category":"AzureFirewallNetworkRule","operationName":"AzureFirewallThreatIntelLog","properties":{"msg":"TCP request from {{.IPs}}:49680 to {{.IPs}}:1688. Action: Deny. ThreatIntel: Destination reported by Threat Intelligence"},"resourceId":"/SUBSCRIPTIONS/23103928-B2CF-472A-8CDB-0146E2849129/RESOURCEGROUPS/TEST-FW-RG/PROVIDERS/{{.Domains}}/AZUREFIREWALLS/TEST-FW01","time":"{{.timestamp_iso}}499+00:00"}