{"version":1,"timestamp":{{.timestamp_unix_s}},"action":"End","duration":8436,"src_iface":"eth0","src_ip":"{{.IPs}}","src_port":40532,"src_mac":"00:0c:29:9a:0a:78","dst_iface":"eth0","dst_ip":"{{.IPs}}","dst_port":443,"dst_mac":"00:0c:29:00:d6:00","fw_rule":"BOX-LAN-2-INTERNET","app_rule":"<App>:ALL-APPS","fw_info":2007,"src_ip_nat":"{{.IPs}}","dst_ip_nat":"{{.IPs}}","fwd_bytes":7450,"rev_bytes":561503,"fwd_packets":129,"rev_packets":439,"ip_proto":6,"protos":["HTTPS direct","HTTPS","All HTTP protocols"],"apps":["Web browsing", "Microsoft Services"]}
---EVENT_DELIMITER---
{"app_target":"{{.Domains}}","component":"firewall","date":"2018 05 15","description":"Eicar-Test-Signature","dst_ip":"{{.IPs}}","operation":"Block","port":"443","severity":"Warning","src_ip":"{{.IPs}}","threat_severity":"3","time":"15:42:27","timestamp":"{{.timestamp_iso}}+00:00","timezone":"+00:00","trans_proto":"TCP","type":"Virus","user":"user42"}
---EVENT_DELIMITER---
{"app_target":"{{.Domains}}","component":"firewall","date":"2018 05 15","description":"ad43f5fc1d679c8d766824abb41b2b28b364c3c8;.pdf","dst_ip":"{{.IPs}}","operation":"Block","port":"80","severity":"Warning","src_ip":"{{.IPs}}","threat_severity":"3","time":"15:42:32","timestamp":"{{.timestamp_iso}}+00:00","timezone":"+00:00","trans_proto":"TCP","type":"ATD","user":"user42"}
---EVENT_DELIMITER---
{"component":"firewall","date":"2018 05 15","description":"ID: 1054837 WEB Remote File Inclusion /etc/passwd","dst_ip":"{{.IPs}}","ips_category":"Web Attack","operation":"Block","port":"80","severity":"Warning","src_ip":"{{.IPs}}","threat_severity":"3","time":"15:46:06","timestamp":"{{.timestamp_iso}}+00:00","timezone":"+00:00","trans_proto":"TCP","type":"IPS","user":"user45"}
---EVENT_DELIMITER---
{"timestamp":{{.timestamp_unix_ms}},"traffic_type":0,"action":0,"source_ip":"{{.IPs}}","source_port":"50646","destination_ip":"{{.IPs}}","destination_port":"443","method":"GET","status_code":"200","user_agent":"wget/1.19.2 (linux-gnu)","content_type":"text/html; charset=UTF-8","name":"https://{{.Domains}}/","size":59558,"domain":"{{.Domains}}","category":["79"],"user":"{{.IPs}}","user_type":0,"fw_rule":"LAN-2-INTERNET","app_rule":"<App>:<pass-no-match>"}
---EVENT_DELIMITER---
{"timestamp":{{.timestamp_unix_ms}},"traffic_type":0,"action":0,"source_ip":"{{.IPs}}","source_port":"50159","destination_ip":"{{.IPs}}","destination_port":"443","method":"GET","status_code":"200","user_agent":"mozilla/5.0 (windows nt 6.1) applewebkit/537.36 (khtml, like gecko) chrome/66.0.3359.139 safari/537.36","content_type":"","name":"https://{{.Domains}}/chrome-variations/seed?osname=win&channel=stable&milestone=66","size":0,"domain":"{{.Domains}}","category":[],"user":"{{.IPs}}","user_type":0,"fw_rule":"LAN-2-INTERNET","app_rule":"<App>:<pass-no-match>"}