{"id":"26704b44-d1b0-4362-8221-579e604f40cb","type":"message_{{.Domains}}","created_at":"{{.timestamp_iso}}649Z","data":{"request":{"id":"ca817b01-cfaa-40ea-ab80-30b6a8e6ef08","path":"/v1/messages/groups/search","method":"GET","query":{},"body":"","api_key_name":"demo mode key","authentication_method":"api_key","ip":"{{.IPs}}","user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36"}},"created_by":{"id":"6e6eca05-4fea-406b-86d4-b40177e25474","active":true,"first_name":"Bob","last_name":"User","email_address":"{{.Emails}}","phone_number":null,"created_at":"{{.timestamp_iso}}426Z","updated_at":"{{.timestamp_iso}}426Z","role":"admin","is_enrolled":true,"google_oauth_user_id":"","microsoft_oauth_user_id":""}}