{{.IPs}} - - {{.timestamp_clf_timezone}} "GET / HTTP/1.1" 200 612 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.59 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /{{.Domains}} HTTP/1.1" 404 571 "http://localhost:8080/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.59 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /adsasd HTTP/1.1" 404 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.59 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET / HTTP/1.1" 200 612 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /{{.Domains}} HTTP/1.1" 404 571 "http://localhost:8080/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /test HTTP/1.1" 404 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /test HTTP/1.1" 404 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /test1 HTTP/1.1" 404 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /test1 HTTP/1.1" 404 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET / HTTP/1.1" 304 0 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET / HTTP/1.1" 304 0 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /taga HTTP/1.1" 404 169 45.324 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.Domains}} {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /A%20Beka%20G1%20Howe/029_AND_30/15%20reading%{{.Domains}}4 HTTP/1.1" 206 7648063 "http://{{.Domains}}/A%20Beka%20G1%20Howe/029_AND_30/15%20reading%{{.Domains}}4" "Mozilla/5.0 (Linux; Android 5.1.1; KFFOWI) AppleWebKit/537.36 (KHTML, like Gecko) Silk/81.2.16 like Chrome/81.0.4044.138 Safari/537.36"
---EVENT_DELIMITER---
{{.Domains}} {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B0%D1%8F%20%D1%88%D0%BA%D0%BE%D0%BB%D0%B0%20-%20InternetUrok%201%D0%BA%D0%BB%D0%B0%D1%81%D1%81/ HTTP/1.1" 206 7648063 "http://{{.Domains}}/A%20Beka%20G1%20Howe/029_AND_30/15%20reading%{{.Domains}}4" "Mozilla/5.0 (Linux; Android 5.1.1; KFFOWI) AppleWebKit/537.36 (KHTML, like Gecko) Silk/81.2.16 like Chrome/81.0.4044.138 Safari/537.36"
---EVENT_DELIMITER---
{{.IPs}}, {{.IPs}}, {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /ocelot HTTP/1.1" 200 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /stringpatch HTTP/1.1" 404 612 "-" "Mozilla/5.0 (Windows NT 6.1; rv:15.0) Gecko/20120716 Firefox/15.0a2" "-"
---EVENT_DELIMITER---
{{.IPs}}, {{.IPs}}, {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /ocelot HTTP/1.1" 200 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /ocelot HTTP/1.1" 200 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36"
---EVENT_DELIMITER---
"{{.IPs}}, {{.IPs}}, {{.IPs}}" {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /assets/xxxx?q=100 HTTP/1.1" 200 25507 "-" "Amazon CloudFront"
---EVENT_DELIMITER---
2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6, {{.IPs}} {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /{{.Domains}} HTTP/1.1" 404 8571 "-" "Mozilla/5.0 (compatible; Facebot 1.0; https://{{.Domains}}/docs/sharing/webmasters/crawler)"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "" 400 0 "-" "-"
---EVENT_DELIMITER---
unix: - - {{.timestamp_clf_timezone}} "hello" 400 173 "-" "-"
---EVENT_DELIMITER---
localhost - - {{.timestamp_clf_timezone}} "GET /test2 HTTP/1.1" 200 612 "-" "Mozilla/5.0 (Windows NT 6.1; rv:15.0) Gecko/20120716 Firefox/15.0a2" "-"
---EVENT_DELIMITER---
localhost, localhost - - {{.timestamp_clf_timezone}} "GET /test2 HTTP/1.1" 200 612 "-" "Mozilla/5.0 (Windows NT 6.1; rv:15.0) Gecko/20120716 Firefox/15.0a2" "-"
---EVENT_DELIMITER---
{{.Domains}} {{.IPs}}, {{.IPs}}, {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /ocelot HTTP/1.1" 200 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.Domains}} {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /stringpatch HTTP/1.1" 404 612 "-" "Mozilla/5.0 (Windows NT 6.1; rv:15.0) Gecko/20120716 Firefox/15.0a2" "-"
---EVENT_DELIMITER---
{{.Domains}} {{.IPs}}, {{.IPs}}, {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /ocelot HTTP/1.1" 200 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0"
---EVENT_DELIMITER---
{{.Domains}}:80 {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /ocelot HTTP/1.1" 200 571 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36"
---EVENT_DELIMITER---
{{.Domains}}:80 "{{.IPs}}, {{.IPs}}, {{.IPs}}" {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /assets/xxxx?q=100 HTTP/1.1" 200 25507 "-" "Amazon CloudFront"
---EVENT_DELIMITER---
{{.IPs}} 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6, {{.IPs}} {{.IPs}} - - {{.timestamp_clf_timezone}} "GET /{{.Domains}} HTTP/1.1" 404 8571 "-" "Mozilla/5.0 (compatible; Facebot 1.0; https://{{.Domains}}/docs/sharing/webmasters/crawler)"
---EVENT_DELIMITER---
{{.IPs}}:80 {{.IPs}} - - {{.timestamp_clf_timezone}} "" 400 0 "-" "-"
---EVENT_DELIMITER---
{{.Domains}}:80 unix: - - {{.timestamp_clf_timezone}} "hello" 400 173 "-" "-"
---EVENT_DELIMITER---
{{.IPs}} localhost - - {{.timestamp_clf_timezone}} "GET /test2 HTTP/1.1" 200 612 "-" "Mozilla/5.0 (Windows NT 6.1; rv:15.0) Gecko/20120716 Firefox/15.0a2" "-"
---EVENT_DELIMITER---
{{.Domains}} localhost, localhost - - {{.timestamp_clf_timezone}} "GET /test2 HTTP/1.1" 200 612 25.647 "-" "Mozilla/5.0 (Windows NT 6.1; rv:15.0) Gecko/20120716 Firefox/15.0a2" "-"