{"prometheus":{"labels":{"instance":"{{.IPs}}","jndiname":"jdbc/DefaultEJBTimerDataSource","job":"prometheus"},"metrics":{"was_connectionpool_allocate_total":0,"was_connectionpool_close_total":0,"was_connectionpool_connectionHandles":0,"was_connectionpool_create_total":0,"was_connectionpool_fault_total":0,"was_connectionpool_free_connections":0,"was_connectionpool_inUse_time_seconds_total":0,"was_connectionpool_inUse_total":0,"was_connectionpool_jdbcOperation_time_seconds_total":0,"was_connectionpool_jdbcOperations_total":0,"was_connectionpool_managed_connections":0,"was_connectionpool_prepStmtCacheDiscard_total":0,"was_connectionpool_return_total":0,"was_connectionpool_size":0,"was_connectionpool_utilization":0,"was_connectionpool_wait_time_seconds_total":0,"was_connectionpool_wait_total":0,"was_connectionpool_waiting_threads":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"instance":"{{.IPs}}","jndiname":"jdbc/built-in-derby-datasource","job":"prometheus"},"metrics":{"was_connectionpool_allocate_total":0,"was_connectionpool_close_total":0,"was_connectionpool_connectionHandles":0,"was_connectionpool_create_total":0,"was_connectionpool_fault_total":0,"was_connectionpool_free_connections":0,"was_connectionpool_inUse_time_seconds_total":0,"was_connectionpool_inUse_total":0,"was_connectionpool_jdbcOperation_time_seconds_total":0,"was_connectionpool_jdbcOperations_total":0,"was_connectionpool_managed_connections":0,"was_connectionpool_prepStmtCacheDiscard_total":0,"was_connectionpool_return_total":0,"was_connectionpool_size":0,"was_connectionpool_utilization":0,"was_connectionpool_wait_time_seconds_total":0,"was_connectionpool_wait_total":0,"was_connectionpool_waiting_threads":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"instance":"{{.IPs}}","jndiname":"jms/built-in-jms-connectionfactory","job":"prometheus"},"metrics":{"was_connectionpool_allocate_total":0,"was_connectionpool_close_total":0,"was_connectionpool_connectionHandles":0,"was_connectionpool_create_total":0,"was_connectionpool_fault_total":0,"was_connectionpool_free_connections":0,"was_connectionpool_inUse_time_seconds_total":0,"was_connectionpool_inUse_total":0,"was_connectionpool_managed_connections":0,"was_connectionpool_return_total":0,"was_connectionpool_size":0,"was_connectionpool_utilization":0,"was_connectionpool_wait_time_seconds_total":0,"was_connectionpool_wait_total":0,"was_connectionpool_waiting_threads":0}}}