{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus","servlet":"EventInitializer"},"metrics":{"was_servlet_asyncContext_response_time_seconds_total":0,"was_servlet_asyncContext_responses_total":0,"was_servlet_concurrent_requests":0,"was_servlet_errors_total":0,"was_servlet_requests_total":0,"was_servlet_response_time_seconds_total":0,"was_servlet_responses_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus","servlet":"JAX-RS Servlet"},"metrics":{"was_servlet_asyncContext_response_time_seconds_total":0,"was_servlet_asyncContext_responses_total":0,"was_servlet_concurrent_requests":0,"was_servlet_errors_total":0,"was_servlet_requests_total":0,"was_servlet_response_time_seconds_total":0,"was_servlet_responses_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus","servlet":"MetricsServlet"},"metrics":{"was_servlet_asyncContext_response_time_seconds_total":0,"was_servlet_asyncContext_responses_total":0,"was_servlet_concurrent_requests":1,"was_servlet_errors_total":0,"was_servlet_requests_total":83,"was_servlet_response_time_seconds_total":2.794,"was_servlet_responses_total":82}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus","servlet":"MetricsServlet","uri":"/metrics"},"metrics":{"was_servlet_uri_asyncContext_response_time_seconds_total":0,"was_servlet_uri_asyncContext_responses_total":0,"was_servlet_uri_concurrent_requests":1,"was_servlet_uri_requests_total":83,"was_servlet_uri_response_time_seconds_total":2.794,"was_servlet_uri_responses_total":82}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus","servlet":"transfer"},"metrics":{"was_servlet_asyncContext_response_time_seconds_total":0,"was_servlet_asyncContext_responses_total":0,"was_servlet_concurrent_requests":0,"was_servlet_errors_total":0,"was_servlet_requests_total":0,"was_servlet_response_time_seconds_total":0,"was_servlet_responses_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus","servlet":"rspservlet"},"metrics":{"was_servlet_asyncContext_response_time_seconds_total":0,"was_servlet_asyncContext_responses_total":0,"was_servlet_concurrent_requests":0,"was_servlet_errors_total":0,"was_servlet_requests_total":0,"was_servlet_response_time_seconds_total":0,"was_servlet_responses_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"appname":"{{.Domains}}","instance":"{{.IPs}}","job":"prometheus"},"metrics":{"was_servlet_loaded_total":0,"was_servlet_reload_total":0}}}