{"dest_network":"Industrial","source_site_name":"Houston_Line_1","dest_device_type":"PLC","event_type":"Configuration Upload","detection_time":"{{.timestamp_iso}}489+00:00","dest_port":2222,"protocol":"CIP","source_network":"Industrial","source_port":56576,"source_asset_id":"MNCYPGV","source_ip":"{{.IPs}}","source_device_name":"{{.IPs}}","mode":"mode1","source_device_type":"Engineering Station","dest_ip":"{{.IPs}}","related_alert_ids":[1000039,10076],"dest_asset_id":"EHBLLGK","source_username":"user1","dest_site_name":"NY-BR-212","description":"Configuration Upload was detected from {{.IPs}} (Engineering Station) to {{.IPs}} (PLC)","dest_device_name":"dvc1","event_id":12,"ip_protocol":"UDP"}
---EVENT_DELIMITER---
{"description":"Configuration Upload was detected from {{.IPs}} (Engineering Station) to {{.IPs}} (PLC)","source_device_name":"DESKTOP-WPOHUB","dest_site_name":"NY-BR-212","dest_ip":"{{.IPs}}","source_site_name":"AL-LHR","dest_network":"Industrial","source_asset_id":"FZAATCV","dest_device_name":"dest_device_1","event_type":"Configuration Upload","source_port":56095,"source_device_type":"Engineering Station","source_username":null,"mode":null,"dest_asset_id":"EHBLLGK","detection_time":"{{.timestamp_iso}}454+00:00","source_network":"Industrial","dest_port":2222,"source_ip":"{{.IPs}}","protocol":"CIP","related_alert_ids":[1000039],"dest_device_type":"PLC","event_id":317,"ip_protocol":"UDP"}
---EVENT_DELIMITER---
{"description":"Settings Change was detected from {{.IPs}} (Engineering Station) to {{.IPs}} (Controller)","source_device_name":"DESKTOP-KMXRPT","dest_site_name":"SV_1","dest_ip":"{{.IPs}}","source_site_name":"Chicago_Line_2","dest_network":"Industrial","source_asset_id":"BPPLFDC","dest_device_name":"{{.IPs}}","event_type":"Settings Change","source_port":56404,"source_device_type":"Engineering Station","source_username":null,"mode":null,"dest_asset_id":"NOBGGYL","detection_time":"{{.timestamp_iso}}589+00:00","source_network":"Industrial","dest_port":18519,"source_ip":"{{.IPs}}","protocol":"DeltaV","related_alert_ids":[1000049],"dest_device_type":"Controller","event_id":201,"ip_protocol":"TCP"}
---EVENT_DELIMITER---
{"description":"Configuration Upload was detected from {{.IPs}} (Engineering Station) to {{.IPs}} (PLC)","source_device_name":"DESKTOP-LCNDRY","dest_site_name":"Washington","dest_ip":"{{.IPs}}","source_site_name":"Houston_Line_1","dest_network":"Industrial","source_asset_id":"KLGJAGI","dest_device_name":"{{.IPs}}","event_type":"Configuration Upload","source_port":56438,"source_device_type":"Engineering Station","source_username":null,"mode":null,"dest_asset_id":"DOQHTTY","detection_time":"{{.timestamp_iso}}885+00:00","source_network":"Industrial","dest_port":2222,"source_ip":"{{.IPs}}","protocol":"CIP","related_alert_ids":[1000039],"dest_device_type":"PLC","event_id":220,"ip_protocol":"UDP"}
---EVENT_DELIMITER---
{"detection_time":"{{.timestamp_iso}}489+00:00","dest_ip":"{{.IPs}}","dest_port":2222,"event_id":12,"description":"Configuration Upload was detected from {{.IPs}} (Engineering Station) to {{.IPs}} (PLC)","protocol":"CIP","ip_protocol":"UDP","source_ip":"{{.IPs}}","source_port":56576,"source_username":"admin","event_type":"Configuration Upload","source_asset_id":"MNCYPGV","source_device_name":"DESKTOP-JUFLZS","dest_asset_id":"EHBLLGK","dest_device_name":"{{.IPs}}"}