Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] '{{.IPs}}'
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '5q7ay9d08jgtf' and inst_id = 1 and child_address = hextoraw('00000000645509D0')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] '{{.Domains}}'
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '5q7ay9d08jgtf' and inst_id = 1 and child_address = hextoraw('00000000645509D0')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '5q7ay9d08jgtf' and inst_id = 1 and child_address = hextoraw('00000000645509D0')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '5q7ay9d08jgtf' and inst_id = 1 and child_address = hextoraw('00000000645509D0')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '3cmwr02yfw7ud' and inst_id = 1 and child_address = hextoraw('0000000064E538F8')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '3cmwr02yfw7ud' and inst_id = 1 and child_address = hextoraw('0000000064E538F8')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '3cmwr02yfw7ud' and inst_id = 1 and child_address = hextoraw('0000000064E538F8')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '392'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',
---EVENT_DELIMITER---
                                   'false') EXEC_FROM_DBMS_XPLAN */ * from gv$all_sql_plan where 1=0'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Wed {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH : '366'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM gv$all_sql_plan where sql_id = '3cmwr02yfw7ud' and inst_id = 1 and child_address = hextoraw('0000000064E538F8')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[4] 'NONE'
---EVENT_DELIMITER---
CLIENT USER:[0] ''
---EVENT_DELIMITER---
CLIENT TERMINAL:[7] 'UNKNOWN'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '2824230686'
---EVENT_DELIMITER---
SESSIONID:[1] '0'
---EVENT_DELIMITER---
USERHOST:[13] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[1] '3'
---EVENT_DELIMITER---
Thu {{.timestamp_syslog}} 2021 -05:00
---EVENT_DELIMITER---
LENGTH : '2462'
---EVENT_DELIMITER---
ACTION :[2192] 'DECLARE
---EVENT_DELIMITER---
  link_failed boolean;
---EVENT_DELIMITER---
BEGIN
---EVENT_DELIMITER---
       FOR f IN (  SELECT *
---EVENT_DELIMITER---
                     FROM test_db
---EVENT_DELIMITER---
                   where field1 not in ('teststring')
---EVENT_DELIMITER---
                     and field1 = upper('teststring2')
---EVENT_DELIMITER---
                     and test_db = upper('{{.Domains}}')
---EVENT_DELIMITER---
                 ORDER BY field, test_db)
---EVENT_DELIMITER---
       LOOP
---EVENT_DELIMITER---
           {{.Domains}}_job (
---EVENT_DELIMITER---
               job_name     => {{.Domains}} || '.TESTSTRING',
---EVENT_DELIMITER---
               job_type     => 'TESTSTRING',
---EVENT_DELIMITER---
               job_action   =>    'TESTSTRING '
---EVENT_DELIMITER---
                               || '  TESTSTRING; '
---EVENT_DELIMITER---
                               || 'TESTSTRING '
---EVENT_DELIMITER---
                               || '  SELECT dummy into x from TEST@'
---EVENT_DELIMITER---
                               || {{.Domains}}3
---EVENT_DELIMITER---
                               || '  ;'
---EVENT_DELIMITER---
                               || '  {{.Domains}}_line('''
---EVENT_DELIMITER---
                               || {{.Domains}}2
---EVENT_DELIMITER---
                               || ' '
---EVENT_DELIMITER---
                               || {{.Domains}}
---EVENT_DELIMITER---
                               || '     VALID !!!!!!!!!!!!!!!!!!'');'
---EVENT_DELIMITER---
                               || 'END ; ');
---EVENT_DELIMITER---
          BEGIN
---EVENT_DELIMITER---
               {{.Domains}}_job ({{.Domains}} || '.TESTSTRING ', TRUE);
---EVENT_DELIMITER---
           EXCEPTION
---EVENT_DELIMITER---
               WHEN OTHERS
---EVENT_DELIMITER---
               THEN
---EVENT_DELIMITER---
                   link_failed:=true;
---EVENT_DELIMITER---
                   {{.Domains}}_line (
---EVENT_DELIMITER---
                          {{.Domains}}
---EVENT_DELIMITER---
                       || ' '
---EVENT_DELIMITER---
                       || {{.Domains}}_link
---EVENT_DELIMITER---
                       || ' INVALID (ORA'
---EVENT_DELIMITER---
                       || SQLCODE
---EVENT_DELIMITER---
                       || ')');
---EVENT_DELIMITER---
           END;
---EVENT_DELIMITER---
           {{.Domains}} ({{.Domains}} || ' . TESTSTRING ');
---EVENT_DELIMITER---
           if link_failed THEN
---EVENT_DELIMITER---
              {{.Domains}}_line (
---EVENT_DELIMITER---
                     {{.Domains}}
---EVENT_DELIMITER---
                  || ' '
---EVENT_DELIMITER---
                  || {{.Domains}}
---EVENT_DELIMITER---
                  || ' TESTSTRING - TEST (ORA'
---EVENT_DELIMITER---
                  || SQLCODE
---EVENT_DELIMITER---
                  || ')');
---EVENT_DELIMITER---
              insert into {{.Domains}}
---EVENT_DELIMITER---
                values ({{.Domains}}, {{.Domains}}, 'INVALID', sysdate);
---EVENT_DELIMITER---
              commit;
---EVENT_DELIMITER---
           else
---EVENT_DELIMITER---
              insert into {{.Domains}}
---EVENT_DELIMITER---
                values ({{.Domains}}, {{.Domains}}, 'VALID', sysdate);
---EVENT_DELIMITER---
              commit;
---EVENT_DELIMITER---
           end if;
---EVENT_DELIMITER---
       END LOOP;
---EVENT_DELIMITER---
END;'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
PRIVILEGE :[6] 'SYSDBA'
---EVENT_DELIMITER---
CLIENT USER:[6] 'oracle'
---EVENT_DELIMITER---
CLIENT TERMINAL:[5] 'pts/0'
---EVENT_DELIMITER---
STATUS:[1] '0'
---EVENT_DELIMITER---
DBID:[10] '123'
---EVENT_DELIMITER---
SESSIONID:[10] '123'
---EVENT_DELIMITER---
USERHOST:[24] '{{.Domains}}'
---EVENT_DELIMITER---
CLIENT ADDRESS:[0] ''
---EVENT_DELIMITER---
ACTION NUMBER:[2] '47'
---EVENT_DELIMITER---
Thu {{.timestamp_syslog}} 2021 -04:00
---EVENT_DELIMITER---
LENGTH: "385"
---EVENT_DELIMITER---
SESSIONID:[10] "12354" ENTRYID:[1] "1" STATEMENT:[1] "9" USERID:[11] "TEST_USER" USERHOST:[25] "{{.Domains}}" TERMINAL:[7] "unknown" ACTION:[3] "103" RETURNCODE:[1] "0" OBJ$CREATOR:[11] "TEST_OBJ" OBJ$NAME:[10] "ATTRIBUTES" SES$ACTIONS:[16] "---------S------" SES$TID:[6] "157827" OS$USERID:[8] "test_id" DBID:[10] "12345" CURRENT_USER:[11] "TEST_USR"
---EVENT_DELIMITER---
Mon {{.timestamp_syslog}} 2020 -04:00
---EVENT_DELIMITER---
LENGTH: "361"
---EVENT_DELIMITER---
SESSIONID:[9] "123456" ENTRYID:[1] "1" STATEMENT:[1] "1" USERID:[14] "TEST_USER" USERHOST:[26] "{{.Domains}}" TERMINAL:[7] "unknown" ACTION:[3] "100" RETURNCODE:[1] "0" COMMENT$TEXT:[99] "TEST_COMMENT" OS$USERID:[8] "test_id" DBID:[10] "1123554"
---EVENT_DELIMITER---
Thu {{.timestamp_syslog}} 2021 -04:00
---EVENT_DELIMITER---
LENGTH : '377'
---EVENT_DELIMITER---
ACTION :[125] 'SELECT * FROM test$testtest where sql_id = 'query_id' and inst_id = 1 and child_address = hextoraw('00000000000000')'
---EVENT_DELIMITER---
DATABASE USER:[1] '/'
---EVENT_DELIMITER---
Tue {{.timestamp_syslog}} 2021 -04:00
---EVENT_DELIMITER---
LENGTH : '403'
---EVENT_DELIMITER---
ACTION :[151] 'select /*+ opt_param('parallel_execution_enabled',                                'false') TESTSTRING */ * from test$query 1=0'