{"timestamp":{{.timestamp_unix_ms}},"user":"{{.Emails}}","ipAddress":"{{.IPs}}","actionType":"LOGIN","resourceName":"{{.Emails}}","action":"'{{.Emails}}'(with role 'System Admin':'System Admin') logged in via access key.","resourceType":"Login","result":"fail"}
---EVENT_DELIMITER---
{"timestamp":{{.timestamp_unix_ms}},"user":"{{.Emails}}","ipAddress":"RedLock Internal IP","actionType":"LOGIN","resourceName":"{{.Emails}}","action":"'{{.Emails}}'(with role 'System Admin':'System Admin') logged in via access key.","resourceType":"Login","result":"fail"}
---EVENT_DELIMITER---
{"timestamp":{{.timestamp_unix_ms}},"user":"{{.Emails}}","actionType":"LOGIN","resourceName":"{{.Emails}}","action":"'{{.Emails}}'(with role 'System Admin':'System Admin') logged in via access key.","resourceType":"Login","result":"fail"}
---EVENT_DELIMITER---
{"timestamp":{{.timestamp_unix_ms}},"user":"{{.Domains}}","ipAddress":"{{.IPs}}","actionType":"LOGIN","resourceName":"{{.Emails}}","action":"'{{.Emails}}'(with role 'System Admin':'System Admin') logged in via access key.","resourceType":"Login","result":"fail"}
---EVENT_DELIMITER---
{"timestamp":{{.timestamp_unix_ms}},"ipAddress":"{{.IPs}}","actionType":"LOGIN","resourceName":"{{.Emails}}","action":"'{{.Emails}}'(with role 'System Admin':'System Admin') logged in via access key.","resourceType":"Login","result":"fail"}