{"indicator":"{{.IPs}}","itype":"ipv4","tlp":"white","provider":"{{.Domains}}","group":["everyone"],"count":1,"tags":["agenttesla","botnet","hunter"],"confidence":8.0,"description":"agent tesla","uuid":"3fbdd654-b2b0-498c-8e20-ef87bce73672","reference":"https://{{.Domains}}/ioc/838651/","rdata":"http://{{.IPs}}/theme/inc/{{.Domains}}","firsttime":"{{.timestamp_iso}}000Z","lasttime":"{{.timestamp_iso}}696Z","reporttime":"{{.timestamp_iso}}696Z","indicator_ipv4":"{{.IPs}}"}
---EVENT_DELIMITER---
{"indicator":"{{.IPs}}","itype":"ipv4","tlp":"white","provider":"{{.Domains}}","group":["everyone"],"count":1,"tags":["agenttesla","botnet","hunter"],"confidence":8.0,"description":"agent tesla","uuid":"3fbdd654-b2b0-498c-8e20-ef87bce73672","reference":"https://{{.Domains}}/ioc/838651/","rdata":"http://{{.IPs}}/theme/inc/{{.Domains}}","firsttime":"{{.timestamp_iso}}000Z","lasttime":"{{.timestamp_iso}}696Z","reporttime":"{{.timestamp_iso}}696Z","indicator_ipv4":"{{.IPs}}"}