{"abx_message_id":-7361381340273523750,"recipient":{"email":"{{.Emails}}","name":"Phishing Test"},"reported_datetime":"{{.timestamp_iso}}","reporter":{"email":"{{.Emails}}","name":"Reporter Test"},"subject":"Re: Subject","not_analyzed_reason":"ROUTED_SUBMISSION"}
---EVENT_DELIMITER---
{"abx_message_id":240750237502375023,"recipient":{"email":"{{.Emails}}","name":"Phishing Test"},"reported_datetime":"{{.timestamp_iso}}","reporter":{"email":"{{.Emails}}","name":"Test Example"},"subject":"Fw: Forwarded email","not_analyzed_reason":"INVALID_SUBMISSION"}
---EVENT_DELIMITER---
{"abx_message_id":-1234567891234567891,"recipient":{"email":"{{.Emails}}","name":"Phishing Test"},"reported_datetime":"{{.timestamp_iso}}","reporter":{"email":"{{.Emails}}","name":"Info Test"},"subject":"Fwd: Forwarded email","not_analyzed_reason":"PHISHING_SIMULATION"}