{"campaignId":"0c70588a-049c-3c35-9a23-217ddf0a53b5","firstReported":"{{.timestamp_iso}}","lastReported":"{{.timestamp_iso}}","messageId":"7063250485337877109","subject":"Days of Understanding 2024","fromName":"{{.Emails}}","fromAddress":"{{.Emails}}","recipientName":"john","recipientAddress":"{{.Emails}}","judgementStatus":"Safe","overallStatus":"No Action Needed","attackType":"Attack Type: Graymail"}
---EVENT_DELIMITER---
{"campaignId":"b4849d52-471b-396f-b737-775826c7e557","firstReported":"{{.timestamp_iso}}","lastReported":"{{.timestamp_iso}}","messageId":"8369181238656832368","subject":"Important document","fromName":"john","fromAddress":"{{.Emails}}","recipientName":"bob","recipientAddress":"{{.Emails}}","judgementStatus":"Spam","overallStatus":"","attackType":"Attack Type: Spam"}
---EVENT_DELIMITER---
{"campaignId":"2e1354de-f9cb-3192-82ff-714204358eb7","firstReported":"{{.timestamp_iso}}","lastReported":"{{.timestamp_iso}}","messageId":"-4661319438952668559","subject":"Your statement is available","fromName":"bob","fromAddress":"{{.Emails}}","recipientName":"john","recipientAddress":"{{.Emails}}","judgementStatus":"Spam","overallStatus":"","attackType":"Attack Type: Spam"}
---EVENT_DELIMITER---
{"campaignId":"8978dff3-7be5-3ab4-a841-30b90fc5788d","firstReported":"{{.timestamp_iso}}","lastReported":"{{.timestamp_iso}}","messageId":"-7731344566782869529","subject":"New Secure Message Scanned and sent","fromName":"{{.Emails}}","fromAddress":"{{.Emails}}","recipientName":"bob","recipientAddress":"{{.Emails}}","judgementStatus":"Malicious","overallStatus":"Auto-Remediated","attackType":"Attack Type: Scam"}
---EVENT_DELIMITER---
{"campaignId":"baee573f-4a06-3791-9ed7-4f5153a7fe5d","firstReported":"{{.timestamp_iso}}","lastReported":"{{.timestamp_iso}}","messageId":"7372776983204655999","subject":"Inform Tech Team","fromName":"john","fromAddress":"{{.Emails}}","recipientName":"bob","recipientAddress":"{{.Emails}}","judgementStatus":"Malicious","overallStatus":"Auto-Remediated","attackType":"Attack Type: Phishing: Credential"}