{"caseId":11151468,"affectedEmployee":"{{.Emails}}","analysis":"SIGN_IN","case_status":"Acknowledged (Attack resolved)","customerVisibleTime":"{{.timestamp_iso}}+00:00","firstObserved":"{{.timestamp_iso}}+00:00","remediation_status":"Not remediated","severity":"Account Takeover","severity_level":"LOW","threatIds":[]}
---EVENT_DELIMITER---
{"caseId":11153536,"affectedEmployee":"{{.Emails}}","analysis":"MAIL_FILTER","case_status":"Acknowledged (Attack resolved)","customerVisibleTime":"{{.timestamp_iso}}000+00:00","firstObserved":"{{.timestamp_iso}}000+00:00","remediation_status":"Not remediated","severity":"Account Takeover","severity_level":"HIGH","threatIds":[]}
---EVENT_DELIMITER---
{"caseId":11165798,"affectedEmployee":"{{.Emails}}","analysis":"RISK_EVENT","case_status":"Acknowledged (Not an attack)","customerVisibleTime":"{{.timestamp_iso}}000+00:00","firstObserved":"{{.timestamp_iso}}000+00:00","remediation_status":"Not remediated","severity":"Account Takeover","severity_level":"HIGH","threatIds":[]}
---EVENT_DELIMITER---
{"caseId":11175289,"affectedEmployee":"{{.Emails}}","analysis":"CROWDSTRIKE_INCIDENT","case_status":"Acknowledged (Not an attack)","customerVisibleTime":"{{.timestamp_iso}}000+00:00","firstObserved":"{{.timestamp_iso}}000+00:00","remediation_status":"Not remediated","severity":"Account Takeover","severity_level":"HIGH","threatIds":[]}
---EVENT_DELIMITER---
{"caseId":11178942,"affectedEmployee":"{{.Emails}}","analysis":"MAIL_FILTER","case_status":"Acknowledged (Not an attack)","customerVisibleTime":"{{.timestamp_iso}}000+00:00","firstObserved":"{{.timestamp_iso}}000+00:00","remediation_status":"Not remediated","severity":"Account Takeover","severity_level":"HIGH","threatIds":[]}