<134>{{.timestamp_syslog}} {{.Domains}} filterlog[97530]: 32,,,1535324496a,igb0,match,pass,in,6,0x0,0x00000,255,ipv6-icmp,58,16,fe80::208:9bff:fef3:652b,ff02::1:2,datalength=16
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} {{.Domains}} filterlog[97530]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,12617,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49724,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} {{.Domains}} filterlog[15307]: 6,,,{{.timestamp_unix_s}},igb1.27,match,block,in,6,0x00,0xf6279,1,UDP,17,32,fe80::208:9bff:fef3:652b,ff02::1:2,546,547,32
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} {{.Domains}} dhcpd[40152]: DHCPDISCOVER from 4c:55:41:a0:fa:99 via eth0.60
---EVENT_DELIMITER---
<30>{{.timestamp_syslog}} {{.Domains}} unbound[75499]: [26931:0] info: {{.IPs}} {{.Domains}}. A IN
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}-06:00 {{.Domains}} filterlog 76404 - [meta sequenceId="1"] 124,,,fae559338f65e11c53669fc3642c93c2,ixl1_vlan70,match,pass,out,4,0x0,,63,5687,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},40370,80,0,S,3364871769,,65535,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}-04:00 {{.Domains}} filterlog 76549 - [meta sequenceId="7299"] 13,,,02f4bab031b57d1e30553ce08e0ec131,igb1,match,block,in,4,0x0,,128,56110,0,none,17,udp,78,{{.IPs}},{{.IPs}},137,137,58
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}-04:00 {{.Domains}} /flowd_{{.Domains}} 73841 - [meta sequenceId="3653"] vacuum done
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,12617,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49724,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,32554,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49696,853,0,S,3995901112,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 176,,,{{.timestamp_unix_s}},igb1.27,match,pass,in,4,0xb8,,64,58355,0,none,17,udp,76,{{.IPs}},{{.IPs}},123,123,56
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,47260,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49726,853,0,S,2457553480,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,23391,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},56584,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,547,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},56542,853,0,S,3798927693,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 6,,,{{.timestamp_unix_s}},igb1.27,match,block,in,6,0x00,0xf6279,1,UDP,17,32,fe80::208:9bff:fef3:652b,ff02::1:2,546,547,32
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,47261,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49726,853,0,S,2457553480,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,1896,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49708,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,40620,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},56578,853,0,S,3864182524,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,25977,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49728,853,0,S,796254558,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,12618,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49724,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,11515,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49710,853,0,S,3494229132,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,48979,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49672,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 176,,,{{.timestamp_unix_s}},igb1.27,match,pass,in,4,0x0,,64,29691,0,DF,17,udp,78,{{.IPs}},{{.IPs}},137,137,58
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,25978,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49728,853,0,S,796254558,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 199,,,{{.timestamp_unix_s}},igb1.12,match,pass,in,4,0xc0,,1,0,0,DF,2,igmp,32,{{.IPs}},{{.IPs}},datalength=8
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 176,,,{{.timestamp_unix_s}},igb1.10,match,pass,in,4,0x0,,64,62096,0,DF,1,icmp,84,{{.IPs}},{{.IPs}},request,37728,164
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} filterlog[72237]: 199,,,{{.timestamp_unix_s}},igb1.15,match,pass,in,4,0x0,,64,0,0,DF,1,icmp,84,{{.IPs}},{{.IPs}},request,0,064
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[64305]: DHCPDISCOVER from 4c:55:41:a0:fa:99 via eth0.60
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[64305]: DHCPOFFER on {{.IPs}} to 4c:55:41:a0:fa:99 (computer-name) via eth0.60
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[64305]: DHCPREQUEST for {{.IPs}} ({{.IPs}}) from 4c:55:41:a0:fa:99 (computer-name) via eth0.60
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[64305]: DHCPACK on {{.IPs}} to 4c:55:41:a0:fa:99 (computer-name) via eth0.60
---EVENT_DELIMITER---
<13>{{.timestamp_syslog}} dhclient[89531]: RENEW
---EVENT_DELIMITER---
<13>{{.timestamp_syslog}} dhclient[89547]: Creating {{.Domains}}
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[64305]: Listening on BPF/igb1.15/5f:a5:54:63:cc:1f/{{.IPs}}/25
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[64305]: Sending on BPF/igb1.15/5f:a5:54:63:cc:1f/{{.IPs}}/25
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: restarting
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: Start address release
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: Sending Release
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: remove an address 2a02:cf40:72dc:dd12:7378:913c:b42e:099c/128 on igb0
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: Start address release
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: Sending Release
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: dhcp6c Received RELEASE
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: status code: success
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcp6c[10256]: add an address 2a02:cf40:72dc:dd12:7378:913c:b42e:099c/128 on igb0
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Listening on Socket/6/igb1.10/9f21:c09b:6837:e2f::/64
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Sending on Socket/6/igb1.10/9f21:c09b:6837:e2f::/64
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Server starting service.
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Solicit message from fe80::e6c9:2b22:f9db:bfad port 546, transaction ID 0x3C21A200
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Picking pool address 2a02:cf40:38d6:c4db:cafb:917b:44ec:c873
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Advertise NA: address 2a02:cf40:38d6:c4db:cafb:917b:44ec:c873 to client with duid 00:02:00:00:0d:e9:30:30:44:30:39:45:2d:31 iaid = -{{.timestamp_unix_s}} valid for 7200 seconds
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Sending Advertise to fe80::e6c9:2b22:f9db:bfad port 546
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Request message from fe80::e6c9:2b22:f9db:bfad port 546, transaction ID 0x36D30200
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Reply NA: address 2a02:cf40:38d6:c4db:cafb:917b:44ec:c873 to client with duid 00:02:00:00:0d:e9:30:30:44:30:39:45:2d:31 iaid = -{{.timestamp_unix_s}} valid for 7200 seconds
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Sending Reply to fe80::e6c9:2b22:f9db:bfad port 546
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Information-request message from fe80::208:0138:95bb:a400 port 546, transaction ID 0x9A75EE00
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} dhcpd[6555]: Reusing lease for: 2a02:cf40:38d6:c4db:cafb:917b:44ec:c873, age 265 secs < 25%, sending shortened lifetimes - preferred: 4235, valid 6935
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} haproxy[41476]: {{.IPs}}:59607 [{{.timestamp_common}}.502] TestFrontend~ TestBackend/TestServer 0/0/0/2/2 400 182 - - ---- 2/2/0/1/0 0/0 "GET /{{.Domains}} HTTP/1.1" 
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} haproxy[41476]: {{.IPs}}:59607 [{{.timestamp_common}}.407] TestFrontend~ TestBackend/TestServer 0/0/0/3/3 400 182 - - ---- 2/2/0/1/0 0/0 "GET /login HTTP/1.1" 
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} haproxy[41476]: {{.IPs}}:58722 [{{.timestamp_common}}.549] TestFrontend~ TestBackend/<NOSRV> -1/-1/-1/-1/30014 408 212 - - cR-- 2/2/0/0/0 0/0 "<BADREQ>" 
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} pfSense haproxy[25571]: {{.IPs}}:50578 [{{.timestamp_common}}.208] TestFrontend TestBackend_ipvANY/TestServer 0/0/0/433/537 200 65018 - - ---- 5/5/0/1/0 0/0 "GET /static/fonts/roboto/{{.Domains}}2 HTTP/1.1"
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} pfSense haproxy[31709]: {{.IPs}}:50611 [{{.timestamp_common}}.187] TestFrontend-copy TestBackend_ipvANY/TestServer 0/0/204 366 -- 2/2/1/1/0 0/0
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} pfSense haproxy[80917]: Connect from {{.IPs}}:50583 to {{.IPs}}:80 (ACME/HTTP)
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}000+02:00 {{.Domains}} haproxy 48723 - - {{.IPs}}:63605 [{{.timestamp_common}}.440] URLS-merged/{{.IPs}}:443: Timeout during SSL handshake
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}105-05:00 {{.Domains}} charon 18610 - - 08[CFG]   ppk_id = (null)
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}109-05:00 {{.Domains}} charon 18610 - - 08[CFG]   ppk_required = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}113-05:00 {{.Domains}} charon 18610 - - 08[CFG]   mobike = 1
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}117-05:00 {{.Domains}} charon 18610 - - 08[CFG]   aggressive = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}122-05:00 {{.Domains}} charon 18610 - - 08[CFG]   dscp = 0x00
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}126-05:00 {{.Domains}} charon 18610 - - 08[CFG]   encap = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}130-05:00 {{.Domains}} charon 18610 - - 08[CFG]   dpd_delay = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}207-05:00 {{.Domains}} charon 18610 - - 08[CFG]   if_id_in = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}211-05:00 {{.Domains}} charon 18610 - - 08[CFG]   if_id_out = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}215-05:00 {{.Domains}} charon 18610 - - 08[CFG]   local:
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}220-05:00 {{.Domains}} charon 18610 - - 08[CFG]   remote:
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}245-05:00 {{.Domains}} charon 18610 - - 08[CFG] updated vici connection: bypass
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}376-05:00 {{.Domains}} charon 18610 - - 07[CFG] vici client 84 requests: load-conn
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}385-05:00 {{.Domains}} charon 18610 - - 07[CFG]  conn con1000:
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}451-05:00 {{.Domains}} charon 18610 - - 07[CFG]   child con1000:
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}457-05:00 {{.Domains}} charon 18610 - - 07[CFG]    rekey_time = 3240
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}461-05:00 {{.Domains}} charon 18610 - - 07[CFG]    life_time = 3600
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}465-05:00 {{.Domains}} charon 18610 - - 07[CFG]    rand_time = 360
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}469-05:00 {{.Domains}} charon 18610 - - 07[CFG]    rekey_bytes = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}473-05:00 {{.Domains}} charon 18610 - - 07[CFG]    life_bytes = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}477-05:00 {{.Domains}} charon 18610 - - 07[CFG]    rand_bytes = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}481-05:00 {{.Domains}} charon 18610 - - 07[CFG]    rekey_packets = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}485-05:00 {{.Domains}} charon 18610 - - 07[CFG]    life_packets = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}489-05:00 {{.Domains}} charon 18610 - - 07[CFG]    rand_packets = 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}042-05:00 {{.Domains}} charon 18610 - - 14[NET] <con1000|11> sending packet: from {{.IPs}}[500] to {{.IPs}}[500] (464 bytes)
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_VER={{.Domains}}:released:662eae9a:Release
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_PLAT=android
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_NCP=2
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_TCPNL=1
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_GUI_VER={{.Domains}}_3.2.4-5891
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_PROTO=2
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 peer info: IV_SSO=openurl
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: {{.IPs}}:37849 [bob] Peer Connection Initiated with [AF_INET]{{.IPs}}:37849
---EVENT_DELIMITER---
<37>{{.timestamp_syslog}} openvpn[19830]: user 'bob' authenticated
---EVENT_DELIMITER---
<29>{{.timestamp_syslog}} openvpn[66026]: bob/{{.IPs}}:37849 MULTI_sva: pool returned IPv4={{.IPs}}, IPv6=(Not enabled)
---EVENT_DELIMITER---
<27>1 {{.timestamp_iso}}560-05:00 {{.Domains}} openvpn 66026 - - TLS Error: cannot locate HMAC in incoming packet from [AF_INET]{{.IPs}}:34745
---EVENT_DELIMITER---
<36>1 {{.timestamp_iso}}134-05:00 {{.Domains}} openvpn 68813 - - user 'bob' could not authenticate.
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} php-fpm[99932]: /{{.Domains}}: Successful login for user 'admin' from: {{.IPs}} (RADIUS/PFsense Radius)
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} php-fpm[99932]: /{{.Domains}}: Successful login for user 'admin' from: {{.IPs}} (Local Database Fallback)
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} php-fpm[99932]: /{{.Domains}}: webConfigurator authentication error for user 'asdf' from: {{.IPs}}
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} snort[87537]: [136:1:1] (spp_reputation) packets blacklisted [Classification: Potentially Bad Traffic] [Priority: 2] {TCP} {{.IPs}}:16856 -> {{.IPs}}:2222
---EVENT_DELIMITER---
<190>{{.timestamp_syslog}} snort[87537]: [119:4:1] (http_inspect) BARE BYTE UNICODE ENCODING [Classification: Not Suspicious Traffic] [Priority: 3] {TCP} {{.IPs}}:63651 -> {{.IPs}}:8080
---EVENT_DELIMITER---
<166>{{.timestamp_syslog}} {{.Domains}} (squid-1)[6802]: [{{.timestamp_unix_s}}.253 325](tel:{{.timestamp_unix_s}}.253 325) {{.IPs}} TCP_MISS/304 2912 GET https://{{.Domains}}/3ilson/pfelk/file-list/master - HIER_DIRECT/{{.IPs}} -
---EVENT_DELIMITER---
<166>{{.timestamp_syslog}} {{.Domains}} (squid-1)[6802]: [{{.timestamp_unix_s}}.253 325](tel:{{.timestamp_unix_s}}.253 325) {{.IPs}} TCP_MISS/304 2912 CONNECT {{.Domains}}:443 - HIER_DIRECT/{{.IPs}} -
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}288-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,32989,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49652,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}309-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,28831,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49616,853,0,S,3664924520,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}333-05:00 {{.Domains}} filterlog 72237 - - 115,,,{{.timestamp_unix_s}},igb1.27,match,pass,in,4,0x0,,63,29559,0,DF,17,udp,69,{{.IPs}},{{.IPs}},52797,53,49
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}227-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,39730,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49636,853,0,S,2795136451,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}265-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,18713,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49668,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}380-05:00 {{.Domains}} filterlog 72237 - - 118,,,{{.timestamp_unix_s}},igb1.12,match,pass,in,4,0x0,,64,58337,0,DF,6,tcp,64,{{.IPs}},{{.IPs}},62132,53,0,S,3671644853,,32768,,mss;nop;wscale;sackOK;nop;nop;nop;nop;TS
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}254-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,51373,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},56520,853,0,S,2661102197,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}217-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,18714,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49668,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}279-05:00 {{.Domains}} filterlog 72237 - - 115,,,{{.timestamp_unix_s}},igb1.27,match,pass,in,4,0x0,,64,3666,0,DF,17,udp,69,{{.IPs}},{{.IPs}},26641,53,49
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}303-05:00 {{.Domains}} filterlog 72237 - - 115,,,{{.timestamp_unix_s}},igb1.27,match,pass,in,4,0x0,,64,51896,0,DF,17,udp,69,{{.IPs}},{{.IPs}},26641,53,49
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}325-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,543,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},56542,853,0,S,3798927693,,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}347-05:00 {{.Domains}} filterlog 72237 - - 146,,,{{.timestamp_unix_s}},igb1.12,match,block,in,4,0x0,,63,46364,0,DF,6,tcp,60,{{.IPs}},{{.IPs}},49656,853,0,S,{{.timestamp_unix_s}},,64240,,mss;sackOK;TS;nop;wscale
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}370-05:00 {{.Domains}} filterlog 72237 - - 183,,,{{.timestamp_unix_s}},igb1.40,match,pass,in,4,0x0,,1,56778,0,DF,17,udp,200,{{.IPs}},{{.IPs}},58037,1900,180
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}079-05:00 {{.Domains}} filterlog 72913 - - 176,,,{{.timestamp_unix_s}},igb1.50,ip-option,pass,in,4,0xc0,,1,20651,0,none,2,igmp,32,{{.IPs}},{{.IPs}},datalength=8
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}750+03:00 {{.Domains}} filterlog 30459 - - 4,,,{{.timestamp_unix_s}},em0,match,block,in,4,0x28,,53,28808,0,none,1,icmp,56,{{.IPs}},{{.IPs}},unreachport,{{.IPs}},UDP,5336
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}112+03:00 {{.Domains}} filterlog 30459 - - 4,,,{{.timestamp_unix_s}},em0,match,block,in,4,0x28,,53,28808,0,none,1,icmp,56,{{.IPs}},{{.IPs}},unreachproto,[{{.IPs}}],[17]
---EVENT_DELIMITER---
<30>{{.timestamp_syslog}} unbound[26931]: [26931:0] info: {{.IPs}} {{.Domains}}. A IN
---EVENT_DELIMITER---
<30>{{.timestamp_syslog}} unbound[26931]: [26931:2] info: {{.IPs}} {{.Domains}}. A IN