{"json":{"alertData":{"connection":"LTE","local":"{{.IPs}}","model":"UML290VW","provider":"Purview Wireless","remote":"{{.IPs_1}}"},"alertId":"0000000000000000","alertLevel":"informational","alertType":"Cellular came up","alertTypeId":"cellular_up","deviceMac":"00:11:22:33:44:55","deviceModel":"MX","deviceName":"My appliance","deviceSerial":"Q234-ABCD-5678","deviceTags":["tag1","tag2"],"deviceUrl":"{{.Domains_1}}","networkId":"N_24329156","networkName":"Main Office","networkTags":[],"networkUrl":"{{.Domains_2}}","occurredAt":"{{.timestamp_iso_1}}","organizationId":"2930418","organizationName":"My organization","organizationUrl":"{{.Domains}}","sentAt":"{{.timestamp_iso}}","sharedSecret":"secret","version":"0.1"}}
---EVENT_DELIMITER---
{"json":{"alertData":{},"alertId":"0000000000000000","alertLevel":"warning","alertType":"Insight Alert","alertTypeId":"mi_alert","deviceMac":"00:11:22:33:44:55","deviceModel":"","deviceName":"","deviceSerial":"Q234-ABCD-5678","deviceTags":["tag1","tag2"],"deviceUrl":"{{.Domains_2}}","networkId":"N_24329156","networkName":"Main Office","networkTags":[],"networkUrl":"{{.Domains_1}}","occurredAt":"{{.timestamp_iso_1}}","organizationId":"2930418","organizationName":"My organization","organizationUrl":"{{.Domains}}","sentAt":"{{.timestamp_iso}}","sharedSecret":"secret","version":"0.1"}}
---EVENT_DELIMITER---
{"json":{"alertData":{"electorState":"master","ifUp":"1","mode":"detect","oldIfUp":"0","oldMode":"detect","oldPrio":"75","prio":"75"},"alertId":"0000000000000000","alertLevel":"critical","alertType":"Failover event detected","alertTypeId":"vrrp","deviceMac":"00:11:22:33:44:55","deviceModel":"MS","deviceName":"My switch","deviceSerial":"Q234-ABCD-5678","deviceTags":["tag1","tag2"],"deviceUrl":"{{.Domains_2}}","networkId":"N_24329156","networkName":"Main Office","networkTags":[],"networkUrl":"{{.Domains_1}}","occurredAt":"{{.timestamp_iso}}","organizationId":"2930418","organizationName":"My organization","organizationUrl":"{{.Domains}}","sentAt":"{{.timestamp_iso_1}}","sharedSecret":"secret","version":"0.1"}}
---EVENT_DELIMITER---
{"json":{"alertData":{"electorState":"master","ifUp":"1","mode":"detect","oldIfUp":"0","oldMode":"detect","oldPrio":"75","prio":"75"},"alertId":"0000000000000000","alertLevel":"critical","alertType":"Failover event detected","alertTypeId":"vrrp","deviceMac":"00:11:22:33:44:55","deviceModel":"MS","deviceName":"My switch","deviceSerial":"Q234-ABCD-5678","deviceTags":["tag1","tag2"],"deviceUrl":"{{.Domains_1}}","networkId":"N_24329156","networkName":"Main Office","networkTags":[],"networkUrl":"{{.Domains_2}}","occurredAt":"{{.timestamp_iso}}","organizationId":"2930418","organizationName":"My organization","organizationUrl":"{{.Domains}}","sentAt":"{{.timestamp_iso_1}}","sharedSecret":"wrong_secret","version":"0.1"}}