{"type":"audit", "timestamp":"{{.timestamp_iso}},028+0000", "{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g", "{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA", "{{.Domains}}":"transport", "{{.Domains}}":"access_granted", "{{.Domains}}":"REALM", "{{.Domains}}":"elastic", "{{.Domains}}":"reserved", "{{.Domains}}":["superuser"], "{{.Domains}}":"rest", "{{.Domains}}":"{{.IPs}}:48524", "{{.Domains}}":"sdzMxhL5Rga_wTaN7_pfsw", "action":"indices:admin/create", "{{.Domains}}":"CreateIndexRequest", "indices":["test_2"]}
---EVENT_DELIMITER---
{"type":"audit", "timestamp":"{{.timestamp_iso}},034+0000", "{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g", "{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA", "{{.Domains}}":"rest", "{{.Domains}}":"anonymous_access_denied", "{{.Domains}}":"rest", "{{.Domains}}":"{{.IPs}}:48526", "{{.Domains}}":"/test_3", "{{.Domains}}":"PUT", "{{.Domains}}":"kDWih8w0SC6mY7Q5ExEI2w", "opaque_id":"myApp1", "{{.Domains}}":"0af7651916cd43dd8448eb211c80319c"}
---EVENT_DELIMITER---
{"type":"audit", "timestamp":"{{.timestamp_iso}},040+0000", "{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g", "{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA", "{{.Domains}}":"transport", "{{.Domains}}":"access_granted", "{{.Domains}}":"REALM", "{{.Domains}}":"elastic", "{{.Domains}}":"reserved", "{{.Domains}}":["superuser"], "{{.Domains}}":"rest", "{{.Domains}}":"{{.IPs}}:48528", "{{.Domains}}":"fTP-0rxJQyyZUNGIs4Hpdg", "action":"indices:admin/create", "{{.Domains}}":"CreateIndexRequest", "indices":["testindex2"], "opaque_id":"myAppId", "{{.Domains}}":"0af7651916cd43dd8448eb211c80319c"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}},380", "{{.Domains}}":"node-0", "{{.Domains}}":"y8fa3M5zSSGo1M_KJRMUXw", "{{.Domains}}":"rest", "{{.Domains}}":"authentication_success", "{{.Domains}}":"elastic-admin", "{{.Domains}}":"rest", "{{.Domains}}":"[::1]:58955", "realm":"default_file", "{{.Domains}}":"/_search", "{{.Domains}}":"GET", "{{.Domains}}":"\n{\n    \"query\" : {\n        \"term\" : { \"user\" : \"kimchy\" }\n    }\n}\n", "{{.Domains}}":"WzL_kb6VSvOhAq0twPvHOQ"}