{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}": "WARN",  "data_{{.Domains}}":"{{.Domains}}","data_{{.Domains}}":"default","data_{{.Domains}}":"logs","{{.Domains}}_product_origin":"","{{.Domains}}":"settings","{{.Domains}}.x_opaque_id":"myAppId","{{.Domains}}":"{{.Domains}}_path","message":"[{{.Domains}}_path] setting was deprecated in Elasticsearch and will be removed in a future release." , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[8c0907d4a608][transport_worker][T#2]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"RUbX0Jn7SyuOho9LD0u82A","{{.Domains}}":"MmoGkS8rRRCQ1sSMruZB4A","{{.Domains}}":"8c0907d4a608","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"CRITICAL",  "data_{{.Domains}}":"{{.Domains}}","data_{{.Domains}}":"default","data_{{.Domains}}":"logs","{{.Domains}}_product_origin":"","{{.Domains}}":"settings","{{.Domains}}.x_opaque_id":"myAppId","{{.Domains}}":"{{.Domains}}_merge_at_once_explicit","message":"[{{.Domains}}_merge_at_once_explicit] setting was deprecated in Elasticsearch and will be removed in a future release." , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[8c0907d4a608][transport_worker][T#3]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"RUbX0Jn7SyuOho9LD0u82A","{{.Domains}}":"MmoGkS8rRRCQ1sSMruZB4A","{{.Domains}}":"8c0907d4a608","{{.Domains}}":"elasticsearch"}