[{{.timestamp_iso}}+0000][208][info ][safepoint   ] Safepoint "Cleanup", Time since last: 4002353570 ns, Reaching safepoint: 136684 ns, At safepoint: 3099 ns, Total: 139783 ns
---EVENT_DELIMITER---
[{{.timestamp_iso}}+0000][208][info ][safepoint   ] Safepoint "Cleanup", Time since last: {{.timestamp_unix_s}} ns, Reaching safepoint: 343283 ns, At safepoint: 8027 ns, Total: 351310 ns
---EVENT_DELIMITER---
[{{.timestamp_iso}}+0000][208][safepoint   ] Safepoint "Cleanup", Time since last: 2002572298 ns, Reaching safepoint: 346946 ns, At safepoint: 7627 ns, Total: 354573 ns