{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}": "INFO", "message":"[{{.Domains}}-default-2022.09.04-000001] creating index, cause [initialize_data_stream], templates [.deprecation-indexing-template], shards [1]/[1]", "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][masterService#updateTask][T#1]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}": "INFO", "message":"adding data stream [{{.Domains}}-default] with write index [{{.Domains}}-default-2022.09.04-000001], backing indices [], and aliases []", "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][masterService#updateTask][T#1]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}": "INFO", "message":"updating number_of_replicas to [0] for indices [{{.Domains}}-default-2022.09.04-000001]", "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][masterService#updateTask][T#1]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}": "INFO", "message":"[0] with UUID [ucaHOD8fRH6f0PfuHnk7_Q] bootstrapping [SEARCH_ONLY] shard on primary term [1] with [stateless_commit_154][1][154] and latest uploaded [term=1, gen=154] from indexing shard (peer recovery from es-es-index-5bfdf695cc-t8mxb)", "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[es-es-search-54845b5cf-qbcjq][generic][T#5]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"saa-yNQ6Q7iunpSFDnNxOA","{{.Domains}}":"vn1CC_lLQ3CKan1N5O3xUg","{{.Domains}}":"es-es-search-54845b5cf-qbcjq","{{.Domains}}":"es"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}": "INFO", "message":"[{{.Domains}}] is not ready for collect yet", "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[es-es-search-c886b6975-9tsbz][metering_reporter][T#1]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"vaYFhXk-Q0WFOdSjyaylnA","{{.Domains}}":"fnqA_AXpTFm6uZdtXDNIPA","{{.Domains}}":"es-es-search-c886b6975-9tsbz","{{.Domains}}":"es"}