{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"TRACE",  "{{.Domains}}":"3T23CoMBFSKrNP-ROAZr","{{.Domains}}":"[test_1/AtF5QvIATyu1w2_FUAYsmA]","{{.Domains}}":"{\\\"a\\\":\\\"b\\\"}","{{.Domains}}":"1.1ms","{{.Domains}}_millis":"1" , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][write][T#5]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"TRACE",  "{{.Domains}}":"3j23CoMBFSKrNP-RXwbD","{{.Domains}}":"[test_1/AtF5QvIATyu1w2_FUAYsmA]","{{.Domains}}":"{\\\"a\\\":\\\"b\\\"}","{{.Domains}}":"3.7ms","{{.Domains}}_millis":"3" , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][write][T#7]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"TRACE",  "{{.Domains}}":"3z23CoMBFSKrNP-RhwYx","{{.Domains}}":"[test_1/AtF5QvIATyu1w2_FUAYsmA]","{{.Domains}}":"{\\\"a\\\":\\\"b\\\"}","{{.Domains}}":"1ms","{{.Domains}}_millis":"1" , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][write][T#1]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"DEBUG",  "{{.Domains}}":null,"{{.Domains}}":"[test_1][0]","{{.Domains}}_type":"QUERY_THEN_FETCH","{{.Domains}}":"{}","{{.Domains}}":"[]","{{.Domains}}":"123.7micros","{{.Domains}}_millis":0,"{{.Domains}}_hits":"19 hits","{{.Domains}}_shards":1 , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][search][T#2]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"DEBUG",  "{{.Domains}}":"myApp1","{{.Domains}}":"[test_1][0]","{{.Domains}}_type":"QUERY_THEN_FETCH","{{.Domains}}":"{}","{{.Domains}}":"[]","{{.Domains}}":"115.1micros","{{.Domains}}_millis":0,"{{.Domains}}_hits":"20 hits","{{.Domains}}_shards":1 , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][search][T#4]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}", "{{.Domains}}":"DEBUG",  "{{.Domains}}":null,"{{.Domains}}":"[test_1][0]","{{.Domains}}_type":"QUERY_THEN_FETCH","{{.Domains}}":"{}","{{.Domains}}":"[]","{{.Domains}}":"118.1micros","{{.Domains}}_millis":0,"{{.Domains}}_hits":"20 hits","{{.Domains}}_shards":1 , "{{.Domains}}": "1.2.0","{{.Domains}}":"ES_ECS","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"elasticsearch[16f5806fc421][search][T#6]","{{.Domains}}":"{{.Domains}}","{{.Domains}}":"0af7651916cd43dd8448eb211c80319c","{{.Domains}}":"sh0FdC0tRUGgzD6U7OsO3g","{{.Domains}}":"rsRsMdvhREeQqLkk3twtqA","{{.Domains}}":"16f5806fc421","{{.Domains}}":"elasticsearch"}