{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"16xxxxxxxxxx8ac7bd","loginName":"GXXXXX7ANL","flagged":false,"clientIp":"{{.IPs}}","verbose":false,"description":"Downloaded policy configurations for all policies"}
---EVENT_DELIMITER---
{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"21xxxxxxxxxx93ff7c","loginName":"GXXXXX7AXV","flagged":false,"clientIp":"{{.IPs}}","verbose":false,"description":"Logged in successfully"}
---EVENT_DELIMITER---
{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"28xxxxxxxxxx8ac7bd","loginName":"GXXXXX7ANL","flagged":true,"clientIp":"{{.IPs}}","verbose":false,"description":"Login failed"}
---EVENT_DELIMITER---
{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"34xxxxxxxxxxd9ccf9","loginName":"5XXXXXYKC","flagged":false,"clientIp":"{{.IPs}}","verbose":false,"description":"Updated report 2f9b5f72-3ca8-4181-90d2-4f3076c68396 in feed 5HuUSkCtTp23yrEFJG8Xxw"}
---EVENT_DELIMITER---
{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"3axxxxxxxxxx2e5035","loginName":"GXXXXX7ANL","flagged":false,"clientIp":"{{.IPs}}","verbose":false,"description":"Downloaded policy configurations for all policies"}
---EVENT_DELIMITER---
{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"32xxxxxxxxxx189c6d","loginName":"GXXXXX7PQR","flagged":false,"clientIp":"{{.IPs}}","verbose":false,"description":"User {{.Emails}} retrieved secret for API ID P3KEDZJRI8 in org 1105"}
---EVENT_DELIMITER---
{"orgName":"{{.Domains}}","requestUrl":null,"eventTime":{{.timestamp_unix_ms}},"eventId":"a9xxxxxxxxxx4b3d2c","loginName":"{{.Emails}}","flagged":false,"clientIp":"{{.IPs}}","verbose":false,"description":"Connector 1XXXXXM logged in successfully"}