{"message":"No data for given time period or host is unreachable"}
---EVENT_DELIMITER---
{"message":"{\"atype\":\"clientMetadata\",\"local\":{\"ip\":\"{{.IPs}}\",\"port\":27017},\"param\":{\"clientMetadata\":{\"application\":{\"name\":\"MongoDB Automation Agent v13.27.1.9281 (git: e087a3a742cdf3a6853f9d18055722d9007518a2)\"},\"driver\":{\"name\":\"mongo-go-driver\",\"version\":\"v1.12.0-cloud\"},\"os\":{\"architecture\":\"arm64\",\"type\":\"linux\"},\"platform\":\"go1.22.10\"},\"localEndpoint\":{\"ip\":\"{{.IPs}}\",\"port\":27017}},\"remote\":{\"ip\":\"{{.IPs}}\",\"port\":57172},\"result\":0,\"roles\":[],\"ts\":{\"$date\":\"{{.timestamp_iso}}\"},\"users\":[],\"uuid\":{\"$binary\":\"nyibZv2iT/6f00Zq4bupWg==\",\"$type\":\"04\"}}"}
---EVENT_DELIMITER---
{"message":"{\"atype\":\"logout\",\"local\":{\"ip\":\"{{.IPs}}\",\"port\":27017},\"remote\":{\"ip\":\"{{.IPs}}\",\"port\":43714},\"result\":0,\"roles\":[{\"db\":\"admin\",\"role\":\"backup\"},{\"db\":\"admin\",\"role\":\"clusterAdmin\"},{\"db\":\"admin\",\"role\":\"dbAdminAnyDatabase\"},{\"db\":\"admin\",\"role\":\"readWriteAnyDatabase\"},{\"db\":\"admin\",\"role\":\"restore\"},{\"db\":\"admin\",\"role\":\"userAdminAnyDatabase\"}],\"ts\":{\"$date\":\"{{.timestamp_iso}}\"},\"users\":[{\"db\":\"admin\",\"user\":\"{{.Users}}\"}],\"uuid\":{\"$binary\":\"bY/PMV8IR36q+hmAJZYyfw==\",\"$type\":\"04\"}}"}
---EVENT_DELIMITER---
{"message":"{\"atype\":\"authenticate\",\"local\":{\"ip\":\"{{.IPs}}\",\"port\":27017},\"remote\":{\"ip\":\"{{.IPs_1}}\",\"port\":54320},\"result\":0,\"roles\":[{\"db\":\"admin\",\"role\":\"dbAdmin\"}],\"ts\":{\"$date\":\"{{.timestamp_iso}}\"},\"users\":[{\"db\":\"admin\",\"user\":\"{{.Users}}\"}],\"uuid\":{\"$binary\":\"some-unique-identifier\",\"$type\":\"04\"}}"}
---EVENT_DELIMITER---
{"message":"{\"atype\":\"authCheck\",\"local\":{\"ip\":\"{{.IPs_1}}\",\"port\":27017},\"remote\":{\"ip\":\"{{.IPs}}\",\"port\":54321},\"result\":13,\"roles\":[{\"db\":\"test\",\"role\":\"read\"}],\"ts\":{\"$date\":\"{{.timestamp_iso}}\"},\"users\":[{\"db\":\"test\",\"user\":\"{{.Users}}\"}],\"uuid\":{\"$binary\":\"another-unique-identifier\",\"$type\":\"04\"}}"}