{"protoPayload":{"@type":"{{.Domains}}/{{.Domains}}","authenticationInfo":{"principalEmail":"{{.Emails}}"},"requestMetadata":{"callerIp":"{{.IPs}}","requestAttributes":{},"destinationAttributes":{}},"serviceName":"{{.Domains}}","methodName":"{{.Domains}}","resourceName":"organizations/123"},"insertId":"-nahbepd4l1x","resource":{"type":"audited_resource"},"httpRequest":{"remoteIp":"FE80::0202:B3FF:FE1E:1010"},"timestamp":"{{.timestamp_iso}}212Z","severity":"NOTICE","logName":"organizations/123/logs/{{.Domains}}%2Fdata_access","receiveTimestamp":"{{.timestamp_iso}}361197Z"}