{"event":{"code":"600","kind":"event","original":"{{.Domains_1}}","provider":"PowerShell"},"host":{"name":"vagrant"},"log":{"level":"information"},"tags":["forwarded"],"winlog":{"channel":"Windows PowerShell","computer_name":"vagrant","event_data":{"param1":"Certificate","param2":"Started","param3":"{{.Domains}}"},"event_id":"600","keywords":["Classic"],"level":"information","provider_name":"PowerShell","record_id":1089,"time_created":"{{.timestamp_iso}}"}}
---EVENT_DELIMITER---
{"event":{"code":"400","kind":"event","original":"{{.IPs_1}}","provider":"PowerShell"},"host":{"name":"vagrant"},"log":{"level":"information"},"tags":["forwarded"],"winlog":{"channel":"Windows PowerShell","computer_name":"vagrant","event_data":{"param1":"Available","param2":"None","param3":"{{.IPs}}"},"event_id":"400","keywords":["Classic"],"level":"information","provider_name":"PowerShell","record_id":1492,"time_created":"{{.timestamp_iso}}"}}
---EVENT_DELIMITER---
{"event":{"code":"800","kind":"event","original":"{{.Domains_3}}","provider":"PowerShell"},"host":{"name":"vagrant-2019"},"log":{"level":"information"},"tags":["forwarded"],"winlog":{"channel":"Windows PowerShell","computer_name":"vagrant-2019","event_data":{"param1":"{{.Domains_2}}","param2":"{{.Domains}}","param3":"{{.Domains_1}}"},"event_id":"800","keywords":["Classic"],"level":"information","provider_name":"PowerShell","record_id":191,"time_created":"{{.timestamp_iso}}"}}
---EVENT_DELIMITER---
{"event":{"code":"403","kind":"event","original":"{{.IPs}}","provider":"PowerShell"},"host":{"name":"vagrant"},"log":{"level":"information"},"tags":["forwarded"],"winlog":{"channel":"Windows PowerShell","computer_name":"vagrant","event_data":{"param1":"Stopped","param2":"Available","param3":"{{.Domains}}"},"event_id":"403","keywords":["Classic"],"level":"information","provider_name":"PowerShell","record_id":1687,"time_created":"{{.timestamp_iso}}"}}
---EVENT_DELIMITER---
{"event":{"action":"Pipeline Execution Details","code":"800","kind":"event","provider":"PowerShell"},"host":{"name":"vagrant"},"log":{"level":"information"},"message":"{{.Domains}}","winlog":{"api":"wineventlog","channel":"Windows PowerShell","computer_name":"vagrant","event_data":{"param1":"Import-LocalizedData  LocalizedData -filename ArchiveResources","param2":"{{.Domains_1}}","param3":"{{.Domains_2}}"},"event_id":"800","keywords":["Classic"],"opcode":"Info","provider_name":"PowerShell","record_id":1846,"task":"Pipeline Execution Details"}}
---EVENT_DELIMITER---
{"event":{"action":"Pipeline Execution Details","code":"800","kind":"event","provider":"PowerShell"},"host":{"name":"vagrant"},"log":{"level":"information"},"message":"{{.Domains}}","winlog":{"api":"wineventlog","channel":"Windows PowerShell","computer_name":"vagrant","event_data":{"param2":"{{.Domains_1}}","param3":"{{.Domains_2}}"},"event_id":"800","keywords":["Classic"],"opcode":"Info","provider_name":"PowerShell","record_id":1847,"task":"Pipeline Execution Details"}}
---EVENT_DELIMITER---
{"event":{"action":"Provider Lifecycle","code":"600","dataset":"{{.Domains_1}}","provider":"PowerShell"},"message":"{{.Domains}}","winlog":{"api":"wineventlog","channel":"Windows PowerShell","computer_name":"foo","event_data":{"param1":"Function","param2":"Started","param3":"{{.Domains_2}}"},"event_id":"600","keywords":["Classic"],"opcode":"Info","provider_name":"PowerShell","record_id":67086,"task":"Provider Lifecycle"}}