{"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"etag":"\"CTyc505ppdmJR2motHVsU17kzItOkPo5vYViqlSF0rU/_JGuGElaExAZGVCsPXBMf-HkFqo\"","events":{"type":"access_transparency","name":"ACCESS","parameters":[{"name":"ACCESS_APPROVAL_ALERT_CENTER_IDS","value":"alert123"},{"name":"ACCESS_APPROVAL_REQUEST_IDS","value":"req12341"},{"name":"ACCESS_MANAGEMENT_POLICY","value":"policy"},{"name":"ACTOR_HOME_OFFICE","value":"actoroffice"},{"name":"GSUITE_PRODUCT_NAME","value":"CALENDAR"},{"name":"JUSTIFICATIONS","value":"justfy"},{"name":"LOG_ID","value":"lg651667"},{"name":"ON_BEHALF_OF","value":"{{.Emails}}"},{"name":"OWNER_EMAIL","value":"{{.Emails}}"},{"name":"RESOURCE_NAME","value":"foo"},{"name":"TICKETS","value":"ticket"}]},"id":{"applicationName":"token","customerId":"C02umwv6u","time":"{{.timestamp_iso}}","uniqueQualifier":"-6709442587437772138"},"ipAddress":"{{.IPs}}","kind":"admin#reports#activity"}