{"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"etag":"\"CTyc505ppdmJR2motHVsU17kzItOkPo5vYViqlSF0rU/_JGuGElaExAZGVCsPXBMf-HkFqo\"","events":{"type":"CLOUD_OSLOGIN","name":"IMPORT_SSH_PUBLIC_KEY","parameters":[{"name":"USER_EMAIL","value":"{{.Emails}}"}]},"id":{"applicationName":"token","customerId":"C02umwv6u","time":"{{.timestamp_iso}}","uniqueQualifier":"-6709442587437772138"},"ipAddress":"{{.IPs}}","kind":"admin#reports#activity"}