{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"account_disabled_password_leak","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"suspicious_login","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"},{"name":"login_timestamp","intValue":1593695305123456}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"suspicious_login_less_secure_app","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"},{"name":"login_timestamp","intValue":1593695305123456}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"suspicious_programmatic_login","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"},{"name":"login_timestamp","intValue":1593695305123456}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"account_disabled_generic","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"account_disabled_spamming_through_relay","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"account_disabled_spamming","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"account_disabled_hijacked","parameters":[{"name":"affected_email_address","value":"{{.Emails}}"},{"name":"login_timestamp","intValue":1593695305123456}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"account_warning","name":"gov_attack_warning"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"login_failure","parameters":[{"name":"login_challenge_method","value":"backup_code"},{"name":"login_failure_type","value":"login_failure_access_code_disallowed"},{"name":"login_type","value":"exchange"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"login_challenge","parameters":[{"name":"login_challenge_method","value":"backup_code"},{"name":"login_challenge_status","value":"Challenge Passed."},{"name":"login_type","value":"exchange"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"login_verification","parameters":[{"name":"is_second_factor","boolValue":false},{"name":"login_challenge_method","value":"backup_code"},{"name":"login_challenge_status","value":"Challenge Passed."},{"name":"login_type","value":"exchange"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"logout","parameters":[{"name":"login_type","value":"exchange"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"login_success","parameters":[{"name":"login_challenge_method","value":"backup_code"},{"name":"is_suspicious","boolValue":false},{"name":"login_type","value":"exchange"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"login_success","parameters":[{"name":"login_challenge_method","value":"password"},{"name":"is_suspicious","boolValue":true},{"name":"login_type","value":"google_password"}]}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"login","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"login","name":"risky_sensitive_action_allowed","parameters":[{"name":"login_challenge_method","value":"password"},{"name":"is_suspicious","boolValue":true},{"name":"login_type","value":"google_password"},{"name":"login_challenge_status","value":"Challenge Passed."},{"name":"sensitive_action_name","value":"Allowing access to data"}]}}
---EVENT_DELIMITER---
{"actor":{"email":"{{.Emails}}","profileId":"111111111"},"etag":"Q2W123123123123","events":{"name":"login_verification","parameters":[{"name":"login_type","value":"google_password"},{"multiValue":["security_key"],"name":"login_challenge_method"},{"name":"login_challenge_status","value":"passed"},{"boolValue":true,"name":"is_second_factor"}],"type":"login"},"id":{"applicationName":"login","customerId":"123","time":"{{.timestamp_iso}}","uniqueQualifier":"123"},"ipAddress":"{{.IPs}}","kind":"admin#reports#activity"}