{"kind":"admin#reports#activity","etag":"Etag","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"rules","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"rule_match_type","name":"rule_match","parameters":[{"name":"has_alert","boolValue":"true"},{"name":"actor_ip_address","value":"{{.IPs}}"},{"name":"resource_recipients_omitted_count","intValue":"1234"},{"name":"resource_recipients","multiValue":["{{.Emails}}","{{.Emails}}","{{.Emails}}"]},{"name":"rule_name","multiValue":["managers"]},{"name":"rule_id","multiIntValue":["12"]}]}}
---EVENT_DELIMITER---
{"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"events":{"name":"rule_match","parameters":[{"boolValue":"true","name":"has_alert"},{"name":"actor_ip_address","value":"{{.IPs}}"},{"intValue":"1234","name":"resource_recipients_omitted_count"},{"multiValue":["managers"],"name":"rule_name"},{"multiIntValue":["12"],"name":"rule_id"}],"type":"rule_match_type"},"id":{"applicationName":"rules","customerId":"1","time":"{{.timestamp_iso}}","uniqueQualifier":1},"ipAddress":"{{.IPs}}","kind":"admin#reports#activity","ownerDomain":"{{.Domains}}"}