{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"2sv_change","name":"2sv_disable"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"2sv_change","name":"2sv_enroll"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"password_change","name":"password_edit"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"recovery_info_change","name":"recovery_email_edit"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"recovery_info_change","name":"recovery_phone_edit"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"recovery_info_change","name":"recovery_secret_qa_edit"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"titanium_change","name":"titanium_enroll"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"type":"titanium_change","name":"titanium_unenroll"}}
---EVENT_DELIMITER---
{"kind":"admin#reports#activity","id":{"time":"{{.timestamp_iso}}","uniqueQualifier":1,"applicationName":"user_accounts","customerId":"1"},"actor":{"callerType":"USER","email":"{{.Emails}}","profileId":1},"ownerDomain":"{{.Domains}}","ipAddress":"{{.IPs}}","events":{"name": "email_forwarding_out_of_domain","parameters":[{"name": "email_forwarding_destination_address","value": "[{{.Emails}}](mailto:{{.Emails}})"}],"type": "email_forwarding_change"}}