{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/9-plyixf2zhrQhgHCQ7-_gbusr4", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "export", "parameters": [{"name": "matter_id", "value": "123456789-73d5-4b01-ae1a-abcdefgh"}, {"name": "additional_details", "value": "export_name: \"Export\"\nquery: \"( from:{{.Domains}} )\"\ntype: \"EMAIL\"\nexport_format: MBOX\ndata_region: \"United States\"\nshow_locker_content: true\nuse_improved_export: true\nexport_linked_drive_files: true\n"}, {"name": "query", "value": "mode: All data, type: Mail, terms: from:{{.Domains}}, Time zone: America/Los_Angeles, "}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/Q7hVUBizRQv7zoBIeuCO0g3UUmw", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "search", "parameters": [{"name": "matter_id", "value": "123456789-73d5-4b01-ae1a-abcdefgh"}, {"name": "organizational_unit_name", "value": "Google"}, {"name": "additional_details", "value": "query: \"from:{{.Domains}}\"\ntype: \"EMAIL\"\n"}, {"name": "query", "value": "mode: All data, type: Mail, terms: from:(email_address_1 OR email_address_2) AND to:(email_address_1 OR email_address_2), Time zone: America/Los_Angeles, "}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/77VsZvNcux1EnUIu_SyN08-cHo8", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "view_per_matter_litigation_hold_report", "parameters": [{"name": "matter_id", "value": "123456789-73d5-4b01-ae1a-abcdefgh"}, {"name": "resource_name", "value": "0"}, {"name": "additional_details", "value": "matter_name: \"Demo\"\n"}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/rICkegLk-_hIBsePKkH-Rd2mcIQ", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "view_investigation", "parameters": [{"name": "matter_id", "value": "123456789-73d5-4b01-ae1a-abcdefgh"}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/L22m54LUVbdZvSnpxvxzazbG5ls", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "create_investigation_end", "parameters": [{"name": "matter_id", "value": "123456789-73d5-4b01-ae1a-abcdefgh"}, {"name": "resource_name", "value": "Demo"}, {"name": "additional_details", "value": "data_region: \"United States\"\n"}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/PVk2fXtTuNxJ8g_0Rfbe8c9lWx0", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "create_investigation_begin", "parameters": [{"name": "matter_id", "value": "123456789-73d5-4b01-ae1a-abcdefgh"}, {"name": "resource_name", "value": "Demo"}, {"name": "additional_details", "value": "data_region: \"United States\"\n"}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/Ly3nAxHI6zKjMvBWiYgICqpzhds", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "view_retention_policy"}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/C6PoOaH6raRnnNbefwvG3CfSRkI", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "modify_default_retention_period_begin", "parameters": [{"name": "resource_name", "value": "EMAIL"}, {"name": "organizational_unit_name", "value": "Google"}, {"name": "additional_details", "value": "period: \"365 days\"\napply_only_to_deleted_objects: true\n"}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/4fK2AV6nDwvPVDHUeFdVkU4KRFA", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "modify_default_retention_period_end", "parameters": [{"name": "resource_name", "value": "EMAIL: abcdefgh-1e2c-44dc-94ba-abcdefgh"}, {"name": "organizational_unit_name", "value": "Google"}, {"name": "additional_details", "value": "period: \"365 days\"\napply_only_to_deleted_objects: true\n"}]}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/M-cp862Tk7b9ph5wre_CWIZmUng", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "view_retention_policy"}}
---EVENT_DELIMITER---
{"kind": "admin#reports#activity", "id": {"time": "{{.timestamp_iso}}", "uniqueQualifier": "1", "applicationName": "vault", "customerId": "1"}, "etag": "XB4Sd9ZEYpFd-msikcPTLY7Ao7PvyP0QeR9k5OdWZ_Y/Pwu5AEfQn4rdiU-O3u6_rsGBdxk", "actor": {"callerType": "USER", "email": "{{.Emails}}", "profileId": "1"}, "events": {"type": "user_action", "name": "view_retention_policy"}}