2023-06-26 13:45:49,685 INFO {{.Domains}}: STARTUP_MSG: 
---EVENT_DELIMITER---
/************************************************************
---EVENT_DELIMITER---
STARTUP_MSG: Starting NameNode
---EVENT_DELIMITER---
STARTUP_MSG:   host = {{.Domains}}/{{.IPs}}
---EVENT_DELIMITER---
STARTUP_MSG:   args = [-format, -nonInteractive]
---EVENT_DELIMITER---
STARTUP_MSG:   version = 3.3.3-amzn-3
---EVENT_DELIMITER---
STARTUP_MSG:   classpath = /etc/hadoop/conf:/usr/lib/hadoop/lib/{{.Domains}}:/usr/lib/hadoop/lib/{{.Domains}}:/usr/lib/hadoop/lib/{{.Domains}}:/usr/lib/hadoop/lib/{{.Domains}}
---EVENT_DELIMITER---
STARTUP_MSG:   build = Unknown -r Unknown; compiled by 'release' on 2023-05-31T03:49Z
---EVENT_DELIMITER---
STARTUP_MSG:   java = 1.8.0_372
---EVENT_DELIMITER---
************************************************************/
---EVENT_DELIMITER---
2023-06-26 13:45:49,697 INFO {{.Domains}}: registered UNIX signal handlers for [TERM, HUP, INT]
---EVENT_DELIMITER---
2023-06-26 13:45:49,823 INFO {{.Domains}}: createNameNode [-format, -nonInteractive]
---EVENT_DELIMITER---
2023-06-26 13:45:50,318 INFO {{.Domains}}: Assuming 'file' scheme for path /mnt/namenode in configuration.
---EVENT_DELIMITER---
2023-06-26 13:45:50,319 INFO {{.Domains}}: Assuming 'file' scheme for path /mnt1/namenode in configuration.
---EVENT_DELIMITER---
2023-06-26 13:45:50,319 INFO {{.Domains}}: Assuming 'file' scheme for path /mnt/namenode in configuration.
---EVENT_DELIMITER---
2023-06-26 13:45:50,319 INFO {{.Domains}}: Assuming 'file' scheme for path /mnt1/namenode in configuration.
---EVENT_DELIMITER---
2023-06-26 13:45:50,330 INFO {{.Domains}}: Formatting using clusterid: CID-1b3b14b6-5518-47c3-b981-e5cb6b0ce38c
---EVENT_DELIMITER---
2023-06-26 13:45:50,394 INFO {{.Domains}} (main): Edit logging is async:true
---EVENT_DELIMITER---
2023-06-26 13:45:50,484 INFO {{.Domains}}: KeyProvider: KeyProviderCryptoExtension: {{.Domains}}@a530d0a
---EVENT_DELIMITER---
2023-06-26 13:45:50,486 INFO {{.Domains}}: fsLock is fair: true
---EVENT_DELIMITER---
2023-06-26 13:45:50,486 INFO {{.Domains}}: Detailed lock hold time metrics enabled: false
---EVENT_DELIMITER---
2023-06-26 13:45:50,492 INFO {{.Domains}}: fsOwner                = hdfs (auth:SIMPLE)
---EVENT_DELIMITER---
2023-06-26 13:45:50,493 INFO {{.Domains}}: supergroup             = hdfsadmingroup
---EVENT_DELIMITER---
2023-06-26 13:45:50,493 INFO {{.Domains}}: isPermissionEnabled    = true
---EVENT_DELIMITER---
2023-06-26 13:45:50,493 INFO {{.Domains}}: isStoragePolicyEnabled = true
---EVENT_DELIMITER---
2023-06-26 13:45:50,493 INFO {{.Domains}}: HA Enabled: false
---EVENT_DELIMITER---
2023-06-26 13:45:50,566 INFO {{.Domains}}: {{.Domains}} set to 0. Disabling file IO profiling
---EVENT_DELIMITER---
2023-06-26 13:45:50,601 INFO {{.Domains}}: {{.Domains}}: configured=1000, counted=60, effected=1000
---EVENT_DELIMITER---
2023-06-26 13:45:50,601 INFO {{.Domains}}: {{.Domains}}-hostname-check=true
---EVENT_DELIMITER---
2023-06-26 13:45:50,610 INFO {{.Domains}}: {{.Domains}} is set to 000:00:00:00.000
---EVENT_DELIMITER---
2023-06-26 13:45:50,611 INFO {{.Domains}}: The block deletion will start around 2023 {{.timestamp_syslog}}
---EVENT_DELIMITER---
2023-06-26 13:45:50,612 INFO {{.Domains}}: Computing capacity for map BlocksMap
---EVENT_DELIMITER---
2023-06-26 13:45:50,613 INFO {{.Domains}}: VM type       = 64-bit
---EVENT_DELIMITER---
2023-06-26 13:45:50,614 INFO {{.Domains}}: 2.0% max memory 864 MB = 17.3 MB
---EVENT_DELIMITER---
2023-06-26 13:45:50,614 INFO {{.Domains}}: capacity      = 2^21 = 2097152 entries
---EVENT_DELIMITER---
2023-06-26 13:45:50,623 INFO {{.Domains}}: Storage policy satisfier is disabled
---EVENT_DELIMITER---
2023-06-26 13:45:50,623 INFO {{.Domains}}: {{.Domains}} = false
---EVENT_DELIMITER---
2023-06-26 13:45:50,631 INFO {{.Domains}}: {{.Domains}}-pct = 0.999
---EVENT_DELIMITER---
2023-06-26 13:45:50,631 INFO {{.Domains}}: {{.Domains}} = 0
---EVENT_DELIMITER---
2023-06-26 13:45:50,631 INFO {{.Domains}}: {{.Domains}} = 5000
---EVENT_DELIMITER---
2023-06-26 13:45:50,632 INFO {{.Domains}}: defaultReplication         = 1
---EVENT_DELIMITER---
2023-06-26 13:45:50,632 INFO {{.Domains}}: maxReplication             = 512
---EVENT_DELIMITER---
2023-06-26 13:45:50,632 INFO {{.Domains}}: minReplication             = 1
---EVENT_DELIMITER---
2023-06-26 13:45:50,632 INFO {{.Domains}}: maxReplicationStreams      = 100
---EVENT_DELIMITER---
2023-06-26 13:45:50,633 INFO {{.Domains}}: redundancyRecheckInterval  = 3000ms
---EVENT_DELIMITER---
2023-06-26 13:45:50,633 INFO {{.Domains}}: encryptDataTransfer        = false
---EVENT_DELIMITER---
2023-06-26 13:45:50,633 INFO {{.Domains}}: maxNumBlocksToLog          = 1000
---EVENT_DELIMITER---
2023-06-26 13:45:50,670 INFO {{.Domains}}: GLOBAL serial map: bits=29 maxEntries=536870911
---EVENT_DELIMITER---
2023-06-26 13:45:50,671 INFO {{.Domains}}: USER serial map: bits=24 maxEntries=16777215
---EVENT_DELIMITER---
2023-06-26 13:45:50,671 INFO {{.Domains}}: GROUP serial map: bits=24 maxEntries=16777215
---EVENT_DELIMITER---
2023-06-26 13:45:50,671 INFO {{.Domains}}: XATTR serial map: bits=24 maxEntries=16777215
---EVENT_DELIMITER---
2023-06-26 13:45:50,696 INFO {{.Domains}}: Computing capacity for map INodeMap
---EVENT_DELIMITER---
2023-06-26 13:45:50,696 INFO {{.Domains}}: VM type       = 64-bit
---EVENT_DELIMITER---
2023-06-26 13:45:50,697 INFO {{.Domains}}: 1.0% max memory 864 MB = 8.6 MB
---EVENT_DELIMITER---
2023-06-26 13:45:50,697 INFO {{.Domains}}: capacity      = 2^20 = 1048576 entries
---EVENT_DELIMITER---
2023-06-26 13:45:50,699 INFO {{.Domains}}: ACLs enabled? true
---EVENT_DELIMITER---
2023-06-26 13:45:50,699 INFO {{.Domains}}: POSIX ACL inheritance enabled? true
---EVENT_DELIMITER---
2023-06-26 13:45:50,699 INFO {{.Domains}}: XAttrs enabled? true
---EVENT_DELIMITER---
2023-06-26 13:45:50,700 INFO {{.Domains}}: Caching file names occurring more than 10 times
---EVENT_DELIMITER---
2023-06-26 13:45:50,708 INFO {{.Domains}}: Configured throttleLimitHandlerRatio=1.0 for re-encryption
---EVENT_DELIMITER---
2023-06-26 13:45:50,717 INFO {{.Domains}}: Loaded config captureOpenFiles: false, skipCaptureAccessTimeOnlyChange: false, snapshotDiffAllowSnapRootDescendant: true, maxSnapshotLimit: 65536
---EVENT_DELIMITER---
2023-06-26 13:45:50,720 INFO {{.Domains}}: SkipList is disabled
---EVENT_DELIMITER---
2023-06-26 13:45:50,748 INFO {{.Domains}}: Computing capacity for map cachedBlocks
---EVENT_DELIMITER---
2023-06-26 13:45:50,748 INFO {{.Domains}}: VM type       = 64-bit
---EVENT_DELIMITER---
2023-06-26 13:45:50,748 INFO {{.Domains}}: 0.25% max memory 864 MB = 2.2 MB
---EVENT_DELIMITER---
2023-06-26 13:45:50,749 INFO {{.Domains}}: capacity      = 2^18 = 262144 entries
---EVENT_DELIMITER---
2023-06-26 13:45:50,764 INFO {{.Domains}}: NNTop conf: {{.Domains}} = 10
---EVENT_DELIMITER---
2023-06-26 13:45:50,764 INFO {{.Domains}}: NNTop conf: {{.Domains}} = 10
---EVENT_DELIMITER---
2023-06-26 13:45:50,764 INFO {{.Domains}}: NNTop conf: {{.Domains}} = 1,5,25
---EVENT_DELIMITER---
2023-06-26 13:45:50,768 INFO {{.Domains}}: Retry cache on namenode is enabled
---EVENT_DELIMITER---
2023-06-26 13:45:50,768 INFO {{.Domains}}: Retry cache will use 0.03 of total heap and retry cache entry expiry time is 600000 millis
---EVENT_DELIMITER---
2023-06-26 13:45:50,771 INFO {{.Domains}}: Computing capacity for map NameNodeRetryCache
---EVENT_DELIMITER---
2023-06-26 13:45:50,771 INFO {{.Domains}}: VM type       = 64-bit
---EVENT_DELIMITER---
2023-06-26 13:45:50,771 INFO {{.Domains}}: 0.029999999329447746% max memory 864 MB = 265.4 KB
---EVENT_DELIMITER---
2023-06-26 13:45:50,771 INFO {{.Domains}}: capacity      = 2^15 = 32768 entries
---EVENT_DELIMITER---
2023-06-26 13:45:50,774 INFO {{.Domains}}: Removal of  Expired Lease on Open Files is enabled
---EVENT_DELIMITER---
2023-06-26 13:45:50,811 INFO {{.Domains}}: Allocated new BlockPoolId: BP-{{.timestamp_unix_s}}-{{.IPs}}-{{.timestamp_unix_ms}}
---EVENT_DELIMITER---
2023-06-26 13:45:50,824 INFO {{.Domains}}: Storage directory /mnt/namenode has been successfully formatted.
---EVENT_DELIMITER---
2023-06-26 13:45:50,826 INFO {{.Domains}}: Storage directory /mnt1/namenode has been successfully formatted.
---EVENT_DELIMITER---
2023-06-26 13:45:50,868 INFO {{.Domains}}: Saving image file /mnt1/namenode/current/{{.Domains}}_0000000000000000000 using no compression
---EVENT_DELIMITER---
2023-06-26 13:45:50,868 INFO {{.Domains}}: Saving image file /mnt/namenode/current/{{.Domains}}_0000000000000000000 using no compression
---EVENT_DELIMITER---
2023-06-26 13:45:51,228 INFO {{.Domains}}: Image file /mnt1/namenode/current/{{.Domains}}_0000000000000000000 of size 403 bytes saved in 0 seconds .
---EVENT_DELIMITER---
2023-06-26 13:45:51,230 INFO {{.Domains}}: Image file /mnt/namenode/current/{{.Domains}}_0000000000000000000 of size 403 bytes saved in 0 seconds .
---EVENT_DELIMITER---
2023-06-26 13:45:51,244 INFO {{.Domains}}: Going to retain 1 images with txid >= 0
---EVENT_DELIMITER---
2023-06-26 13:45:51,301 INFO {{.Domains}}: Stopping services started for active state
---EVENT_DELIMITER---
2023-06-26 13:45:51,301 INFO {{.Domains}}: Stopping services started for standby state
---EVENT_DELIMITER---
2023-06-26 13:45:51,305 INFO {{.Domains}}: FSImageSaver clean checkpoint: txid=0 when meet shutdown.
---EVENT_DELIMITER---
2023-06-26 13:45:51,306 INFO {{.Domains}}: FSImageSaver clean checkpoint: txid=0 when meet shutdown.
---EVENT_DELIMITER---
2023-06-26 13:45:51,306 INFO {{.Domains}}: SHUTDOWN_MSG: 
---EVENT_DELIMITER---
/************************************************************
---EVENT_DELIMITER---
SHUTDOWN_MSG: Shutting down NameNode at {{.Domains}}/{{.IPs}}
---EVENT_DELIMITER---
************************************************************/