{"firewall_name":"AWSNetworkFirewall","availability_zone":"us-east-2a","event_timestamp":"{{.timestamp_unix_s}}","event":{"timestamp":"{{.timestamp_iso}}611+0000","flow_id":706471429191862,"event_type":"alert","src_ip":"{{.IPs}}","src_port":51254,"dest_ip":"{{.IPs}}","dest_port":80,"proto":"TCP","alert":{"action":"blocked","signature_id":1000003,"rev":1,"signature":"Deny all other TCP traffic","category":"","severity":3},"http":{"hostname":"{{.IPs}}","url":"/","http_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36","http_method":"GET","protocol":"HTTP/1.1","length":0},"app_proto":"http"}}
---EVENT_DELIMITER---
{"firewall_name":"AWSNetworkFirewall","availability_zone":"us-east-2a","event_timestamp":"{{.timestamp_unix_s}}","event":{"timestamp":"{{.timestamp_iso}}542+0000","flow_id":625409144331688,"event_type":"netflow","src_ip":"{{.IPs}}","src_port":61953,"dest_ip":"{{.IPs}}","dest_port":5060,"proto":"TCP","netflow":{"pkts":1,"bytes":40,"start":"{{.timestamp_iso}}632+0000","end":"{{.timestamp_iso}}632+0000","age":0,"min_ttl":221,"max_ttl":221},"tcp":{"tcp_flags":"02","syn":true}}}
---EVENT_DELIMITER---
{"firewall_name":"outbound","availability_zone":"eu-central-1a","event_timestamp":"{{.timestamp_unix_s}}","event":{"app_proto":"tls","src_ip":"{{.IPs}}","src_port":5302,"event_type":"alert","alert":{"severity":3,"signature_id":4,"rev":0,"signature":"aws:alert_established action","action":"allowed","category":""},"flow_id":1829676028160453,"dest_ip":"{{.IPs}}","proto":"TCP","tls":{"subject":"CN={{.Domains}}","issuerdn":"C=US, O=Amazon, OU=Server CA 1B, CN=Amazon","subject":"CN={{.Domains}}","issuerdn":"C=US, O=Amazon, OU=Server CA 1B, CN=Amazon","serial":"08:C9:76:68:CB:30:31:1C:B2:24:A4:B3:22:F0:16:29","fingerprint":"34:36:32:fb:05:65:83:55:a0:8e:24:7b:41:52:bf:98:88:3b:bf:9b","sni":"{{.Domains}}","version":"TLS 1.2","notbefore":"{{.timestamp_iso}}","notafter":"{{.timestamp_iso}}","ja3":{},"ja3s":{}},"dest_port":443,"timestamp":"{{.timestamp_iso}}095+0000"}}