1.0 {{.timestamp_iso}} Z123412341234 {{.Domains}} A NOERROR UDP FRA6 {{.IPs}} -
---EVENT_DELIMITER---
1.0 {{.timestamp_iso}} Z123412341234 {{.Domains}} AAAA NOERROR TCP IAD12 {{.IPs}} {{.IPs}}/24
---EVENT_DELIMITER---
1.0 {{.timestamp_iso}} Z123412341234 {{.Domains}} ANY NOERROR UDP FRA6 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6 2001:db8:abcd::/48
---EVENT_DELIMITER---
1.0 {{.timestamp_iso}} Z123412341234 {{.Domains}} A NXDOMAIN UDP IAD12 {{.IPs}} {{.IPs}}/24
---EVENT_DELIMITER---
1.0 {{.timestamp_iso}} Z123412341234 {{.Domains}} TXT NOERROR UDP JFK5 {{.IPs}} -
---EVENT_DELIMITER---
1.0 {{.timestamp_iso}} Z123412341234 {{.Domains}} TXT NOERROR UDP GRU1-C1 {{.IPs}} -
---EVENT_DELIMITER---
1.0 {{.timestamp_iso}} Z123412341234 _{{.Domains}} SPF NOERROR UDP DEN50-C1 {{.IPs}} -