{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"48701","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.IPs}}{{.Domains}}.","query_type":"PTR","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.Domains}}.","Type":"PTR","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"47924","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"48701","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"__cloud_init_expected_not_found__.","query_type":"AAAA","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"37272","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"53211","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"__cloud_init_expected_not_found__.","query_type":"A","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"37272","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"instance-data.","query_type":"A","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"56779","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"instance-data.","query_type":"AAAA","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"56779","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"__cloud_init_expected_not_found__{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"56468","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"53211","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.Domains}}.","Type":"CNAME","Class":"IN"},{"Rdata":"2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6","Type":"AAAA","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"43312","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[],"srcaddr":"{{.IPs}}","srcport":"39727","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.Domains}}.","Type":"CNAME","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"43312","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"43312","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6","Type":"AAAA","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"43312","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"39727","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[],"srcaddr":"{{.IPs}}","srcport":"44474","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"44474","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.Domains}}.","Type":"CNAME","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"44474","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.Domains}}.","Type":"CNAME","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"44474","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.IPs}}{{.Domains}}.","query_type":"PTR","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"59464","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[],"srcaddr":"{{.IPs}}","srcport":"46159","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6","Type":"AAAA","Class":"IN"},{"Rdata":"2a02:cf40:f1::1","Type":"AAAA","Class":"IN"},{"Rdata":"2a02:cf40:3803:1::6","Type":"AAAA","Class":"IN"},{"Rdata":"2a02:cf40:1560:8003::c7","Type":"AAAA","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"49167","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[],"srcaddr":"{{.IPs}}","srcport":"51725","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"51725","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"46159","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"49167","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.IPs}}{{.Domains}}.","query_type":"PTR","query_class":"IN","rcode":"NXDOMAIN","answers":[],"srcaddr":"{{.IPs}}","srcport":"39685","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"58350","transport":"UDP","srcids":{}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"AAAA","query_class":"IN","rcode":"NOERROR","answers":[],"srcaddr":"{{.IPs}}","srcport":"38200","transport":"UDP","srcids":{"instance":"i-079c44232510ca8ff"}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.IPs}}{{.Domains}}.","query_type":"PTR","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"ec2-{{.IPs}}{{.Domains}}.","Type":"PTR","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"47882","transport":"UDP","srcids":{"instance":"i-079c44232510ca8ff"}}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"{{.Domains}}.","query_type":"A","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"{{.Domains}}.","Type":"CNAME","Class":"IN"},{"Rdata":"{{.IPs}}","Type":"A","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"52785","transport":"UDP","srcids":{"instance":"i-079c44232510ca8ff"}}
---EVENT_DELIMITER---
{"srcaddr":"{{.IPs}}","vpc_id":"vpc-7example","answers":[{"Rdata":"{{.IPs}}","Type":"PTR","Class":"IN"}],"firewall_rule_group_id":"rslvr-frg-01234567890abcdef","firewall_rule_action":"BLOCK","query_name":"{{.IPs}}{{.Domains}}.","firewall_domain_list_id":"rslvr-fdl-01234567890abcdef","query_class":"IN","srcids":{"instance":"i-0d15cd0d3example"},"rcode":"NOERROR","query_type":"PTR","transport":"UDP","version":"1.100000","account_id":"111122223333","srcport":"56067","query_timestamp":"{{.timestamp_iso}}","region":"us-east-1"}
---EVENT_DELIMITER---
{"version":"1.100000","account_id":"626345947581","region":"us-east-1","vpc_id":"vpc-01e31a7c","query_timestamp":"{{.timestamp_iso}}","query_name":"6.c.f.6.a.9.0.e.2.b.9.a.2.f.{{.IPs}}{{.Domains}}","query_type":"PTR","query_class":"IN","rcode":"NOERROR","answers":[{"Rdata":"ec2-{{.IPs}}{{.Domains}}.","Type":"PTR","Class":"IN"}],"srcaddr":"{{.IPs}}","srcport":"47882","transport":"UDP","srcids":{"instance":"i-079c44232510ca8ff"}}