{ "resultDescription": "Exception on /{{.Domains}} [GET]", "resourceId": "/SUBSCRIPTIONS/0E072EC1-C22F-44L8-ADDE-DA36ED609CCD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004D00656084194B08980B8DB637B86", "category": "AppServiceAppLogs", "time": "2023-02-16 10:18:01Z", "level": "Error", "EventStampType": "Stamp", "EventPrimaryStampName": "waws-prod-blu-219", "EventStampName": "waws-prod-blu-219", "Host": "lw1sdlwk0008EK", "EventIpAddress": "{{.IPs}}"}
---EVENT_DELIMITER---
{ "resultDescription": "hi there", "resourceId": "/SUBSCRIPTIONS/0E0733C1-C22F-4408-ADDE-DA35XD609CCD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004D00656084194B08980B8DB637B86", "category": "AppServiceAppLogs", "time": "2023-02-16 10:18:46Z", "level": "Informational", "EventStampType": "Stamp", "EventPrimaryStampName": "waws-prod-blu-219", "EventStampName": "waws-prod-blu-219", "Host": "lw1sdlwk0008EK", "EventIpAddress": "{{.IPs}}"}
---EVENT_DELIMITER---
{"time":"{{.timestamp_iso}}5099Z","ResourceId":"/SUBSCRIPTIONS/12CABCB5-36E8-104F-A3D2-1DC9982F45CA/RESOURCEGROUPS/USER-TEST/PROVIDERS/{{.Domains}}/SITES/USER-TEST-APP","Category":"AppServiceAuditLogs","OperationName":"Authorization","Properties":{"User":"100320021ACECD34","UserDisplayName":"{{.Emails}}","UserAddress":"{{.IPs}}:5432","Protocol":"AAD"}}
---EVENT_DELIMITER---
{ "time": "{{.timestamp_iso}}410441Z", "resourceId": "/SUBSCRIPTIONS/0E073EC1-C22F-4488-ADDE-DA35ED609CCD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004D00656084194B08980B8DB637B86", "containerId": "01aa4f3e4be4c54ee115d64e99ecb3d4ad3b24a0af64c124f251de2c2a967e2c", "operationName": "{{.Domains}}/sites/log", "category": "AppServiceConsoleLogs", "resultDescription": " Request for index page received\n\n", "level": "Informational", "EventStampType": "Stamp", "EventPrimaryStampName": "waws-prod-blu-219", "EventStampName": "waws-prod-blu-219", "Host": "lw1sdlwk0008EK", "EventIpAddress": "{{.IPs}}"}
---EVENT_DELIMITER---
{ "time": "{{.timestamp_iso}}439441Z", "resourceId": "/SUBSCRIPTIONS/0E073EC1-C22F-4488-ADDE-DA35ED609CCD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004D00656084194B08980B8DB637B86", "containerId": "01aa4f3e4be4c54ee115d44e99ecb4d4ad3b24a8af64c124f251de2c2a967e2c", "operationName": "{{.Domains}}/sites/log", "category": "AppServiceConsoleLogs", "resultDescription": " {{.IPs}} - - {{.timestamp_clf_timezone}} \"GET / HTTP/1.1\" 200 1469 \"https://{{.Domains}}/\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36\"\n\n", "level": "Informational", "EventStampType": "Stamp", "EventPrimaryStampName": "waws-prod-blu-219", "EventStampName": "waws-prod-blu-219", "Host": "lw1sdlwk0008EK", "EventIpAddress": "{{.IPs}}"}
---EVENT_DELIMITER---
{"time": "{{.timestamp_iso}}3064Z", "resourceId": "/SUBSCRIPTIONS/12CA3CB4-86E8-404F-A352-1DC1000F45CA/RESOURCEGROUPS/USER-TEST/PROVIDERS/{{.Domains}}/SITES/APP-TEST", "category": "AppServiceHTTPLogs", "properties": {"CsMethod":"POST","CsUriStem":"/api/command","SPort":"443","CIp":"{{.IPs}}","UserAgent":"Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36","CsHost":"{{.Domains}}","ScStatus":200,"ScSubStatus":"0","ScWin32Status":"0","ScBytes":778,"CsBytes":1523,"TimeTaken":1793,"Result":"Success","Cookie":"-","CsUriQuery":"X-ARR-LOG-ID=820d6db3-32ed-4b18-b1d2-2ce575080071","CsUsername":"-","Referer":"-","ComputerName":"WEBWK00000A"}}
---EVENT_DELIMITER---
{ "time": "{{.timestamp_iso}}4541Z", "resourceId": "/SUBSCRIPTIONS/12CA3CB4-86E8-404F-A352-1DC1000F45CA/RESOURCEGROUPS/USER-TEST/PROVIDERS/{{.Domains}}/SITES/APP-TEST", "category": "AppServiceHTTPLogs", "properties": {"CsMethod":"POST","CsUriStem":"/api/command","SPort":"443","CIp":"{{.IPs}}","UserAgent":"Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36","CsHost":"{{.Domains}}","ScStatus":200,"ScSubStatus":"0","ScWin32Status":"0","ScBytes":778,"CsBytes":1523,"TimeTaken":2578,"Result":"Success","Cookie":"-","CsUriQuery":"X-ARR-LOG-ID=3a3ea033-7afc-46fb-8cfc-9d1495fca2f1","CsUsername":"-","Referer":"-","ComputerName":"WEBWK00000A"}}
---EVENT_DELIMITER---
{ "time": "{{.timestamp_iso}}3739Z", "ResourceId": "/SUBSCRIPTIONS/0E073EC1-C22F-4488-ADDE-DA35ED609CCD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004D00656084194B08980B8DB637B86", "Category": "AppServiceIPSecAuditLogs", "OperationName": "Authorization", "Properties": {"Result":"Denied","CsHost":"{{.Domains}}","ServiceEndpoint":"False","CIp":"{{.IPs}}:52580","XForwardedFor":"","XForwardedHost":"","XAzureFDID":"","XFDHealthProbe":"","Details":"Denied by {{.IPs}}/0 rule."}}
---EVENT_DELIMITER---
{ "resourceId": "/SUBSCRIPTIONS/0E073EC1-C22F-4488-ADDE-DA35ED609ACD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004D0065608C194C08980B8DB637B86", "operationName": "ContainerLogs", "category": "AppServicePlatformLogs", "time": "{{.timestamp_iso}}", "level": "Informational", "properties": "{\"message\":\"EventName:SiteStopRequested - Reason:SiteNotStartableDuringChangeNotification - Message: - ContainerIDs:01aa4f3e4be4c54ee115d54e91ecb4d4ad3b24a0af64c124f251de2c2a967e2c - AdditionalInfo: \"}", "EventStampType": "Stamp", "EventPrimaryStampName": "waws-prod-blu-219", "EventStampName": "waws-prod-blu-219", "Host": "lw1sdlwk0008EK", "EventIpAddress": "{{.IPs}}"}
---EVENT_DELIMITER---
{ "resourceId": "/SUBSCRIPTIONS/0E073EC1-C22F-4438-ADBE-DA35ED609CCD/RESOURCEGROUPS/{{.Domains}}_RG_6914/PROVIDERS/{{.Domains}}/SITES/MANGO-TREE-3004E00656084194C08980B8DB637B86", "operationName": "ContainerLogs", "category": "AppServicePlatformLogs", "time": "{{.timestamp_iso}}", "level": "Informational", "properties": "{\"message\":\"EventName:ContainerStopped - Reason: - Message: - ContainerIDs:01aa4f3e4be4c54ee115d54e91ecb4d4ad3b24a0af64c124f251de2c2a967e2c - AdditionalInfo: \"}", "EventStampType": "Stamp", "EventPrimaryStampName": "waws-prod-blu-219", "EventStampName": "waws-prod-blu-219", "Host": "lw1sdlwk0008EK", "EventIpAddress": "{{.IPs}}"}