{"id":1,"type":"account","entity_id":2,"entity_name":"O365:{{.Emails}}","lock_event_timestamp":"{{.timestamp_iso}}","locked_by":"vadmin","certainty":0,"unlock_event_timestamp":"{{.timestamp_iso}}"}
---EVENT_DELIMITER---
{"id":1,"type":"host","entity_id":1184,"entity_name":"Windows10_Jump","lock_event_timestamp":"{{.timestamp_iso}}","locked_by":"vadmin","certainty":0,"unlock_event_timestamp":"{{.timestamp_iso}}"}