{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 {{.IPs}} + 400 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For="{{.IPs}}, {{.IPs}}"
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 302 - {{.IPs}} + 400 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For="{{.IPs}}, {{.IPs}}"
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 X 400 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For="{{.IPs}}"
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 50 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For=""
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 {{.IPs}} 40 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For="{{.IPs}}, {{.IPs}}"
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For=""
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 {{.IPs}} - "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For=""
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "GET /manager/status HTTP/1.1" 200 4654 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "GET / HTTP/1.1" 200 11235
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "-" 400 - {{.IPs}} + 0.000 "-" "-" X-Forwarded-For="-"
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET / " 200 17
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 ms:71198 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For=""
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 ms:54321 X 400 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For="{{.IPs}}"
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 ms:3214 {{.IPs}} 40 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For="{{.IPs}}, {{.IPs}}"
---EVENT_DELIMITER---
{{.IPs}} - admin {{.timestamp_clf_timezone}} "POST /host-manager/images/{{.Domains}} HTTP/1.1" 200 20486 ms:98765 50 "http://localhost:8080/host-manager/html" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{.IPs}} Safari/537.36" X-Forwarded-For=""
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET / " 200 17 ms:1234