{"prometheus":{"labels":{"context":"/sample","host":"{{.Hosts}}","instance":"{{.IPs}}","job":"prometheus","name":"Cache"},"metrics":{"Catalina_WebResourceRoot_hitCount":5,"Catalina_WebResourceRoot_lookupCount":14,"Catalina_WebResourceRoot_maxSize":10240,"Catalina_WebResourceRoot_objectMaxSize":512,"Catalina_WebResourceRoot_size":5,"Catalina_WebResourceRoot_ttl":5000}}}