06-Mar-2023 18:34:17.383 SEVERE [main] {{.Domains}} Failed to initialize component [Connector[HTTP/1.1-8080]]
---EVENT_DELIMITER---
	{{.Domains}}: Protocol handler initialization failed
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:1058)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:136)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:554)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:136)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:1015)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:136)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:747)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:769)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}0(Native Method)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}({{.Domains}}:62)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}({{.Domains}}:43)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}({{.Domains}}:566)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:307)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:477)
---EVENT_DELIMITER---
	Caused by: {{.Domains}}: Address already in use
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}0(Native Method)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}({{.Domains}}:459)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}({{.Domains}}:448)
---EVENT_DELIMITER---
		at {{.Domains}}/{{.Domains}}({{.Domains}}:227)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:246)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:201)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:1172)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:1185)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:575)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:78)
---EVENT_DELIMITER---
		at {{.Domains}}({{.Domains}}:1055)
---EVENT_DELIMITER---
06-Apr-2023 15:09:02.978 INFO [Catalina-utility-1] {{.Domains}} Deploying web application archive [/opt/tomcat/webapps/{{.Domains}}]
---EVENT_DELIMITER---
02-Mar-2023 04:32:04.896 WARNING [Thread-478] {{.Domains}} The web application [iSiva] appears to have started a thread named [DefaultQuartzScheduler_Worker-10] but has failed to stop it. This is very likely to create a memory leak. Stack trace of thread:
---EVENT_DELIMITER---
 {{.Domains}}(Native Method)
---EVENT_DELIMITER---
 {{.Domains}}${{.Domains}}({{.Domains}}:543)