{"prometheus":{"labels":{"host":"{{.Hosts}}","instance":"{{.IPs}}","job":"prometheus","name":"GarbageCollector"},"metrics":{"java_lang_G1_Old_Generation_CollectionCount":0,"java_lang_G1_Old_Generation_CollectionTime":0,"java_lang_G1_Old_Generation_Valid":1}}}
---EVENT_DELIMITER---
{"prometheus":{"labels":{"host":"{{.Hosts}}","instance":"{{.IPs}}","job":"prometheus","name":"Memory"},"metrics":{"java_lang_Memory_HeapMemoryUsage_committed":538968064,"java_lang_Memory_HeapMemoryUsage_init":536870912,"java_lang_Memory_HeapMemoryUsage_max":1073741824,"java_lang_Memory_HeapMemoryUsage_used":45216344,"java_lang_Memory_NonHeapMemoryUsage_committed":39518208,"java_lang_Memory_NonHeapMemoryUsage_init":7667712,"java_lang_Memory_NonHeapMemoryUsage_max":-1,"java_lang_Memory_NonHeapMemoryUsage_used":36318104,"java_lang_Memory_ObjectPendingFinalizationCount":0,"java_lang_Memory_Verbose":1}}}