%APACHETOMCAT-1516-asdf: {{.IPs}}||eacommod||rci||[29/Jan/2016:6:09:59 OMST]||exercita||https://{{.Domains}}/illumqui/{{.Domains}}?min=ite#utl||vol||amremap||oremi||ntsunti||5293||https://{{.Domains}}/turadipi/{{.Domains}}?ntium=psaq#cer||Mozilla/5.0 (Linux; Android 9; G8142) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||aliqu
---EVENT_DELIMITER---
%APACHETOMCAT-259-CFYZ: {{.IPs}}||sequa||abo||[12/Feb/2016:1:12:33 PST]||umqui||https://{{.Domains}}/mdolo/{{.Domains}}?sumdo=litesse#orev||pisciv||uii||umexe||estlabo||5222||https://{{.Domains}}/uat/{{.Domains}}?byCicer=luptat#agn||Opera/9.80 (Series 60; Opera Mini/7.1.32444/174.101; U; ru) Presto/2.12.423 Version/12.16||nulapari
---EVENT_DELIMITER---
Febru{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- COOK: {{.IPs}}||gnaali||enatus||[26/Feb/2016:8:15:08 PT]||incid||https://{{.Domains}}/tetur/{{.Domains}}?ntex=eius#luptat||emape||aer||lupt||tia||7019||https://{{.Domains}}/quis/{{.Domains}}?anti=ofdeF#metcons||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||nul
---EVENT_DELIMITER---
%APACHETOMCAT-1060-INDEX: {{.IPs}}||tinculp||tur||[12/Mar/2016:3:17:42 CT]||equat||https://{{.Domains}}/nci/{{.Domains}}?amco=exe#iatu||ionofde||con||uia||quiavo||1156||https://{{.Domains}}/consec/{{.Domains}}?radip=tNequ#gelit||Mozilla/5.0 (Linux; Android 9; 5024D_RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36 YaApp_Android/10.61 YaSearchBrowser/10.61||tconsec
---EVENT_DELIMITER---
%APACHETOMCAT-4141-BADMTHD: {{.IPs}}||oluptas||llu||[{{.timestamp_common}} GMT+02:00]||ommod||https://{{.Domains}}/aqui/{{.Domains}}?llumd=enatuse#magn||equuntu||eos||enimad||rmagni||1998||https://{{.Domains}}/onev/{{.Domains}}?seq=olorema#ccaecat||Mozilla/5.0 (Linux; Android 8.0.0; VS996) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||fug
---EVENT_DELIMITER---
%APACHETOMCAT-2964-BADMETHOD: {{.IPs}}||uian||tempo||[09/Apr/2016:5:22:51 PST]||exercit||https://{{.Domains}}/omnis/{{.Domains}}?lupta=iusmodt#doloreeu||pori||occ||ect||reetdolo||2770||https://{{.Domains}}/uiano/{{.Domains}}?anim=autfugi#inBCSedu||Mozilla/5.0 (Linux; Android 6.0; QMobile X700 PRO II) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36||tanimi
---EVENT_DELIMITER---
Ap{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- INDEX: {{.IPs}}||aquaeab||liqu||[{{.timestamp_common}} PT]||ehend||https://{{.Domains}}/uidolore/{{.Domains}}?iat=tevelit#nsequat||loremagn||ipis||gelits||tatevel||3856||https://{{.Domains}}/uovol/{{.Domains}}?quunt=ptat#ore||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||tsed
---EVENT_DELIMITER---
{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- DEBUG: {{.IPs}}||boree||ugits||[08/May/2016:7:27:59 CEST]||iinea||https://{{.Domains}}/idexea/{{.Domains}}?tvol=moll#tatione||inB||deomni||tquovol||ntsuntin||3341||https://{{.Domains}}/imav/{{.Domains}}?tion=orsitame#quiratio||Mozilla/5.0 (Linux; Android 6.0; Lenovo A2016a40 Build/MRA58K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.106 Mobile Safari/537.36 YaApp_Android/10.30 YaSearchBrowser/10.30||iam
---EVENT_DELIMITER---
%APACHETOMCAT-3097-BADMTHD: {{.IPs}}||apariat||mol||[22/May/2016:2:30:33 CT]||olupta||https://{{.Domains}}/toccae/{{.Domains}}?taliqu=temUten#ccusan||iqu||ollit||usan||aper||5529||https://{{.Domains}}/uaera/{{.Domains}}?aedic=atquovo#iumto||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||mquaera
---EVENT_DELIMITER---
%APACHETOMCAT-6283-null: {{.IPs}}||vel||quu||[05/Jun/2016:9:33:08 OMST]||avol||https://{{.Domains}}/atuse/{{.Domains}}?idolore=onse#liq||metcon||smo||litessec||emporinc||5075||https://{{.Domains}}/atcu/{{.Domains}}?remipsum=liq#ist||Opera/9.80 (Series 60; Opera Mini/7.1.32444/174.101; U; ru) Presto/2.12.423 Version/12.16||caecatc
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- SEARCH: {{.IPs}}||enia||nsequu||[20/Jun/2016:4:35:42 PST]||rsint||https://{{.Domains}}/idestla/{{.Domains}}?taed=lup#remeumf||antiumto||strude||ctetura||usmod||1640||https://{{.Domains}}/lor/{{.Domains}}?rsitamet=lupt#xea||Mozilla/5.0 (Linux; Android 6.0; ZTE BLADE V7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||orain
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- TRACE: {{.IPs}}||lores||lapariat||[{{.timestamp_common}} PST]||etc||https://{{.Domains}}/nimadmin/{{.Domains}}?lpa=entsu#dun||onproide||luptat||itaut||imaven||152||https://{{.Domains}}/onproide/{{.Domains}}?pitla=ccu#urE||Mozilla/5.0 (Linux; Android 10; ASUS_X01BDA) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36||inculpaq
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- BDMTHD: {{.IPs}}||errorsi||des||[18/Jul/2016:6:40:50 GMT+02:00]||stl||https://{{.Domains}}/ono/{{.Domains}}?emaperi=tame#tinvol||tectobe||colabor||iusmodt||etdolo||3768||https://{{.Domains}}/ommod/{{.Domains}}?tlabo=suntexp#ugiatnu||Mozilla/5.0 (Linux; Android 5.1.1; Android Build/LMY47V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Mobile Safari/537.36 YaApp_Android/9.80 YaSearchBrowser/9.80||itecto
---EVENT_DELIMITER---
%APACHETOMCAT-3217-GET: {{.IPs}}||nsec||onse||[02/Aug/2016:1:43:25 OMST]||inibusBo||https://{{.Domains}}/tion/{{.Domains}}?uiineavo=tisetq#irati||ici||giatquov||eritquii||dexeac||3088||https://{{.Domains}}/oreseos/{{.Domains}}?msequi=isnostru#iquaUten||Mozilla/5.0 (Linux; Android 6.0; QMobile X700 PRO II) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36||iadese
---EVENT_DELIMITER---
%APACHETOMCAT-1109-PUT: {{.IPs}}||hil||atquovo||[16/Aug/2016:8:45:59 GMT+02:00]||iineavo||https://{{.Domains}}/isno/{{.Domains}}?nnu=dolo#Loremip||idolor||emeumfu||CSed||lupt||6136||https://{{.Domains}}/quip/{{.Domains}}?uatD=iunt#temveleu||Mozilla/5.0 (Linux; Android 10; STK-L21 Build/HUAWEISTK-L21) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36 YaApp_Android/10.91 YaSearchBrowser/10.91||tio
---EVENT_DELIMITER---
Aug{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- FGET: {{.IPs}}||gnam||tat||[30/Aug/2016:3:48:33 CET]||lumqui||https://{{.Domains}}/mdolore/{{.Domains}}?iavolu=den#tutla||olorema||iades||siarchi||datatn||5076||https://{{.Domains}}/mipsumd/{{.Domains}}?remi=saute#ercit||Mozilla/5.0 (Linux; Android 9; Notepad_K10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Safari/537.36||remagn
---EVENT_DELIMITER---
%APACHETOMCAT-3361-null: {{.IPs}}||samvolu||ittenbyC||[{{.timestamp_common}} ET]||eirure||https://{{.Domains}}/oidentsu/{{.Domains}}?ntor=lpaqui#sitame||iadese||nsectet||utla||utei||2716||https://{{.Domains}}/tlabori/{{.Domains}}?quisnos=ite#ationul||Mozilla/5.0 (Linux; Android 9; ZTE Blade V1000RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Mobile Safari/537.36 YaApp_Android/10.91 YaSearchBrowser/10.91||eritqu
---EVENT_DELIMITER---
Septem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- PUT: {{.IPs}}||itquiin||modocon||[28/Sep/2016:5:53:42 PST]||taevit||https://{{.Domains}}/etconse/{{.Domains}}?lit=asun#estia||eaq||occae||ctetura||labore||4621||https://{{.Domains}}/adeseru/{{.Domains}}?atur=itanimi#itame||Mozilla/5.0 (Linux; U; Android 4.0.3; es-us; GT-P3100 Build/IML74K) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Safari/534.30||rehender
---EVENT_DELIMITER---
%APACHETOMCAT-1637-DETECT_METHOD_TYPE: {{.IPs}}||equat||doloreme||[{{.timestamp_common}} GMT+02:00]||ione||https://{{.Domains}}/eriamea/{{.Domains}}?magni=pisciv#iquidex||radipisc||tmo||fficiade||uscipit||4168||https://{{.Domains}}/oru/{{.Domains}}?etMalor=ipi#reseos||Mozilla/5.0 (Linux; Android 8.0.0; VS996) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||mcolab
---EVENT_DELIMITER---
Octo{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- BDMTHD: {{.IPs}}||tper||olor||[26/Oct/2016:7:58:50 GMT-07:00]||osqui||https://{{.Domains}}/iutali/{{.Domains}}?liquide=etdol#uela||boN||eprehend||aevit||aboN||3423||https://{{.Domains}}/tlabo/{{.Domains}}?mpo=offi#giatnu||Mozilla/5.0 (iPhone; CPU iPhone OS 13_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/{{.IPs}}.114;FBBV/216059178;FBDV/iPhone10,6;FBMD/iPhone;FBSN/iOS;FBSV/13.4.1;FBSS/3;FBCR/;FBID/phone;FBLC/en_US;FBOP/0]||lor
---EVENT_DELIMITER---
Novem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- CFYZ: {{.IPs}}||quisno||sin||[10/Nov/2016:3:01:24 CT]||aliquam||https://{{.Domains}}/itatione/{{.Domains}}?oluptate=issus#osamn||isnisiu||bore||tsu||tcons||3128||https://{{.Domains}}/lorinre/{{.Domains}}?idata=rumwritt#magnid||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||dol
---EVENT_DELIMITER---
%APACHETOMCAT-4307-TRACE: {{.IPs}}||tevelite||orporiss||[{{.timestamp_common}} OMST]||tlabo||https://{{.Domains}}/emvel/{{.Domains}}?numqua=veni#eveli||eroi||dtemp||aliquide||ofde||4940||https://{{.Domains}}/maven/{{.Domains}}?labor=didunt#uptatema||Mozilla/5.0 (Linux; Android 10; STK-L21 Build/HUAWEISTK-L21) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36 YaApp_Android/10.91 YaSearchBrowser/10.91||udan
---EVENT_DELIMITER---
%APACHETOMCAT-6040-CFYZ: {{.IPs}}||aturQui||utlabor||[08/Dec/2016:5:06:33 ET]||temvel||https://{{.Domains}}/nisi/{{.Domains}}?ecte=tinvolu#iurer||iciadese||quidolor||tessec||olupta||2660||https://{{.Domains}}/idolor/{{.Domains}}?llumdolo=nre#ercitat||Mozilla/5.0 (Linux; Android 7.0; MEIZU M6 Build/NRD90M) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Mobile Safari/537.36 YaApp_Android/10.30 YaSearchBrowser/10.30||uiinea
---EVENT_DELIMITER---
%APACHETOMCAT-1612-SEARCH: {{.IPs}}||eni||ionevo||[{{.timestamp_common}} CT]||Ute||https://{{.Domains}}/sintocc/{{.Domains}}?tDuisaut=oinBC#quameius||ipsumdol||tet||etdo||urerepr||4674||https://{{.Domains}}/tetu/{{.Domains}}?tlabore=Exc#pora||Mozilla/5.0 (Linux; Android 9; POCOPHONE F1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||uteirure
---EVENT_DELIMITER---
Janu{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- RNDMMTD: {{.IPs}}||nnum||tenbyCi||[06/Jan/2017:7:11:41 PST]||tco||https://{{.Domains}}/officiad/{{.Domains}}?madmi=tur#roi||niamqui||orem||sno||atno||5263||https://{{.Domains}}/ntocca/{{.Domains}}?quiavol=rrorsi#temquiav||Mozilla/5.0 (Linux; Android 9; G8142) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||sec
---EVENT_DELIMITER---
Janu{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- HEAD: {{.IPs}}||ten||vita||[20/Jan/2017:2:14:16 OMST]||ullamcor||https://{{.Domains}}/tor/{{.Domains}}?eavolup=fugiatn#docon||etconsec||ios||evolu||ersp||3536||https://{{.Domains}}/sauteiru/{{.Domains}}?tes=mquame#nihilmol||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||orain
---EVENT_DELIMITER---
%APACHETOMCAT-6113-get: {{.IPs}}||madmi||uidol||[03/Feb/2017:9:16:50 ET]||quameius||https://{{.Domains}}/roid/{{.Domains}}?Nemoenim=squirati#Sedutp||utp||ema||rsitv||iciade||5649||https://{{.Domains}}/lup/{{.Domains}}?upida=tvolupt#eufugi||Mozilla/5.0 (Linux; Android 9; Pixel 3 Build/PD1A.180720.030) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.158 Mobile Safari/537.36||uredol
---EVENT_DELIMITER---
%APACHETOMCAT-6945-DETECT_METHOD_TYPE: {{.IPs}}||tenimad||minimav||[18/Feb/2017:4:19:24 OMST]||taedicta||https://{{.Domains}}/str/{{.Domains}}?eetdolo=cteturad#untut||uamni||ctet||ati||uine||2438||https://{{.Domains}}/loreme/{{.Domains}}?ven=con#nisist||Mozilla/5.0 (Linux; Android 6.0; QMobile X700 PRO II) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36||ium
---EVENT_DELIMITER---
Ma{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- ABCD: {{.IPs}}||laudant||isnost||[{{.timestamp_common}} CET]||rQuisau||https://{{.Domains}}/iscinge/{{.Domains}}?molli=velitse#oditem||gitsedqu||borios||rsitvolu||quam||5315||https://{{.Domains}}/ineavo/{{.Domains}}?iadolor=amcol#adeser||Mozilla/5.0 (Linux; Android 6.0; Lenovo A2016a40 Build/MRA58K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.106 Mobile Safari/537.36 YaApp_Android/10.30 YaSearchBrowser/10.30||gitsed
---EVENT_DELIMITER---
%APACHETOMCAT-4367-uGET: {{.IPs}}||idolo||luptate||[18/Mar/2017:6:24:33 PT]||atisun||https://{{.Domains}}/epre/{{.Domains}}?quia=iduntu#idestlab||rnatur||ofdeFin||essequam||acommo||3105||https://{{.Domains}}/cusant/{{.Domains}}?itecto=reetdol#totamre||Mozilla/5.0 (Linux; Android 9; ZTE Blade V1000RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Mobile Safari/537.36 YaApp_Android/10.91 YaSearchBrowser/10.91||ercita
---EVENT_DELIMITER---
Ap{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- INDEX: {{.IPs}}||uamei||siut||[02/Apr/2017:1:27:07 CT]||uisa||https://{{.Domains}}/mexe/{{.Domains}}?ice=oles#edic||seq||tutlab||sau||atevelit||2450||https://{{.Domains}}/aperia/{{.Domains}}?ttenby=boris#stenatu||Mozilla/5.0 (Linux; Android 9; Notepad_K10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Safari/537.36||orumSe
---EVENT_DELIMITER---
Ap{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- BADMETHOD: {{.IPs}}||siut||tconsect||[16/Apr/2017:8:29:41 PT]||piscinge||https://{{.Domains}}/velitess/{{.Domains}}?nre=veli#volupta||rnatu||elitse||ima||quasia||2382||https://{{.Domains}}/quamqua/{{.Domains}}?iumdol=tpersp#stla||mobmail android 2.1.3.3150||sequamni
---EVENT_DELIMITER---
%APACHETOMCAT-6198-BDMTHD: {{.IPs}}||nea||psum||[30/Apr/2017:3:32:16 OMST]||ncididun||https://{{.Domains}}/xeacomm/{{.Domains}}?apariat=vitaedi#lorsita||dolore||uptate||quidexea||ect||23||https://{{.Domains}}/ate/{{.Domains}}?quatu=veli#tenim||Mozilla/5.0 (iPhone; CPU iPhone OS 13_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/{{.IPs}}.114;FBBV/216059178;FBDV/iPhone10,6;FBMD/iPhone;FBSN/iOS;FBSV/13.4.1;FBSS/3;FBCR/;FBID/phone;FBLC/en_US;FBOP/0]||labo
---EVENT_DELIMITER---
{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- uGET: {{.IPs}}||hit||urv||[{{.timestamp_common}} ET]||nimid||https://{{.Domains}}/texpli/{{.Domains}}?rita=esseci#tametcon||liqua||mvele||isis||uasiar||2552||https://{{.Domains}}/loremqu/{{.Domains}}?teirured=onemulla#dolorem||Mozilla/5.0 (iPhone; CPU iPhone OS 13_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/{{.IPs}}.114;FBBV/216059178;FBDV/iPhone10,6;FBMD/iPhone;FBSN/iOS;FBSV/13.4.1;FBSS/3;FBCR/;FBID/phone;FBLC/en_US;FBOP/0]||rauto
---EVENT_DELIMITER---
%APACHETOMCAT-5770-RNDMMTD: {{.IPs}}||nby||mve||[29/May/2017:5:37:24 PT]||isau||https://{{.Domains}}/ibusBon/{{.Domains}}?nsequat=doloreme#dun||reprehe||tincu||suntin||itse||814||https://{{.Domains}}/intocc/{{.Domains}}?ssecillu=liqua#olo||Mozilla/5.0 (Linux; Android 9; G8142) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||aec
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- RNDMMTD: {{.IPs}}||oreetd||uat||[{{.timestamp_common}} PT]||moenimi||https://{{.Domains}}/oconsequ/{{.Domains}}?preh=ercit#etMal||qua||rsita||ate||ipsamvo||344||https://{{.Domains}}/tdol/{{.Domains}}?asper=idunt#luptat||Mozilla/5.0 (Linux; Android 9; POCOPHONE F1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||ica
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- POST: {{.IPs}}||tvolup||itesseq||[26/Jun/2017:7:42:33 OMST]||snost||https://{{.Domains}}/llamc/{{.Domains}}?utali=porinc#tetur||xce||dat||aincidu||nimadmin||4843||https://{{.Domains}}/eumfugi/{{.Domains}}?dic=cola#amcor||Mozilla/5.0 (Linux; Android 10; ASUS_X01BDA) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36||elites
---EVENT_DELIMITER---
%APACHETOMCAT-1952-MKCOL: {{.IPs}}||rem||amvolupt||[11/Jul/2017:2:45:07 GMT+02:00]||atisund||https://{{.Domains}}/ites/{{.Domains}}?nisiut=tur#avolupt||ariatur||rer||iconseq||porincid||6941||https://{{.Domains}}/nofd/{{.Domains}}?ilmol=eri#quunt||Mozilla/5.0 (Linux; Android 5.1.1; Android Build/LMY47V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Mobile Safari/537.36 YaApp_Android/9.80 YaSearchBrowser/9.80||tae
---EVENT_DELIMITER---
%APACHETOMCAT-7717-rndmmtd: {{.IPs}}||plica||ore||[25/Jul/2017:9:47:41 OMST]||emqu||https://{{.Domains}}/acommod/{{.Domains}}?admin=stenatu#inibu||est||uptatemU||leumiu||tla||4765||https://{{.Domains}}/isa/{{.Domains}}?dqu=pid#rExc||Mozilla/5.0 (Linux; Android 9; 5024D_RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36 YaApp_Android/10.61 YaSearchBrowser/10.61||erun
---EVENT_DELIMITER---
%APACHETOMCAT-4574-OPTIONS: {{.IPs}}||ntutlabo||iusmodte||[08/Aug/2017:4:50:15 CT]||loi||https://{{.Domains}}/Nequepor/{{.Domains}}?idid=tesse#sequat||giatquov||tconsec||miurerep||toccaec||7645||https://{{.Domains}}/psaqua/{{.Domains}}?qui=cupi#tame||Mozilla/5.0 (Linux; Android 10; ASUS_X01BDA) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36||orroq
---EVENT_DELIMITER---
Aug{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- MKCOL: {{.IPs}}||orem||rcit||[{{.timestamp_common}} PST]||enderit||https://{{.Domains}}/tanimi/{{.Domains}}?emporain=ntiumto#umetMalo||oluptas||emvele||isnost||olorem||2760||https://{{.Domains}}/quunt/{{.Domains}}?sit=rumSect#ita||Mozilla/5.0 (Linux; Android 10; ASUS_X01BDA) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36||aliq
---EVENT_DELIMITER---
%APACHETOMCAT-4801-PRONECT: {{.IPs}}||tore||elits||[06/Sep/2017:6:55:24 OMST]||ruredo||https://{{.Domains}}/temUt/{{.Domains}}?uamnihi=risnis#uov||itlab||urmag||omm||equ||4808||https://{{.Domains}}/siuta/{{.Domains}}?uptat=idex#ptateve||Opera/9.80 (Series 60; Opera Mini/7.1.32444/174.101; U; ru) Presto/2.12.423 Version/12.16||nimveni
---EVENT_DELIMITER---
%APACHETOMCAT-7668-BADMTHD: {{.IPs}}||ercit||eporroq||[20/Sep/2017:1:57:58 CT]||ugiatn||https://{{.Domains}}/dictasun/{{.Domains}}?modocon=ipsu#ntNeq||tate||urExce||asi||ectiono||2241||https://{{.Domains}}/onu/{{.Domains}}?velillu=ria#atDu||Mozilla/5.0 (Linux; Android 9; U307AS) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||emq
---EVENT_DELIMITER---
Octo{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- ABCD: {{.IPs}}||tin||fugitse||[04/Oct/2017:9:00:32 CEST]||liquide||https://{{.Domains}}/Sedutpe/{{.Domains}}?rcit=aecatcup#olabor||estl||erun||iruredol||incidid||7699||https://{{.Domains}}/edquian/{{.Domains}}?volupta=dmi#untexpl||Mozilla/5.0 (Linux; Android 9; G8142) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||mipsamvo
---EVENT_DELIMITER---
%APACHETOMCAT-3517-rndmmtd: {{.IPs}}||mnisiut||avolu||[19/Oct/2017:4:03:07 PST]||eum||https://{{.Domains}}/umetMal/{{.Domains}}?metcons=itasper#uae||mve||uia||iciad||lorem||6137||https://{{.Domains}}/redol/{{.Domains}}?aliquamq=dtempori#toditaut||Mozilla/5.0 (Linux; Android 7.0; SM-S337TL) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||dexerc
---EVENT_DELIMITER---
%APACHETOMCAT-2669-COOK: {{.IPs}}||hitec||henderit||[{{.timestamp_common}} OMST]||perspici||https://{{.Domains}}/mquisn/{{.Domains}}?emUte=molestia#quir||eavolup||emip||ver||erc||294||https://{{.Domains}}/iuntNequ/{{.Domains}}?remq=veniamq#occ||Mozilla/5.0 (Linux; Android 6.0; U20 Build/MRA58K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.147 Mobile Safari/537.36 YaApp_Android/10.90 YaSearchBrowser/10.90||emo
---EVENT_DELIMITER---
%APACHETOMCAT-494-GET: {{.IPs}}||dolor||econs||[16/Nov/2017:6:08:15 ET]||eritin||https://{{.Domains}}/yCic/{{.Domains}}?itanim=nesciun#saqu||iscive||quasiar||aeab||teur||609||https://{{.Domains}}/mol/{{.Domains}}?usmodi=ree#saquaea||Mozilla/5.0 (Linux; Android 9; POCOPHONE F1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||eetd
---EVENT_DELIMITER---
Decem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- get: {{.IPs}}||irured||illumqui||[01/Dec/2017:1:10:49 PST]||tionula||https://{{.Domains}}/ecatcupi/{{.Domains}}?nreprehe=onse#olorem||turvel||eratv||ipsa||asuntexp||1390||https://{{.Domains}}/oremquel/{{.Domains}}?boNem=iumt#tsed||Mozilla/5.0 (Linux; Android 10; ASUS_X01BDA) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36||mpo
---EVENT_DELIMITER---
Decem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- POST: {{.IPs}}||tatnon||leumiur||[15/Dec/2017:8:13:24 ET]||ore||https://{{.Domains}}/ection/{{.Domains}}?ceroinB=nim#utaliqu||rsi||taliqui||mides||ciun||39||https://{{.Domains}}/iatqu/{{.Domains}}?urExcep=ema#suntex||Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 YaBrowser/20.3.0.2221 Yowser/2.5 Safari/537.36||anim
---EVENT_DELIMITER---
Decem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- DETECT_METHOD_TYPE: {{.IPs}}||quide||quaU||[29/Dec/2017:3:15:58 PT]||inimav||https://{{.Domains}}/iutali/{{.Domains}}?Finibus=radi#xeacom||des||atnulapa||billo||rroqu||2170||https://{{.Domains}}/taedi/{{.Domains}}?etconsec=elillum#upt||Mozilla/5.0 (Linux; Android 9; U307AS) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||onsectet
---EVENT_DELIMITER---
%APACHETOMCAT-5752-PROPFIND: {{.IPs}}||mdolore||eosquira||[{{.timestamp_common}} CET]||lloinven||https://{{.Domains}}/lmolesti/{{.Domains}}?moe=msequ#uat||lupta||npr||etconsec||caboNem||1043||https://{{.Domains}}/litesseq/{{.Domains}}?tob=dolores#equamnih||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||deF
---EVENT_DELIMITER---
Janu{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- GET: {{.IPs}}||dolor||tiumto||[27/Jan/2018:5:21:06 GMT-07:00]||quiavol||https://{{.Domains}}/ratv/{{.Domains}}?tali=BCS#qui||ugiatquo||incidid||quin||autemv||6174||https://{{.Domains}}/mipsumqu/{{.Domains}}?admi=onnu#olorema||Mozilla/5.0 (Linux; Android 9; G8142) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||atatnon
---EVENT_DELIMITER---
%APACHETOMCAT-2940-asdf: {{.IPs}}||ame||tesseq||[{{.timestamp_common}} GMT+02:00]||tem||https://{{.Domains}}/gitse/{{.Domains}}?tvolup=tdolore#ventore||red||sinto||tatev||luptas||3286||https://{{.Domains}}/aev/{{.Domains}}?iadese=nisiu#imad||Mozilla/5.0 (Linux; Android 9; ZTE Blade V1000RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Mobile Safari/537.36 YaApp_Android/10.91 YaSearchBrowser/10.91||ptatem
---EVENT_DELIMITER---
%APACHETOMCAT-4927-SEARCH: {{.IPs}}||onproide||ntmo||[24/Feb/2018:7:26:15 CET]||riosa||https://{{.Domains}}/pisc/{{.Domains}}?rautod=olest#eataev||atcupi||atem||qui||otamr||7278||https://{{.Domains}}/meaque/{{.Domains}}?tion=tobeatae#maccusa||Mozilla/5.0 (Linux; Android 10; LM-V350) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||iqua
---EVENT_DELIMITER---
Ma{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- PRONECT: {{.IPs}}||boree||isn||[11/Mar/2018:2:28:49 CEST]||der||https://{{.Domains}}/aconse/{{.Domains}}?diduntu=eiusmod#itation||veleum||piciatis||nes||lmolesti||1559||https://{{.Domains}}/emaperia/{{.Domains}}?iame=orroquis#aquio||Mozilla/5.0 (Linux; U; Android 4.0.3; es-us; GT-P3100 Build/IML74K) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Safari/534.30||ntmoll
---EVENT_DELIMITER---
%APACHETOMCAT-4472-CFYZ: {{.IPs}}||abor||nBCSe||[25/Mar/2018:9:31:24 CEST]||remips||https://{{.Domains}}/reetdolo/{{.Domains}}?reetdol=uelauda#ema||odi||ptatems||runtmo||ore||3512||https://{{.Domains}}/undeom/{{.Domains}}?quaer=eetdo#tlab||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||liq
---EVENT_DELIMITER---
Ap{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- uGET: {{.IPs}}||oremi||ugitsedq||[08/Apr/2018:4:33:58 ET]||atDuis||https://{{.Domains}}/mUteni/{{.Domains}}?ore=tation#loinve||tatevel||iumdolo||untu||ict||2699||https://{{.Domains}}/riosamni/{{.Domains}}?umetMa=imadmin#iqui||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||Nequepo
---EVENT_DELIMITER---
%APACHETOMCAT-1033-nGET: {{.IPs}}||veniam||isnisiu||[{{.timestamp_common}} OMST]||dol||https://{{.Domains}}/setquas/{{.Domains}}?tutlabor=reseosq#gna||isiutali||lumqu||onulamco||ons||5050||https://{{.Domains}}/unt/{{.Domains}}?tla=mquiad#CSe||Opera/9.80 (Series 60; Opera Mini/7.1.32444/174.101; U; ru) Presto/2.12.423 Version/12.16||psa
---EVENT_DELIMITER---
%APACHETOMCAT-4133-PUT: {{.IPs}}||lor||ccaec||[07/May/2018:6:39:06 PST]||ommo||https://{{.Domains}}/laudanti/{{.Domains}}?rsitvolu=mnisi#usmo||iamea||imaveni||uiacon||iam||7526||https://{{.Domains}}/oin/{{.Domains}}?citati=uamei#eursinto||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||tutla
---EVENT_DELIMITER---
{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- PUT: {{.IPs}}||atiset||serror||[21/May/2018:1:41:41 CEST]||isiut||https://{{.Domains}}/ici/{{.Domains}}?itae=dtempo#atnula||ditautf||itametc||ori||uamqu||2804||https://{{.Domains}}/quiac/{{.Domains}}?etdol=dolorsi#nturmag||Mozilla/5.0 (Linux; Android 9; LG-US998) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||Except
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- QUALYS: {{.IPs}}||trudex||liquam||[04/Jun/2018:8:44:15 PST]||lor||https://{{.Domains}}/eseruntm/{{.Domains}}?magnaal=uscip#umS||iciadese||riatur||oeni||dol||3000||https://{{.Domains}}/teturadi/{{.Domains}}?piscivel=hend#eacommo||Mozilla/5.0 (Linux; Android 9; LG-US998) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||aer
---EVENT_DELIMITER---
%APACHETOMCAT-3864-RNDMMTD: {{.IPs}}||dolorem||sed||[19/Jun/2018:3:46:49 OMST]||Nemoenim||https://{{.Domains}}/labori/{{.Domains}}?utali=sed#xeac||umdolors||lumdo||acom||eFini||4262||https://{{.Domains}}/uovol/{{.Domains}}?eque=eufug#est||Mozilla/5.0 (Linux; U; Android 7.1.2; uz-uz; Redmi 4X Build/N2G47H) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/71.0.3578.141 Mobile Safari/537.36 XiaoMi/MiuiBrowser/12.2.3-g||ntincul
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- MKCOL: {{.IPs}}||ine||urerepre||[{{.timestamp_common}} CT]||itessequ||https://{{.Domains}}/orissu/{{.Domains}}?ese=mmodoco#amni||atnul||umfugi||stquidol||Nemoenim||1325||https://{{.Domains}}/tasnul/{{.Domains}}?amvo=tnul#expl||Mozilla/5.0 (Linux; Android 6.0; ZTE BLADE V7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||isau
---EVENT_DELIMITER---
%APACHETOMCAT-6084-CONNECT: {{.IPs}}||rQuisaut||quas||[17/Jul/2018:5:51:58 ET]||metco||https://{{.Domains}}/iuntNeq/{{.Domains}}?sseq=eriam#pernat||udan||archi||iutaliq||urQuis||1742||https://{{.Domains}}/orum/{{.Domains}}?agnamal=quei#quio||Mozilla/5.0 (Linux; Android 6.0; ZTE BLADE V7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||lamcola
---EVENT_DELIMITER---
Aug{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- CONNECT: {{.IPs}}||mmod||iti||[{{.timestamp_common}} PST]||amqu||https://{{.Domains}}/tanimid/{{.Domains}}?gelitse=oremqu#idex||radip||upta||tetura||rumet||6923||https://{{.Domains}}/lestia/{{.Domains}}?pisci=sunt#texplica||Mozilla/5.0 (Linux; Android 6.0; Lenovo A2016a40 Build/MRA58K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.106 Mobile Safari/537.36 YaApp_Android/10.30 YaSearchBrowser/10.30||ore
---EVENT_DELIMITER---
Aug{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- NCIRCLE: {{.IPs}}||expli||ugiat||[15/Aug/2018:7:57:06 GMT+02:00]||oinBCSed||https://{{.Domains}}/ntorever/{{.Domains}}?eritq=rehen#ipsamvol||elillum||veleumi||nsequatu||nula||2783||https://{{.Domains}}/santi/{{.Domains}}?turadip=dip#idolo||Mozilla/5.0 (compatible; Yahoo Ad monitoring; https://{{.Domains}}/kb/{{.Domains}}) {{.Domains}}/{{.timestamp_unix_s}}-10||aco
---EVENT_DELIMITER---
Aug{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- PRONECT: {{.IPs}}||bore||ptate||[29/Aug/2018:2:59:40 GMT+02:00]||labo||https://{{.Domains}}/quu/{{.Domains}}?abor=oreverit#scip||Finibus||Utenimad||olupta||tau||5211||https://{{.Domains}}/itametco/{{.Domains}}?rere=pta#nonn||Mozilla/5.0 (Linux; Android 9; 5024D_RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36 YaApp_Android/10.61 YaSearchBrowser/10.61||met
---EVENT_DELIMITER---
%APACHETOMCAT-4322-id: {{.IPs}}||conse||ventor||[{{.timestamp_common}} CEST]||mag||https://{{.Domains}}/mini/{{.Domains}}?tur=atnonpr#ita||amquaer||aqui||enby||lpa||3948||https://{{.Domains}}/iat/{{.Domains}}?cte=aparia#CSe||Mozilla/5.0 (Linux; Android 9; Notepad_K10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Safari/537.36||ugitsedq
---EVENT_DELIMITER---
Septem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- uGET: {{.IPs}}||destla||fugitse||[27/Sep/2018:5:04:49 GMT+02:00]||eirur||https://{{.Domains}}/duntutla/{{.Domains}}?isci=Dui#reetdo||ever||civelits||eos||ipitlabo||5440||https://{{.Domains}}/nonn/{{.Domains}}?ariatur=labo#sautei||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||unt
---EVENT_DELIMITER---
%APACHETOMCAT-5971-uGET: {{.IPs}}||ugia||meum||[{{.timestamp_common}} OMST]||doei||https://{{.Domains}}/tev/{{.Domains}}?occaeca=eturadip#ent||rumSecti||Utenima||olore||orumS||757||https://{{.Domains}}/eursint/{{.Domains}}?iameaqu=aaliquaU#olu||Mozilla/5.0 (Linux; U; Android 7.1.2; uz-uz; Redmi 4X Build/N2G47H) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/71.0.3578.141 Mobile Safari/537.36 XiaoMi/MiuiBrowser/12.2.3-g||yCiceroi
---EVENT_DELIMITER---
%APACHETOMCAT-2852-FGET: {{.IPs}}||deom||oluptat||[25/Oct/2018:7:09:57 GMT-07:00]||eni||https://{{.Domains}}/uamnih/{{.Domains}}?uidolo=umdolore#dmi||tam||oremip||eufugi||dunt||6169||https://{{.Domains}}/uidexeac/{{.Domains}}?modoc=magnam#uinesc||Mozilla/5.0 (Linux; Android 10; LM-V350) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||idatat
---EVENT_DELIMITER---
Novem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- LOCK: {{.IPs}}||sis||idolo||[09/Nov/2018:2:12:32 CEST]||tsedquia||https://{{.Domains}}/umdolor/{{.Domains}}?mmodi=snostr#eniamqu||inimav||tatevel||midestl||nci||6587||https://{{.Domains}}/nvolupt/{{.Domains}}?aturv=ectetura#obeataev||Mozilla/5.0 (compatible; Yahoo Ad monitoring; https://{{.Domains}}/kb/{{.Domains}}) {{.Domains}}/{{.timestamp_unix_s}}-10||seq
---EVENT_DELIMITER---
Novem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- get: {{.IPs}}||iamqui||quide||[23/Nov/2018:9:15:06 CT]||cididun||https://{{.Domains}}/ibusBo/{{.Domains}}?lesti=sintocca#mipsumqu||eprehen||hilmole||sequ||sectetu||7182||https://{{.Domains}}/dolor/{{.Domains}}?mquis=lab#uido||Mozilla/5.0 (Linux; Android 6.0; ZTE BLADE V7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||mwrit
---EVENT_DELIMITER---
Decem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- CONNECT: {{.IPs}}||quiavolu||upta||[07/Dec/2018:4:17:40 OMST]||umtota||https://{{.Domains}}/magnaa/{{.Domains}}?oluptate=Duisa#consequa||eaqueip||itaedict||olorema||rep||3380||https://{{.Domains}}/siarc/{{.Domains}}?tobeata=nesciun#amcolab||Mozilla/5.0 (Linux; Android 8.0.0; VS996) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||isnisiut
---EVENT_DELIMITER---
%APACHETOMCAT-5227-GET: {{.IPs}}||uisnos||olores||[{{.timestamp_common}} PST]||epo||https://{{.Domains}}/evolup/{{.Domains}}?eavolup=ipsumq#evit||tno||iss||taspe||lum||5911||https://{{.Domains}}/eturad/{{.Domains}}?enimadmi=tateveli#osa||Opera/9.80 (Series 60; Opera Mini/7.1.32444/174.101; U; ru) Presto/2.12.423 Version/12.16||idolorem
---EVENT_DELIMITER---
%APACHETOMCAT-5776-PRONECT: {{.IPs}}||ufugi||cin||[05/Jan/2019:6:22:49 ET]||byC||https://{{.Domains}}/oremip/{{.Domains}}?iavol=natuserr#ostrudex||nse||miurere||evit||uatu||2448||https://{{.Domains}}/uamestqu/{{.Domains}}?hender=ptatemU#seq||Mozilla/5.0 (Linux; Android 9; 5024D_RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36 YaApp_Android/10.61 YaSearchBrowser/10.61||tnulapa
---EVENT_DELIMITER---
%APACHETOMCAT-7708-DEBUG: {{.IPs}}||expl||olore||[19/Jan/2019:1:25:23 CEST]||dentsunt||https://{{.Domains}}/animid/{{.Domains}}?onnumqua=quioff#iuntN||ipis||itautfu||nesci||tam||1206||https://{{.Domains}}/tetura/{{.Domains}}?modt=iduntutl#rsitam||Mozilla/5.0 (Linux; Android 10; ASUS_X01BDA) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36||ntor
---EVENT_DELIMITER---
Febru{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- RNDMMTD: {{.IPs}}||iquid||evo||[02/Feb/2019:8:27:57 GMT-07:00]||avolu||https://{{.Domains}}/itesse/{{.Domains}}?prehende=lup#tpers||orsitv||temseq||uisaute||uun||4638||https://{{.Domains}}/nemulla/{{.Domains}}?ncul=taliq#tautfugi||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||umd
---EVENT_DELIMITER---
Febru{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- HEAD: {{.IPs}}||eeufugi||deomnisi||[17/Feb/2019:3:30:32 ET]||issus||https://{{.Domains}}/deritinv/{{.Domains}}?iav=odico#rsint||itl||ttenb||olor||quiav||6648||https://{{.Domains}}/eumfu/{{.Domains}}?upidata=ici#usant||Mozilla/5.0 (Linux; Android 10; SM-A305FN Build/QP1A.190711.020; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/78.0.3904.96 Mobile Safari/537.36 YandexSearch/8.10 YandexSearchBrowser/8.10||con
---EVENT_DELIMITER---
Ma{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- INDEX: {{.IPs}}||oeiusmo||nimv||[{{.timestamp_common}} GMT+02:00]||tconse||https://{{.Domains}}/tseddoei/{{.Domains}}?remagnaa=lamcolab#ceroinB||umqui||citation||temsequi||mquia||1119||https://{{.Domains}}/iveli/{{.Domains}}?ercitat=taspe#yCiceroi||Mozilla/5.0 (Linux; Android 8.0.0; VS996) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||cti
---EVENT_DELIMITER---
%APACHETOMCAT-4758-TRACE: {{.IPs}}||tuser||mmo||[17/Mar/2019:5:35:40 PST]||tlaboru||https://{{.Domains}}/ciad/{{.Domains}}?turveli=isciv#natus||boreet||luptasnu||ento||snostr||3904||https://{{.Domains}}/xerc/{{.Domains}}?ria=beat#rro||Mozilla/5.0 (Linux; Android 9; 5024D_RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36 YaApp_Android/10.61 YaSearchBrowser/10.61||uisau
---EVENT_DELIMITER---
%APACHETOMCAT-2573-id: {{.IPs}}||ueporroq||ute||[{{.timestamp_common}} GMT-07:00]||tationu||https://{{.Domains}}/olore/{{.Domains}}?ameaquei=gnama#esciun||tesse||olupta||isno||oluptas||5560||https://{{.Domains}}/rinrepr/{{.Domains}}?modo=uiavo#uisaut||mobmail android 2.1.3.3150||paq
---EVENT_DELIMITER---
Ap{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- ABCD: {{.IPs}}||illoin||emUtenim||[15/Apr/2019:7:40:49 CT]||uid||https://{{.Domains}}/rvelil/{{.Domains}}?incidi=aedictas#rumetMa||mexerci||urEx||ditaut||ctetur||3089||https://{{.Domains}}/oreeu/{{.Domains}}?tis=oluptat#emi||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||iaeconse
---EVENT_DELIMITER---
Ap{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- RNDMMTD: {{.IPs}}||equ||nulapari||[29/Apr/2019:2:43:23 GMT-07:00]||tsunt||https://{{.Domains}}/oremi/{{.Domains}}?oreeu=uasiarch#Malor||boriosa||cillumdo||ditau||moenimip||5930||https://{{.Domains}}/oreetd/{{.Domains}}?etc=eturadip#nost||Mozilla/5.0 (Linux; Android 9; LG-US998) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||evel
---EVENT_DELIMITER---
{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- TRACE: {{.IPs}}||apari||iarchit||[13/May/2019:9:45:57 PT]||orum||https://{{.Domains}}/orsitam/{{.Domains}}?ati=rauto#doloreeu||lors||eumfu||docons||tur||3197||https://{{.Domains}}/uasi/{{.Domains}}?rspicia=pitl#imi||Mozilla/5.0 (Linux; Android 5.1.1; Android Build/LMY47V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Mobile Safari/537.36 YaApp_Android/9.80 YaSearchBrowser/9.80||taevit
---EVENT_DELIMITER---
%APACHETOMCAT-6820-SEARCH: {{.IPs}}||sumquia||vento||[28/May/2019:4:48:31 CEST]||asnu||https://{{.Domains}}/rep/{{.Domains}}?utpers=num#ctetura||quaerat||tDuisau||aturve||ptateve||7615||https://{{.Domains}}/tconsect/{{.Domains}}?etcon=ctobeat#isi||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||lorumw
---EVENT_DELIMITER---
%APACHETOMCAT-3071-FGET: {{.IPs}}||olupt||ola||[{{.timestamp_common}} CT]||etquasia||https://{{.Domains}}/adm/{{.Domains}}?tec=itaspe#con||illumdo||antium||remaper||eseosq||2945||https://{{.Domains}}/uae/{{.Domains}}?snulap=cidu#hilmol||Mozilla/5.0 (Linux; U; Android 7.1.2; uz-uz; Redmi 4X Build/N2G47H) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/71.0.3578.141 Mobile Safari/537.36 XiaoMi/MiuiBrowser/12.2.3-g||quamq
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- ABCD: {{.IPs}}||uamqu||iusmodi||[25/Jun/2019:6:53:40 ET]||aparia||https://{{.Domains}}/ccusant/{{.Domains}}?oidentsu=oditau#onsec||dit||namaliqu||yCic||tetura||1569||https://{{.Domains}}/ttenb/{{.Domains}}?rem=exer#eeufug||Mozilla/5.0 (Linux; Android 9; LG-US998) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||lapari
---EVENT_DELIMITER---
J{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- BADMTHD: {{.IPs}}||utlabore||tamr||[10/Jul/2019:1:56:14 CT]||iutaliq||https://{{.Domains}}/onemul/{{.Domains}}?ura=oreeufug#Quisa||quiav||ctionofd||elit||sam||6211||https://{{.Domains}}/unt/{{.Domains}}?ecillum=olor#amei||Mozilla/5.0 (Linux; Android 7.0; SM-S337TL) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||quid
---EVENT_DELIMITER---
%APACHETOMCAT-7615-BADMETHOD: {{.IPs}}||wri||itame||[24/Jul/2019:8:58:48 ET]||dictasun||https://{{.Domains}}/lorese/{{.Domains}}?onsec=idestl#litani||emp||arch||non||mollit||5823||https://{{.Domains}}/tobeatae/{{.Domains}}?exe=naa#equat||Mozilla/5.0 (Linux; Android 8.0.0; VS996) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||mqu
---EVENT_DELIMITER---
Aug{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- rndmmtd: {{.IPs}}||rsp||imipsa||[07/Aug/2019:4:01:23 CEST]||int||https://{{.Domains}}/llitani/{{.Domains}}?etcons=etco#iuntN||utfugi||ursintoc||tio||mmodicon||6776||https://{{.Domains}}/tvol/{{.Domains}}?ollita=qua#ionula||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||cusa
---EVENT_DELIMITER---
%APACHETOMCAT-264-OPTIONS: {{.IPs}}||eumiu||nim||[{{.timestamp_common}} PST]||rehen||https://{{.Domains}}/ptat/{{.Domains}}?eturadip=amquaera#rsitamet||leumiur||ssequamn||ave||taliqui||3714||https://{{.Domains}}/undeomn/{{.Domains}}?amco=ons#onsecte||Mozilla/5.0 (Linux; Android 7.0; SM-S337TL) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||atquo
---EVENT_DELIMITER---
%APACHETOMCAT-2943-nGET: {{.IPs}}||inculpa||ruredol||[05/Sep/2019:6:06:31 OMST]||ipit||https://{{.Domains}}/quae/{{.Domains}}?emoenimi=iquipex#mqu||onorume||abill||ametcon||ofdeFini||7052||https://{{.Domains}}/tionev/{{.Domains}}?qui=ehender#equa||Mozilla/5.0 (Linux; Android 4.1.2; Micromax P410i Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.111 Mobile Safari/537.36||nimides
---EVENT_DELIMITER---
%APACHETOMCAT-6165-BDMTHD: {{.IPs}}||asiarc||lor||[19/Sep/2019:1:09:05 GMT+02:00]||snula||https://{{.Domains}}/bori/{{.Domains}}?utf=dolor#dexe||nemul||Duis||lupt||quatur||5775||https://{{.Domains}}/ipsa/{{.Domains}}?uianonnu=tatiset#quira||mobmail android 2.1.3.3150||aea
---EVENT_DELIMITER---
Octo{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- id: {{.IPs}}||orumwri||atisu||[03/Oct/2019:8:11:40 PST]||tse||https://{{.Domains}}/iat/{{.Domains}}?utaliqui=emse#emqui||cipitla||tlab||vel||ionevo||4580||https://{{.Domains}}/volupta/{{.Domains}}?tisetq=tDuisaut#dolo||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||samvol
---EVENT_DELIMITER---
Octo{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- BADMTHD: {{.IPs}}||fficiad||teirured||[18/Oct/2019:3:14:14 PST]||sistena||https://{{.Domains}}/caboN/{{.Domains}}?catcupid=ritquiin#quisnost||sequines||olor||sequa||lorum||7649||https://{{.Domains}}/Sedut/{{.Domains}}?reeufugi=sequines#minimve||Mozilla/5.0 (Linux; U; Android 7.1.2; uz-uz; Redmi 4X Build/N2G47H) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/71.0.3578.141 Mobile Safari/537.36 XiaoMi/MiuiBrowser/12.2.3-g||toditau
---EVENT_DELIMITER---
Novem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- COOK: {{.IPs}}||onpr||uira||[{{.timestamp_common}} CET]||ptatev||https://{{.Domains}}/uiaco/{{.Domains}}?udexerci=uae#imveni||econ||aborio||rve||catcup||177||https://{{.Domains}}/busBon/{{.Domains}}?vitaedi=rna#cons||Mozilla/5.0 (Linux; Android 9; Notepad_K10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Safari/537.36||lupta
---EVENT_DELIMITER---
Novem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- NCIRCLE: {{.IPs}}||imvenia||culp||[15/Nov/2019:5:19:22 GMT-07:00]||nesciu||https://{{.Domains}}/roinBCSe/{{.Domains}}?tla=iaconseq#sed||sedd||atione||tvolup||oremeu||6708||https://{{.Domains}}/dan/{{.Domains}}?oNem=itaedict#eroi||Mozilla/5.0 (Linux; Android 8.0.0; VS996) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.83 Mobile Safari/537.36||uptateve
---EVENT_DELIMITER---
Novem{{.timestamp_syslog}} {{.Domains}} %APACHETOMCAT- DETECT_METHOD_TYPE: {{.IPs}}||des||deFini||[{{.timestamp_common}} GMT-07:00]||aliquaU||https://{{.Domains}}/tvolu/{{.Domains}}?gnaaliq=quam#deriti||edictasu||eturadi||umS||noru||5321||https://{{.Domains}}/taevitae/{{.Domains}}?vol=ita#iquipexe||Mozilla/5.0 (Linux; Android 8.1.0; SM-A260G Build/OPR6; rv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Rocket/2.1.17(19420) Chrome/81.0.4044.138 Mobile Safari/537.36||quamqua
---EVENT_DELIMITER---
%APACHETOMCAT-5473-TRACE: {{.IPs}}||Excepteu||mco||[14/Dec/2019:7:24:31 PT]||undeom||https://{{.Domains}}/teturadi/{{.Domains}}?upidatat=mod#niamqui||litsedd||nidol||inBC||hite||423||https://{{.Domains}}/dminimve/{{.Domains}}?uiac=tquii#tesse||Mozilla/5.0 (Linux; Android 9; 5024D_RU Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36 YaApp_Android/10.61 YaSearchBrowser/10.61||emeumfu