2019-08-14 00:09:32 W3SVC1 SE119654 ::1 GET /help/{{.Domains}} area= 80 - ::1 HTTP/1.1 Mozilla/5.0+(compatible;+MSIE+9.0;+Windows+NT+6.1;+Trident/5.0) - - localhost 403 4 5 5279 160 15
---EVENT_DELIMITER---
2019-08-14 00:09:32 W3SVC1 SE119654 ::1 GET /help/{{.Domains}} area= 80 - ::1 HTTP/1.1 Mozilla/5.0+(compatible;+MSIE+9.0;+Windows+NT+6.1;+Trident/5.0) - - localhost 403 4 5 5279 136 0
---EVENT_DELIMITER---
2019-08-14 00:09:32 W3SVC1 SE119654 ::1 GET /help/{{.Domains}} area= 80 - ::1 HTTP/1.1 Mozilla/5.0+(compatible;+MSIE+9.0;+Windows+NT+6.1;+Trident/5.0) - - localhost 403 4 5 5279 136 0
---EVENT_DELIMITER---
2019-08-14 00:12:02 W3SVC1 SE119654 {{.IPs}} GET /{{.Domains}} - 80 - {{.IPs}} HTTP/1.0 - - - - 403 4 5 1372 18 0
---EVENT_DELIMITER---
2019-08-14 00:13:10 W3SVC1 SE119654 {{.IPs}} GET /{{.Domains}} - 80 - {{.IPs}} HTTP/1.1 Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - - {{.Domains}} 403 4 5 1353 313 15
---EVENT_DELIMITER---
2019-08-14 00:13:10 W3SVC1 SE119654 {{.IPs}} GET /{{.Domains}} - 80 - {{.IPs}} HTTP/1.1 Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - - {{.Domains}} 200 4 5 1353 313 15
---EVENT_DELIMITER---
2018-12-31 12:02:53 {{.IPs}} GET /pbserver/..À¯..À¯..À¯..À¯..À¯../winnt/system32/{{.Domains}} /c+dir+c:\+/OG 8080 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 404 0 64 0
---EVENT_DELIMITER---
2018-12-31 12:02:53 {{.IPs}} GET /pbserver/..ÁÁ..ÁÁ..ÁÁ..ÁÁ..ÁÁ../winnt/system32/{{.Domains}} /c+dir+c:\+/OG 8080 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 404 0 2 46
---EVENT_DELIMITER---
2018-12-31 12:02:53 {{.IPs}} GET /Director - 443 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 401 0 0 0
---EVENT_DELIMITER---
2018-12-31 12:02:53 {{.IPs}} GET / - 443 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 401 0 0 0
---EVENT_DELIMITER---
2018-12-31 12:02:53 {{.IPs}} GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:\+/OG 8080 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 404 0 64 15
---EVENT_DELIMITER---
2022-03-13 02:04:11 {{.IPs}} GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:\+/OG 8080 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 200 0 0 12 {{.IPs}},{{.IPs}}
---EVENT_DELIMITER---
2022-03-13 02:04:11 {{.IPs}} GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:\+/OG 8080 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 200 0 0 12 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6
---EVENT_DELIMITER---
2022-03-13 02:04:11 fe81::63ae:94c0:196e:8adf%3 GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:+/OG 8080 - fe81::64ae:95c0:196e:8adf%3 Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 200 0 0 12 {{.IPs}}
---EVENT_DELIMITER---
2022-03-13 02:04:11 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6 GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:+/OG 8080 - fe81::64ae:95c0:196e:8adf%3 Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 200 0 0 12 {{.IPs}},{{.IPs}}
---EVENT_DELIMITER---
2022-03-13 02:04:11 fe81::63ae:94c0:196e:8adf%3 GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:+/OG 8080 - fe81::64ae:95c0:196e:8adf%3 Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 200 0 0 12 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6
---EVENT_DELIMITER---
2022-03-13 02:04:11 fe81::63ae:94c0:196e:8adf%3 GET /pbserver/..Áœ..Áœ..Áœ..Áœ..Áœ../winnt/system32/{{.Domains}} /c+dir+c:\+/OG 8080 - fe81::64ae:95c0:196e:8adf%3 Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 200 0 0 12
---EVENT_DELIMITER---
2018-08-28 18:24:25 [{{.IPs}}](http://{{.IPs}}) GET / - 80 - [{{.IPs}}](http://{{.IPs}}) Mozilla/4.0+(compatible;+MSIE+7.0;+Windows+NT+6.3;+WOW64;+Trident/7.0;+.NET4.0E;+.NET4.0C;+.NET+CLR+3.5.30729;+.NET+CLR[+2.0.50727](tel:+2050727);+.NET+CLR+3.0.30729) 404 4 2 792
---EVENT_DELIMITER---
2019-03-06 18:43:17 {{.IPs}} GET /health-monitoring - 80 - {{.IPs}} - 200 0 0 15
---EVENT_DELIMITER---
2019-03-06 18:43:17 {{.IPs}} GET /health-monitoring - 80 - {{.IPs}} - 200 0 0 15
---EVENT_DELIMITER---
2019-03-06 18:43:17 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6 GET /health-monitoring - 80 - 2a02:cf40:add:4002:91f2:a9b2:e09a:6fc6 - 200 0 0 15
---EVENT_DELIMITER---
2018-01-01 08:09:10 {{.IPs}} GET / q=100 80 - {{.IPs}} Mozilla/5.0+(Windows+NT+6.1;+Win64;+x64;+rv:57.0)+Gecko/20100101+Firefox/57.0 - 200 0 0 123
---EVENT_DELIMITER---
2018-01-01 09:10:11 W3SVC1 GET / - 80 - {{.IPs}} Mozilla/5.0+(Windows+NT+6.1;+Win64;+x64;+rv:57.0)+Gecko/20100101+Firefox/57.0 - - {{.Domains}} 200 0 0 123 456 789
---EVENT_DELIMITER---
2018-01-01 10:11:12 W3SVC1 MACHINE-NAME {{.IPs}} GET / - 80 - {{.IPs}} HTTP/1.1 Mozilla/5.0+(Macintosh;+Intel+Mac+OS+X+10_14_0)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/70.0.3538.102+Safari/537.36 - - {{.Domains}} 200 0 0 123 456 789
---EVENT_DELIMITER---
2018-12-31 12:52:33 {{.IPs}} GET / redirect:${%23req%3d%{{.Domains}}('{{.Domains}}'),%23webroot%3d%{{.Domains}}().getServletContext().getRealPath('/'),%{{.Domains}}(%23webroot),%{{.Domains}}(),%{{.Domains}}()} 443 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 401 0 0 0
---EVENT_DELIMITER---
2018-12-31 12:52:33 {{.IPs}} GET /${#context['{{.Domains}}']=!(#_memberAccess['allowStaticMethodAccess']=true),(@{{.Domains}}@getRuntime()).exec('ipconfig').waitFor()}.action - 443 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) - 404 0 2 0
---EVENT_DELIMITER---
2021-11-28 00:00:04 W3SVC1 {{.IPs}} GET /cdgo SERVER-STATUS=200 443 - {{.IPs}} HTTP/1.1 Chrome/2.12.1 - {{.Domains}} 200 0 0 34018 303 46
---EVENT_DELIMITER---
2022-05-09 17:10:04 {{.IPs}} POST /civault/Cryptology/{{.Domains}} - 443 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+7.0;+Windows+NT+10.0;+Win64;+x64;+Trident/7.0;+.NET4.0C;+.NET4.0E;+.NET+CLR+2.0.50727;+.NET+CLR+3.0.30729;+.NET+CLR+3.5.30729) - [{{.Domains}}](https://{{.Domains}}/) 200 0 0 26
---EVENT_DELIMITER---
2022-05-08 01:26:01 {{.IPs}} POST /NamingServiceANSWS/{{.Domains}} - 443 - {{.IPs}} - - {{.Domains}} 200 0 0 232
---EVENT_DELIMITER---
2021-06-10 23:26:57 {{.IPs}} GET / - 80 - {{.IPs}} Mozilla/4.0+(compatible;+MSIE+8.0;+Windows+NT+5.1;+Trident/4.0) BIGipServerYAkgvoMHHYQAGkWEWadfsadfnyAqAere=27246369425.20480.0000 {{.Domains}} 200 0 0 23
---EVENT_DELIMITER---
2023-08-28 07:37:00 exchange01 {{.IPs}} POST /EWS/{{.Domains}} &CorrelationID=<empty>;&cafeReqId=12d62000-56b5-0000-a9f7-a9e934ecb2d5; 443 EXAMPLE\user01 {{.IPs}} OC/16.0.5266.1000+(Skype+for+Business) - 200 0 0 52 {{.IPs}} 59050
---EVENT_DELIMITER---
2023-08-28 08:58:45 exchange02 fe80::d9e3:e981:da2d:427b%3 POST /mapi/emsmdb/ MailboxId={{.Emails}} 444 Anonymous fe80::d9e3:e981:da2d:427b%3 Microsoft+Office/16.0+(Windows+NT+6.2;+ucmapi+16.0.5404;+Pro) - 200 0 0 4 {{.IPs}},{{.IPs}} 36391
---EVENT_DELIMITER---
2023-08-28 08:58:33 exchange02 fe80::d9e3:e981:da2d:427b%3 POST /autodiscover/{{.Domains}} &reqId=bc5918ae-b6a0-0000-9b09-bb94ce79a2fc 444 EXAMPLE\user02 fe80::d9e3:e981:da2d:427b%3 Microsoft+Office/16.0+(Windows+NT+10.0;+Microsoft+Outlook+16.0.5404;+Pro) - 200 0 0 78 {{.IPs}},{{.IPs}} 51385
---EVENT_DELIMITER---
2023-08-28 08:58:43 exchange03 fe80::e478:3abc:f96c:ea94%4 POST /mapi/nspi/ MailboxId={{.Emails}}&FrontEnd={{.Domains}}&RequestId=e393c31b-3ae7-0000-ad11-0632a39901b0&ClientRequestInfo=R:{BD33627D-6B8C-4648-9740-AD9172BB0FEB}:106;RT:GetProps;CI:{DC96322E-2662-4791-BE5D-44163F6033E0}:5;CID:{45ADD272-0FE6-4A23-A58E-A9E379DF101C}&ResponseInfo=XRC:0;SC:0;RC:263040&Stage=BegR:{{.timestamp_iso}}5336Z;PostAR:1;PreH:1;PostH:3;EndR:3 444 Anonymous fe80::e478:3abc:f96c:ea94%4 Microsoft+Office/16.0+(Windows+NT+10.0;+Microsoft+Outlook+16.0.5404;+Pro) - 200 0 0 3 {{.IPs}},{{.IPs}} 56041
---EVENT_DELIMITER---
2018-01-01 10:11:12 W3SVC1 MACHINE-NAME ::1%0 GET / - 80 - ::1%0 HTTP/1.1 Mozilla/5.0+(Macintosh;+Intel+Mac+OS+X+10_14_0)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/70.0.3538.102+Safari/537.36 - - {{.Domains}} 200 0 0 123 456 789
---EVENT_DELIMITER---
2020-10-04 22:00:34 W3SVC2 freca1 {{.IPs}} GET /{{.Domains}} - 80 - {{.IPs}} HTTP/1.1 Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64;+rv:81.0)+Gecko/20100101+Firefox/81.0 - https://{{.Domains}}/Blob/adeec119008c48758c1a6be53aeeb2ac/{{.Domains}}?width=1200&height=630&mode=crop {{.Domains}} 404 0 2 1437 534 0 {{.IPs}}
---EVENT_DELIMITER---
2020-10-05 21:40:30 W3SVC2 freca1 {{.IPs}} GET /{{.Domains}} - 80 - {{.IPs}} HTTP/1.1 Twitterbot/1.0 - - {{.Domains}} 200 0 0 346 306 0 {{.IPs}}
---EVENT_DELIMITER---
2020-10-05 21:48:33 W3SVC2 freca1 {{.IPs}} GET /app_data/cache/9/e/1/c/3/7/{{.Domains}} width=35&height=38&mode=crop 80 - {{.IPs}} HTTP/1.1 Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/70.0.3538.102+Safari/537.36+Edge/18.18362 BIGipServerYAkgvoMsadfHHYQAGkWEWnyAqAads=27246369425.20480.0000 https://{{.Domains}}/ {{.Domains}} 200 0 0 2007 581 15 {{.IPs}}
---EVENT_DELIMITER---
2020-10-05 21:48:33 W3SVC2 freca1 {{.IPs}} GET /app_data/cache/f/b/7/1/2/7/{{.Domains}} width=75&height=40&mode=crop 80 - {{.IPs}} HTTP/1.1 Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/70.0.3538.102+Safari/537.36+Edge/18.18362 BIGipServerYAkgvoMHHYQAGkWEWadfsadfnyAqAere=27246369425.20480.0000 https://{{.Domains}}/ {{.Domains}} 200 0 0 2926 581 0 {{.IPs}}
---EVENT_DELIMITER---
2020-10-08 22:00:22 W3SVC2 freca1 {{.IPs}} GET /Blob/a9e2fe596ac14a4ab07beb6b6e2c6545/{{.Domains}} width=60&height=20&mode=crop 80 - {{.IPs}} HTTP/1.1 Mozilla/5.0+(iPhone;+CPU+iPhone+OS+13_7+like+Mac+OS+X)+AppleWebKit/605.1.15+(KHTML,+like+Gecko)+Version/13.1.2+Mobile/15E148+Safari/604.1 imagedpi=1;+imagequality=30;+_ga=GA1.2.14440223724.16021494379;+_gid=GA1.2.12504478161.16021944379;+_gat_UA-155746052-5=1;+BIGipServerYAkgvoMHHYQAGkWsadfsdfEWnyAqA=!vbipVwbt0UWJ4QSsPvjjVxViTXMqdXWYaferu1dRyQoUTVVBGLZPB39PoNX5Tw66+GT0ChJCfnp/xfhM8lI=;+_gcl_au=1.1.{{.timestamp_unix_s}}.{{.timestamp_unix_s}} https://{{.Domains}}/opleidingen/bachelor/elektrotechniek/voltijd/ {{.Domains}} 304 0 0 388 979 15 {{.IPs}}
---EVENT_DELIMITER---
2020-10-08 22:00:22 W3SVC2 freca1 {{.IPs}} GET /Blob/ff64cd9efcf4424dbf06b3b8133eeea2/{{.Domains}} width=60&height=20&mode=crop 80 - {{.IPs}} HTTP/1.1 Mozilla/5.0+(iPhone;+CPU+iPhone+OS+13_7+like+Mac+OS+X)+AppleWebKit/605.1.15+(KHTML,+like+Gecko)+Version/13.1.2+Mobile/15E148+Safari/604.1 imagedpi=1;+imagequality=30;+_ga=GA1.2.14440223724.16021494379;+_gid=GA1.2.12504748161.16021944379;+_gat_UA-155764052-5=1;+BIGipServerYAkgvoMHHYQAGkWEsadfsdfsWnyAqA=!vbipVwbt0UWJ4QSsPvjjVxViTXMqdXWYu1dRyQoUTVerwerVBGLZPB39PoNX5Tw66+GT0ChJCfnp/xfhM8lI=;+_gcl_au=1.1.{{.timestamp_unix_s}}.{{.timestamp_unix_s}} https://{{.Domains}}/opleidingen/bachelor/elektrotechniek/voltijd/ {{.Domains}} 304 0 0 388 979 0 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:00:17 {{.IPs}} POST /Production-UI/api/finance/legacy/GeneralLedger/LoadBatchTotals - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 26 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:00:17 {{.IPs}} POST /Production-UI/api/finance/legacy/GeneralLedger/LoadBatchTotals - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 32 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:00:17 {{.IPs}} POST /Production-UI/api/finance/legacy/GeneralLedger/LoadJETotals - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 46 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:00:17 {{.IPs}} GET /Production-UI/data/finance/legacy/GLAPAprvMaster $filter=BatchId%20eq%20%27FY21HSNG0820%27&$orderby=Subsys,Ref&$skip=0&$top=20 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 32 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:00:17 {{.IPs}} GET /Production-UI/data/finance/legacy/GLATrnsDetail $filter=Subsys%20eq%20%27JE%27%20and%20Ref%20eq%20%27HSNG08-MR%27%20and%20BatchId%20eq%20%27FY21HSNG0820%27&$orderby=RecNo&$skip=0&$top=20 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 166 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:06:42 {{.IPs}} GET /Production-UI/api/finance/legacy/documents/PendingAttachments/GLJEUB - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 60 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:06:42 {{.IPs}} POST /Production-UI/api/finance/legacy/documents/GLATrnsDetail/attachments/ - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 72 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:06:42 {{.IPs}} POST /Production-UI/api/finance/legacy/documents/GLAPAprvMaster/attachments/ - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 88 {{.IPs}}
---EVENT_DELIMITER---
2020-10-07 23:07:02 {{.IPs}} POST /Production-UI/api/finance/legacy/documents/attachDoc - 443 - {{.IPs}} Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/{{.IPs}}+Safari/537.36 https://{{.Domains}}/Production-UI/ui/uiscreens/generalledger/GLJEUB 200 0 0 286 {{.IPs}}