{"severity": "INFO","time": "{{.timestamp_iso}}","correlation_id": "01HXHSTQ5A02PJVVW2H8FZZ77A","{{.Domains}}_id": "SessionsController#create","{{.Domains}}_ip": "{{.IPs}}","{{.Domains}}_category": "system_access","{{.Domains}}": "root","{{.Domains}}_id": 1,"{{.Domains}}_id": "user/1","author_id": 1,"author_name": "Administrator","entity_id": 1,"entity_type": "User","created_at": "{{.timestamp_iso}}+00:00","with": "standard","target_id": 1,"target_type": "User","target_details": "Administrator"}
---EVENT_DELIMITER---
{"severity": "INFO","time": "{{.timestamp_iso}}","author_id": 3,"entity_id": 2,"entity_type": "Project","change": "visibility","from": "Private","to": "Public","author_name": "John Doe4","target_id": 2,"target_type": "Project","target_details": "namespace2/project2"}