{"level": "info","msg": "GitLab Pages Daemon","revision": "52b2899","time": "{{.timestamp_iso}}","version": "1.17.0"}
---EVENT_DELIMITER---
{"level": "info","msg": "URL: https://{{.Domains}}/gitlab-org/gitlab-pages","time": "{{.timestamp_iso}}"}
---EVENT_DELIMITER---
{"gid": 998,"in-place": false,"level": "info","msg": "running the daemon as unprivileged user","time": "{{.timestamp_iso}}","uid": 998}