{"severity": "INFO","time": "{{.timestamp_iso}}","queue": "cronjob:update_all_mirrors","args": [],"class": "UpdateAllMirrorsWorker","retry": false,"queue_namespace": "cronjob","jid": "06aeaa3b0aadacf9981f368e","created_at": "{{.timestamp_iso}}","enqueued_at": "{{.timestamp_iso}}","pid": 10077,"worker_id": "sidekiq_0","message": "UpdateAllMirrorsWorker JID-06aeaa3b0aadacf9981f368e: done: 0.139 sec","job_status": "done","duration": 0.139,"completed_at": "{{.timestamp_iso}}","db_duration": 0.05,"db_duration_s": 0.0005,"gitaly_duration": 0,"gitaly_calls": 0}