{"id": "indicator--cff76e38-b2f0-4777-88a0-758ad0dce832", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "373d34874d7bc89fd4cefa6272ee80bf", "description": "Each of these file hashes indicates that a variant of Win32/{{.Domains}}.A trojan is present.", "pattern": "[file:hashes.'SHA-256'='d3444b38c6e1224665a86a71d686355c98c6f62e2ee6a55ca12f2dcb87bb8f4e'] OR [file:hashes.'SHA-1'='cc2b68a6e60896d8d87f54a97f129ac1c24b25c1'] OR [file:hashes.'MD5'='aadae3d8fe65ac7cfc2c782293e6c60c']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--4db7b816-e2d4-4efb-8780-939f1378873c", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/theme/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--7608f5a5-f6cb-4d1c-bd4b-05f195d20ce9", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/fuza/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--34730a14-9027-416b-af6c-50a425fd4b05", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/fuza/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--302bb8b1-bd56-46f4-a5ec-fc57eabec6e3", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/fuza/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--f90799cf-307e-43d4-9716-afb24d3ce10a", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/theme/Plugins/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--8a199d9a-f5dc-4cd9-88c1-6ed637e07eb7", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/theme/Plugins']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--e8bdd70f-789d-4666-8389-8cc311ab5355", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/fuza']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--f3880694-81c9-487e-b32f-7409b30c78e4", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "373d34874d7bc89fd4cefa6272ee80bf", "description": "Each of these file hashes indicates that a variant of Win32/{{.Domains}}.A trojan is present.", "pattern": "[file:hashes.'SHA-256'='d655a0410186269feccdf8ba3bd1eb0cdb066a45fc92cb4ce2dc8cd80a05c552'] OR [file:hashes.'SHA-1'='b1dee45e96433e0a73e3b3d39dde3a7779ff3183'] OR [file:hashes.'MD5'='7f160411fd74b895ad7b89388a441bb5']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--b48a316c-8068-4a0a-b657-eea457ae21ef", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C indicates that a botnet Win32/{{.Domains}}.A trojan is present.", "pattern": "[url:value = 'http://{{.IPs}}/8bmeVwqx/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}