{"id": "indicator--d4b78820-bf32-4665-a8f8-d5bb1d417502", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/theme/Plugins/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--799e3cc2-4cd0-45bb-a33e-eab2d7537a25", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/theme/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--d756f043-1f54-4b73-b858-098b7af79adb", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/fuza/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--17444639-a914-4ec6-9706-68414d448e73", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/fuza/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--e6a2a190-b5aa-4f95-9565-8a4cf6bb3a37", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/theme/Plugins']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--18d2048f-24b6-4895-9a01-de0b2fb91300", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/fuza']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--0be0952c-3056-4220-9c31-c9b7a32a5d2c", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.IPs}}/fuza/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--a24fc10b-803e-4804-a5b3-82719a13cacc", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='https://{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--595b7750-06b6-4c8d-bf0d-0708081ba7af", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/Smokeloader.H trojan", "pattern": "[url:value='https://{{.Domains}}/get/QaPzxFmFQh']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--c2c4c382-6eb3-4577-947d-2769c29bb1fa", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "C&C of Win32/{{.Domains}}.A trojan", "pattern": "[url:value='http://{{.Domains}}/385119']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}