{"id": "indicator--edf8f990-9172-408c-96da-c33f6111fd5d", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[domain-name:value='{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--b86350c9-c69b-4ef7-8994-8b0bb9b74d3e", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "Host actively distributes high-severity threat in the form of malicious code.", "pattern": "[domain-name:value='{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--96a62da3-f84e-480c-89ab-8191e69fdbde", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.Domains}}", "description": "Host is known source of active fraudulent content.", "pattern": "[domain-name:value='{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["unwanted-activity"]}