{"id": "indicator--38cddce7-f1e3-49d0-91f6-1423f0e157ca", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "FTP bruteforce IP", "pattern": "[ipv4-addr:value='{{.IPs}}:8080']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--dc5b08dd-0c5e-4b7b-902e-cc212be7ee80", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "MySQL bruteforce IP", "pattern": "[ipv4-addr:value='{{.IPs}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--76c98e1d-aad2-4d3c-9618-95327aa8fb16", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Web services scanning and attacks", "pattern": "[ipv4-addr:value='{{.IPs}}/11']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--e04adbf1-6fd4-4b80-b780-35c9550a36ef", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Web services scanning and attacks", "pattern": "[ipv4-addr:value='{{.IPs}}/11']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--ec0c8daf-33f2-48cc-a377-86e60a30516b", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Web services scanning and attacks", "pattern": "[ipv4-addr:value='{{.IPs}}/11']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--341fa6d7-b866-449b-bd41-7cd5410f634c", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Web services scanning and attacks", "pattern": "[ipv4-addr:value='{{.IPs}}/11']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--53798940-e5aa-42b7-a2cb-44d1f3b61640", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Web services scanning and attacks", "pattern": "[ipv4-addr:value='{{.IPs}}/11']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--aac59262-2567-45aa-9358-e7850c5ea301", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Host is known to be actively distributing threats or is of uncertain reputation.", "pattern": "[ipv4-addr:value='{{.IPs}}/11:80']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--79211a5b-f76b-4025-a640-0a3a0440b5b3", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[ipv4-addr:value='{{.IPs}}/11:8081']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--60b61a83-36d0-4c29-bd92-b0bde20815a4", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "{{.IPs}}", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[ipv4-addr:value='{{.IPs}}/11:80']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}