{"id": "indicator--1a481dbe-e9b4-4f4b-a138-9171b13aaf3d", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host is known to be actively distributing threats or is of uncertain reputation.", "pattern": "[url:value='http://{{.Domains}}/MKK_Internals/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--81565730-9217-49a5-aaf6-1331c29ec3a1", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='http://{{.IPs}}/743576-{{.timestamp_unix_s}}.exe']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--56daf034-6fe6-4f3f-a201-bda39caf02f7", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='https://{{.Domains}}/gm-de-valinhos-sera-a-1a-da-rmc-a-usar-fuzil-em-patrulhamento/']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--ec0a1762-4418-4b4a-8245-d6eeabb69a4c", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='https://{{.Domains}}/lucid-agency-wins-philippines-tourism-account-to-drive-awareness-in-aunz/']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--512f9cc9-ec75-4502-b6ec-50baab95a3f9", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='http://{{.Domains}}/resources/reading-room/2020/06/26/iema-eia-guide-to-climate-change-resilience-and-adaptation-2020']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--c545b3d8-f6c1-4c8c-a7dc-9b4714fade27", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='http://{{.IPs}}/736863-{{.timestamp_unix_s}}.exe']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--a6c01d1c-c14f-4dda-b3a2-7fdeeee59626", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='http://{{.Domains}}/carreras/psicologia/psiclin/vol9num2/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--6a2c6afd-37f3-4c71-9cd2-3378929115a9", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host is known to be actively distributing adware or other medium-risk software.", "pattern": "[url:value='https://{{.Domains}}/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}
---EVENT_DELIMITER---
{"id": "indicator--c2c36c68-b456-41a1-aca8-1329655ed964", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='https://{{.Domains}}/netfiles/{{.Domains}}']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["benign"]}
---EVENT_DELIMITER---
{"id": "indicator--d2bf6040-34a3-4aee-9f99-779b3ef0c0c4", "type": "indicator", "spec_version": "indicator", "created": "{{.timestamp_iso}}", "modified": "{{.timestamp_iso}}", "name": "https://{{.Domains}}/some/path", "description": "Host actively distributes high-severity threat in the form of executable code.", "pattern": "[url:value='http://{{.IPs}}/737375-{{.timestamp_unix_s}}.exe']", "pattern_type": "stix", "pattern_version": "2.1", "valid_from": "{{.timestamp_iso}}", "valid_until": "{{.timestamp_iso}}", "labels": ["malicious-activity"]}