{"ts":{{.timestamp_unix_s}}.857497,"uid":"CAcJw21BbVedgFnYH3","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":38339,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":53,"proto":"udp","trans_id":15209,"rtt":0.076967,"query":"{{.Domains}}","qclass":1,"qclass_name":"C_INTERNET","qtype":1,"qtype_name":"A","rcode":0,"rcode_name":"NOERROR","AA":false,"TC":false,"RD":true,"RA":true,"Z":0,"answers":["{{.Domains}}","{{.Domains}}","{{.IPs}}"],"TTLs":[119.0,119.0,59.0],"rejected":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.680046,"uid":"C19a1k4lTv46YMbeOk","{{.Domains}}_h":"fe80::4ef:15cf:769f:ff21","{{.Domains}}_p":5353,"{{.Domains}}_h":"ff02::fb","{{.Domains}}_p":5353,"proto":"udp","trans_id":0,"query":"_googlecast._{{.Domains}}","qclass":1,"qclass_name":"C_INTERNET","qtype":12,"qtype_name":"PTR","AA":false,"TC":false,"RD":false,"RA":false,"Z":0,"rejected":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.734329,"uid":"CdiVAw7jJw6gsX5H","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":5353,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":5353,"proto":"udp","trans_id":0,"query":"_googlecast._{{.Domains}}","rcode":0,"rcode_name":"NOERROR","AA":true,"TC":false,"RD":false,"RA":false,"Z":0,"answers":["bravia-4k-gb-5c89f865c9d569ab338815b35e3acc56._googlecast._{{.Domains}}"],"TTLs":[120.0],"rejected":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.091052,"uid":"CpwXdW4LQaJkaIgpk","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":33438,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":53,"proto":"udp","trans_id":58036,"query":"{{.Domains}}","rcode":0,"rcode_name":"NOERROR","AA":false,"TC":false,"RD":false,"RA":true,"Z":0,"answers":["{{.Domains}}","{{.Domains}}","{{.IPs}}"],"TTLs":[13.0,18.0,8.0],"rejected":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.973919,"uid":"CO5TE748RoJEZuOThl","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":60444,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":53,"proto":"udp","trans_id":35744,"query":"{{.Domains}}","rcode":0,"rcode_name":"NOERROR","AA":false,"TC":false,"RD":false,"RA":true,"Z":0,"answers":["{{.Domains}}","{{.Domains}}","{{.Domains}}"],"TTLs":[296.0,287.0,287.0],"rejected":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.9742,"uid":"CG1jsmeHcBCGnWXmk","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":44310,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":53,"proto":"udp","trans_id":58458,"query":"{{.Domains}}","rcode":0,"rcode_name":"NOERROR","AA":false,"TC":false,"RD":false,"RA":true,"Z":0,"answers":["{{.Domains}}","{{.Domains}}","{{.Domains}}","{{.IPs}}","{{.IPs}}","{{.IPs}}","{{.IPs}}","{{.IPs}}","{{.IPs}}","{{.IPs}}","{{.IPs}}"],"TTLs":[299.0,214.0,243.0,243.0,243.0,243.0,243.0,243.0,243.0,243.0,243.0],"rejected":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.106256,"uid":"ChP0cl4j5mbXSZ9TGf","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":36364,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":53,"proto":"udp","trans_id":8791,"query":"{{.Domains}}","rcode":0,"rcode_name":"NOERROR","AA":false,"TC":false,"RD":false,"RA":true,"Z":0,"answers":["{{.Domains}}","{{.Domains}}","{{.IPs}}"],"TTLs":[12.0,17.0,7.0],"rejected":false}
---EVENT_DELIMITER---
{"preview":false,"offset":0,"result":{"_bkt":"main~0~0758E7C3-1D0C-4B2B-8CF0-682BFEA86CDC","_cd":"0:12","_indextime":"{{.timestamp_unix_s}}","_raw":"{\"ts\":{{.timestamp_unix_s}}.734329,\"uid\":\"CdiVAw7jJw6gsX5H\",\"{{.Domains}}_h\":\"{{.IPs}}\",\"{{.Domains}}_p\":5353,\"{{.Domains}}_h\":\"{{.IPs}}\",\"{{.Domains}}_p\":5353,\"proto\":\"udp\",\"trans_id\":0,\"query\":\"_googlecast._{{.Domains}}\",\"rcode\":0,\"rcode_name\":\"NOERROR\",\"AA\":true,\"TC\":false,\"RD\":false,\"RA\":false,\"Z\":0,\"answers\":[\"bravia-4k-gb-5c89f865c9d569ab338815b35e3acc56._googlecast._{{.Domains}}\"],\"TTLs\":[120.0],\"rejected\":false}","_serial":"0","_si":["b590508aafed","main"],"_sourcetype":"access_log-too_small","_time":"2020-12-23 19:43:35.000 UTC","host":"{{.Domains}}","index":"main","linecount":"1","my_max":"{{.timestamp_unix_s}}","source":"/usr/local/var/log/zeek/{{.Domains}}","sourcetype":"access_log-too_small","splunk_server":"b590508aafed"}}