{"ts":"{{.timestamp_iso}}073Z","host":"{{.IPs}}"}
---EVENT_DELIMITER---
{"ts":"{{.timestamp_iso}}353Z","host":"{{.IPs}}"}
---EVENT_DELIMITER---
{"ts":"{{.timestamp_iso}}179Z","host":"{{.IPs}}"}
---EVENT_DELIMITER---
{"ts":"{{.timestamp_iso}}683Z","host":"{{.IPs}}"}
---EVENT_DELIMITER---
{"ts":"{{.timestamp_iso}}004Z","host":"{{.IPs}}"}