{"ts":{{.timestamp_unix_s}}.879278,"note":"SSH::Password_Guessing","msg":"{{.IPs}} appears to be guessing SSH passwords (seen in 30 connections).","sub":"Sampled servers:  {{.IPs}}, {{.IPs}}, {{.IPs}}, {{.IPs}}, {{.IPs}}","src":"{{.IPs}}","peer_descr":"bro","actions":["Notice::ACTION_LOG"],"suppress_for":3600.0,"dropped":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.426472,"note":"Scan::Port_Scan","msg":"{{.IPs}} scanned at least 15 unique ports of host {{.IPs}} in 0m0s","sub":"remote","src":"{{.IPs}}","dst":"{{.IPs}}","peer_descr":"bro","actions":["Notice::ACTION_LOG"],"suppress_for":3600.0,"dropped":false}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.958466,"note":"CaptureLoss::Too_Much_Loss","msg":"The capture loss script detected an estimated loss rate above 88.306%","actions":["Notice::ACTION_LOG"],"suppress_for":3600.0}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.601155,"uid":"CmvrSS1wIiuOGYCbfi","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":48818,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":443,"fuid":"F39b0Bdfm3FW1rNS5","proto":"tcp","note":"SSL::Invalid_Server_Cert","msg":"SSL certificate validation failed with (self signed certificate)","sub":"CN=*{{.Domains}},O=BadSSL,L=San Francisco,ST=California,C=US","src":"{{.IPs}}","dst":"{{.IPs}}","p":443,"actions":["Notice::ACTION_LOG"],"suppress_for":3600.0}
---EVENT_DELIMITER---
{"preview":false,"offset":0,"result":{"_bkt":"main~0~0758E7C3-1D0C-4B2B-8CF0-682BFEA86CDC","_cd":"0:12","_indextime":"{{.timestamp_unix_s}}","_raw":"{\"ts\":{{.timestamp_unix_s}}.426472,\"note\":\"Scan::Port_Scan\",\"msg\":\"{{.IPs}} scanned at least 15 unique ports of host {{.IPs}} in 0m0s\",\"sub\":\"remote\",\"src\":\"{{.IPs}}\",\"dst\":\"{{.IPs}}\",\"peer_descr\":\"bro\",\"actions\":[\"Notice::ACTION_LOG\"],\"suppress_for\":3600.0,\"dropped\":false}","_serial":"0","_si":["b590508aafed","main"],"_sourcetype":"access_log-too_small","_time":"2020-12-23 19:43:35.000 UTC","host":"{{.Domains}}","index":"main","linecount":"1","my_max":"{{.timestamp_unix_s}}","source":"/usr/local/var/log/zeek/{{.Domains}}","sourcetype":"access_log-too_small","splunk_server":"b590508aafed"}}