{"ts":{{.timestamp_unix_s}}.847886,"id":"FSEWoS3ff8FcTn3WLf","hashAlgorithm":"sha1","issuerNameHash":"14A7E219F46B93E141258F08BC85764671F136B0","issuerKeyHash":"EEDD79C0D379B04D7E47BC70A6E7C62AAEBADEC9","serialNumber":"9239D5348F40D1695A745470E1F23F43","certStatus":"revoked","revoketime":{{.timestamp_unix_s}}.0,"thisUpdate":{{.timestamp_unix_s}}.0,"nextUpdate":{{.timestamp_unix_s}}.0}
---EVENT_DELIMITER---
{"ts":{{.timestamp_unix_s}}.100084,"id":"FdZBFMEYgAErVhoC8","hashAlgorithm":"sha1","issuerNameHash":"6C2BC55AAF8D96BF60ADF81D023F23B48A0059C2","issuerKeyHash":"A5EF0B11CEC04103A34A659048B21CE0572D7D47","serialNumber":"30119E6EF41BDBA3FEFE711DBE8F6191","certStatus":"good","thisUpdate":{{.timestamp_unix_s}}.0,"nextUpdate":{{.timestamp_unix_s}}.0}
---EVENT_DELIMITER---
{"preview":false,"offset":0,"result":{"_bkt":"main~0~0758E7C3-1D0C-4B2B-8CF0-682BFEA86CDC","_cd":"0:12","_indextime":"{{.timestamp_unix_s}}","_raw":"{\"ts\":{{.timestamp_unix_s}}.100084,\"id\":\"FdZBFMEYgAErVhoC8\",\"hashAlgorithm\":\"sha1\",\"issuerNameHash\":\"6C2BC55AAF8D96BF60ADF81D023F23B48A0059C2\",\"issuerKeyHash\":\"A5EF0B11CEC04103A34A659048B21CE0572D7D47\",\"serialNumber\":\"30119E6EF41BDBA3FEFE711DBE8F6191\",\"certStatus\":\"good\",\"thisUpdate\":{{.timestamp_unix_s}}.0,\"nextUpdate\":{{.timestamp_unix_s}}.0}","_serial":"0","_si":["b590508aafed","main"],"_sourcetype":"access_log-too_small","_time":"2020-12-23 19:43:35.000 UTC","host":"{{.Domains}}","index":"main","linecount":"1","my_max":"{{.timestamp_unix_s}}","source":"/usr/local/var/log/zeek/{{.Domains}}","sourcetype":"access_log-too_small","splunk_server":"b590508aafed"}}