{"ts":{{.timestamp_unix_s}}.576942,"uid":"C9YAaEzWLL62yWMn5","{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":49239,"{{.Domains}}_h":"{{.IPs}}","{{.Domains}}_p":445,"action":"SMB::FILE_OPEN","path":"\u005c\u005cadmin-pc\u005cADMIN$","name":"{{.Domains}}","size":0,"{{.Domains}}":{{.timestamp_unix_s}}.607777,"{{.Domains}}":{{.timestamp_unix_s}}.607777,"{{.Domains}}":{{.timestamp_unix_s}}.607777,"{{.Domains}}":{{.timestamp_unix_s}}.607777}
---EVENT_DELIMITER---
{"preview":false,"offset":0,"result":{"_bkt":"main~0~0758E7C3-1D0C-4B2B-8CF0-682BFEA86CDC","_cd":"0:12","_indextime":"{{.timestamp_unix_s}}","_raw":"{\"ts\":{{.timestamp_unix_s}}.576942,\"uid\":\"C9YAaEzWLL62yWMn5\",\"{{.Domains}}_h\":\"{{.IPs}}\",\"{{.Domains}}_p\":49239,\"{{.Domains}}_h\":\"{{.IPs}}\",\"{{.Domains}}_p\":445,\"action\":\"SMB::FILE_OPEN\",\"path\":\"\\u005c\\u005cadmin-pc\\u005cADMIN$\",\"name\":\"{{.Domains}}\",\"size\":0,\"{{.Domains}}\":{{.timestamp_unix_s}}.607777,\"{{.Domains}}\":{{.timestamp_unix_s}}.607777,\"{{.Domains}}\":{{.timestamp_unix_s}}.607777,\"{{.Domains}}\":{{.timestamp_unix_s}}.607777}","_serial":"0","_si":["b590508aafed","main"],"_sourcetype":"access_log-too_small","_time":"2020-12-23 19:43:35.000 UTC","host":"{{.Domains}}","index":"main","linecount":"1","my_max":"{{.timestamp_unix_s}}","source":"/usr/local/var/log/zeek/smb_{{.Domains}}","sourcetype":"access_log-too_small","splunk_server":"b590508aafed"}}