{"id": 53820480, "eventCode": 92, "eventLevel": 0, "eventText": "Execution of file blocked by policy", "eventTime": "{{.timestamp_iso}}", "eventTimeUTC": "{{.timestamp_iso}}", "computerName": "FTWIN11", "userAccount": "TEST", "userName": "FastTrack Support", "alertAccount": null, "auditLogURL": null, "rollback": false, "additionalData": null, "application": {"file": "{{.Domains}}", "path": "C:\\Program Files (x86)\\Microsoft\\Edge\\Application", "name": "Microsoft Edge", "vendor": "Microsoft Corporation", "version": "{{.Domains}}", "sha256": "3BC499B8B30FE66A91FABC2FF5AE6E6A9452C116AEDCAC7DBC5AEEEAEED2EB9C"}}