{"pps":{"agent":"{{.Domains}}","cid":"mmg_abcd001"},"ts":"{{.timestamp_iso}}180-07:00","data":"{{.timestamp_iso}}180-07:00 example sendmail[30641]: ABcDqYbx123123: to={{.Emails}}, ctladdr=<{{.Emails}}> (8/0), delay=00:00:00, xdelay=00:00:00, mailer=*file*, tls_verify=NONE, pri=35342, dsn=2.0.0, stat=Sent","sm":{"tls":{"verify":"NONE"},"stat":"Sent","qid":"ABcDqYbx123123","dsn":"2.0.0","mailer":"*file*","to":["{{.Emails}}"],"ctladdr":"<{{.Emails}}> (8/0)","delay":"00:00:00","xdelay":"00:00:00","pri":35342},"id":"ZeYABCDefghN0123456OyA"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}197-07:00 m0000123 sendmail[17965]: 45JCABCD123123: to=<{{.Emails}}>, delay=00:00:00, xdelay=00:00:00, mailer=esmtp, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=120812, relay={{.Domains}}. [IPv6:2a02:cf40::], dsn=2.0.0, stat=Sent (Ok: queued)","id":"usCZNabcdefghijm3/1234","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"esmtp","pri":"120812","qid":"45JCABCD123123","relay":"{{.Domains}}. [IPv6:2a02:cf40::]","stat":"Sent (Ok: queued)","to":["<{{.Emails}}>"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}197-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}542-07:00 m0000123 sendmail[17414]: 45ABSW12341234: from=<{{.Emails}}>, size=1557, class=0, nrcpts=1, msgid=<{{.Emails}}>, proto=ESMTP, daemon=MTA, tls_verify=NONE, tls_version=NONE, cipher=NONE, auth=NONE, relay={{.Domains}} [{{.IPs}}]","id":"OWIsabCDeFgH/h1234n1Cw","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"auth":"NONE","class":"0","daemon":"MTA","from":"<{{.Emails}}>","msgid":"<{{.Emails}}>","nrcpts":"1","proto":"ESMTP","qid":"45ABSW12341234","relay":"{{.Domains}} [{{.IPs}}]","sizeBytes":"1557"},"tls":{"cipher":"NONE","verify":"NONE","version":"NONE"},"ts":"{{.timestamp_iso}}542-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}564-07:00 m0000123 sendmail[17416]: 45ABSW12341234: to=<{{.Emails}}>, delay=00:00:00, xdelay=00:00:00, mailer=relay, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=121557, relay={{.Domains}}. [{{.IPs}}], dsn=2.0.0, stat=Sent (Ok: queued)","id":"NABCDefGH0/I1234slqccQ","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"relay","pri":"121557","qid":"45ABSW12341234","relay":"{{.Domains}}. [{{.IPs}}]","stat":"Sent (Ok: queued)","to":["<{{.Emails}}>"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}564-0700"}
---EVENT_DELIMITER---
{"pps":{"agent":"{{.Domains}}","cid":"mmg_abcd001"},"ts":"{{.timestamp_iso}}180-07:00","data":"{{.timestamp_iso}}180-07:00 example sendmail[30641]: ABcDqYbx123123: to={{.Emails}}, ctladdr=<{{.Emails}}> (8/0), delay=00:00:00, xdelay=00:00:00, mailer=dsn, tls_verify=NONE, pri=35342, dsn=2.0.0, stat=Sent","sm":{"tls":{"verify":"NONE"},"stat":"Sent","qid":"ABcDqYbx123123","dsn":"2.0.0","mailer":"dsn","to":["{{.Emails}}"],"ctladdr":"<{{.Emails}}> (8/0)","delay":"00:00:00","xdelay":"00:00:00","pri":35342},"id":"ZeYABCDefghN0123456OyA"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}197-07:00 m0000123 sendmail[17965]: 45JCABCD123123: to={{.Emails}}, delay=00:00:00, xdelay=00:00:00, mailer=local, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=120812, relay={{.Domains}}. [IPv6:2a02:cf40::], dsn=2.0.0, stat=Sent (Ok: queued)","id":"usCZNabcdefghijm3/1234","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"local","pri":"120812","qid":"45JCABCD123123","relay":"{{.Domains}}. [IPv6:2a02:cf40::]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}197-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}542-07:00 m0000123 sendmail[17414]: 45ABSW12341234: from={{.Emails}}, size=1557, class=0, nrcpts=1, msgid=<{{.Emails}}>, proto=SMTP, daemon=MTA, tls_verify=NONE, tls_version=NONE, cipher=NONE, auth=NONE, relay={{.Domains}} [{{.IPs}}]","id":"OWIsabCDeFgH/h1234n1Cw","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"auth":"NONE","class":"0","daemon":"MTA","from":"{{.Emails}}","msgid":"<{{.Emails}}>","nrcpts":"1","proto":"SMTP","qid":"45ABSW12341234","relay":"{{.Domains}} [{{.IPs}}]","sizeBytes":"1557"},"tls":{"cipher":"NONE","verify":"NONE","version":"NONE"},"ts":"{{.timestamp_iso}}542-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}564-07:00 m0000123 sendmail[17416]: 45ABSW12341234: to={{.Emails}}, delay=00:00:00, xdelay=00:00:00, mailer=relay, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=121557, relay={{.Domains}}. [{{.IPs}}], dsn=2.0.0, stat=Sent (Ok: queued)","id":"NABCDefGH0/I1234slqccQ","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"relay","pri":"121557","qid":"45ABSW12341234","relay":"{{.Domains}}. [{{.IPs}}]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}564-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}542-07:00 m0000123 sendmail[17414]: 45ABSW12341234: from=<{{.Emails}}>, size=1557, class=0, nrcpts=1, msgid=<{{.Emails}}>, proto=ESMTP, daemon=MTA, tls_verify=NONE, tls_version=NONE, cipher=NONE, auth=NONE, relay={{.Domains}} [{{.IPs}}]","id":"OWIsabCDeFgH/h1234n1Cw","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"auth":"NONE","class":"0","daemon":"MTA","from":"<{{.Emails}}>","msgid":"<{{.Emails}}>","nrcpts":"1","proto":"SMTP","qid":"45ABSW12341234","relay":"{{.Domains}} [{{.IPs}}]","sizeBytes":"1557"},"tls":{"cipher":"NONE","verify":"NONE","version":"NONE"},"ts":"{{.timestamp_iso}}542-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}564-07:00 m0000123 sendmail[17416]: 45ABSW12341234: to=<{{.Emails}}>, delay=00:00:00, xdelay=00:00:00, mailer=relay, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=121557, relay={{.Domains}}. [{{.IPs}}], dsn=2.0.0, stat=Sent (Ok: queued)","id":"NABCDefGH0/I1234slqccQ","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"relay","pri":"121557","qid":"45ABSW12341234","relay":"{{.Domains}}. [{{.IPs}}]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}564-0700"}
---EVENT_DELIMITER---
{"pps":{"agent":"{{.Domains}}","cid":"mmg_abcd001"},"ts":"{{.timestamp_iso}}180-07:00","data":"{{.timestamp_iso}}180-07:00 example sendmail[30641]: ABcDqYbx123123: to={{.Emails}}, ctladdr=<{{.Emails}}> (8/0), delay=00:00:00, xdelay=00:00:00, mailer=dsn, tls_verify=NONE, pri=35342, dsn=2.0.0, stat=Sent","sm":{"tls":{"verify":"NONE"},"stat":"Sent","qid":"ABcDqYbx123123","dsn":"2.0.0","mailer":"dsn","to":["{{.Emails}}"],"ctladdr":"<{{.Emails}}> (8/0)","delay":"00:00:00","xdelay":"00:00:00","pri":35342},"id":"ZeYABCDefghN0123456OyA"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}197-07:00 m0000123 sendmail[17965]: 45JCABCD123123: to={{.Emails}}, delay=00:00:00, xdelay=00:00:00, mailer=local, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=120812, relay={{.Domains}}. [IPv6:2a02:cf40::], dsn=2.0.0, stat=Sent (Ok: queued)","id":"usCZNabcdefghijm3/1234","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"local","pri":"120812","qid":"45JCABCD123123","relay":"{{.Domains}}. [IPv6:2a02:cf40::]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}197-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}542-07:00 m0000123 sendmail[17414]: 45ABSW12341234: from={{.Emails}}, size=1557, class=0, nrcpts=1, msgid=<{{.Emails}}>, proto=SMTP, daemon=MTA, tls_verify=NONE, tls_version=NONE, cipher=NONE, auth=NONE, relay={{.Domains}} [{{.IPs}}]","id":"OWIsabCDeFgH/h1234n1Cw","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"auth":"NONE","class":"0","daemon":"MTA","from":"{{.Emails}}","msgid":"<{{.Emails}}>","nrcpts":"1","proto":"SMTP","qid":"45ABSW12341234","relay":"{{.Domains}} [{{.IPs}}]","sizeBytes":"1557"},"tls":{"cipher":"NONE","verify":"NONE","version":"NONE"},"ts":"{{.timestamp_iso}}542-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}564-07:00 m0000123 sendmail[17416]: 45ABSW12341234: to={{.Emails}}, delay=00:00:00, xdelay=00:00:00, mailer=relay, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=121557, relay={{.Domains}}. [{{.IPs}}], dsn=2.0.0, stat=Sent (Ok: queued)","id":"NABCDefGH0/I1234slqccQ","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"relay","pri":"121557","qid":"45ABSW12341234","relay":"{{.Domains}}. [{{.IPs}}]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}564-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}542-07:00 m0000123 sendmail[17414]: 45ABSW12341234: from={{.Emails}}, size=1557, class=0, nrcpts=1, msgid=<{{.Emails}}>, proto=SMTP, daemon=MTA, tls_verify=NONE, tls_version=NONE, cipher=NONE, auth=NONE, relay={{.Domains}} [{{.IPs}}]","id":"OWIsabCDeFgH/h1234n1Cw","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"auth":"NONE","class":"0","daemon":"MTA","from":"{{.Emails}}","msgid":"<{{.Emails}}>","nrcpts":"1","proto":"SMTP","qid":"45ABSW12341234","relay":"{{.Domains}} [{{.IPs}}]","sizeBytes":"1557"},"tls":{"cipher":"NONE","verify":"NONE","version":"NONE"},"ts":"{{.timestamp_iso}}542-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}564-07:00 m0000123 sendmail[17416]: 45ABSW12341234: to={{.Emails}}, delay=00:00:00, xdelay=00:00:00, mailer=relay, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=121557, relay={{.Domains}}. [{{.IPs}}], dsn=2.0.0, stat=Sent (Ok: queued)","id":"NABCDefGH0/I1234slqccQ","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"dsn","pri":"121557","qid":"45ABSW12341234","from":"{{.Emails}}","relay":"{{.Domains}}. [{{.IPs}}]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}564-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}542-07:00 m0000123 sendmail[17414]: 45ABSW12341234: from={{.Emails}}, size=1557, class=0, nrcpts=1, msgid=<{{.Emails}}>, proto=SMTP, daemon=MTA, tls_verify=NONE, tls_version=NONE, cipher=NONE, auth=NONE, relay={{.Domains}} [{{.IPs}}]","id":"OWIsabCDeFgH/h1234n1Cw","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"auth":"NONE","class":"0","daemon":"MTA","from":"{{.Emails}}","msgid":"<{{.Emails}}>","nrcpts":"1","proto":"SMTP","qid":"45ABSW12341234","relay":"{{.Domains}} [{{.IPs}}]","sizeBytes":"1557"},"tls":{"cipher":"NONE","verify":"NONE","version":"NONE"},"ts":"{{.timestamp_iso}}542-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}564-07:00 m0000123 sendmail[17416]: 45ABSW12341234: to={{.Emails}}, delay=00:00:00, xdelay=00:00:00, mailer=relay, tls_verify=OK, tls_version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM, pri=121557, relay={{.Domains}}. [{{.IPs}}], dsn=2.0.0, stat=Sent (Ok: queued)","id":"NABCDefGH0/I1234slqccQ","metadata":{"customerId":"c82abcde-5678-42dd-1234-1234563f9cff","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"delay":"00:00:00","dsn":"2.0.0","mailer":"dsn","pri":"121557","qid":"45ABSW12341234","from":"{{.Emails}}","relay":"{{.Domains}}. [{{.IPs}}]","stat":"Sent (Ok: queued)","to":["{{.Emails}}"],"xdelay":"00:00:00"},"tls":{"cipher":"ECDHE-RSA-AES256-GCM","verify":"OK","version":"TLSv1.2"},"ts":"{{.timestamp_iso}}564-0700"}
---EVENT_DELIMITER---
{"data":"{{.timestamp_iso}}449-05:00 m0000123 sendmail[1901]: 45ABSW12341234: 4B4GA866001901: DSN: User unknown","id":"oBAvXXYk3//Dac0ENcjWlQ","metadata":{"customerId":"4f281ec6-1246-3a78-9419-eaa32dc3348a","origin":{"data":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"schemaVersion":"20200420"}},"pps":{"agent":"{{.Domains}}","cid":"pphosted_prodmgt_hosted"},"sm":{"qid":"45ABSW12341234"},"ts":"{{.timestamp_iso}}449-0500"}