{"@timestamp":"{{.timestamp_iso}}777597Z","{{.Domains}}":44,"{{.Domains}}":"{{.Domains}}2ProviderFactory","{{.Domains}}":"INFO","message":"If hostname is specified, hostname-strict is effectively ignored","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}967915Z","{{.Domains}}":9612,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Starting Infinispan embedded cache manager","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}446748Z","{{.Domains}}":9613,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"JGroups JDBC_PING discovery enabled.","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}43908Z","{{.Domains}}":9617,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"JGroups Encryption enabled (mTLS).","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}649286Z","{{.Domains}}":9618,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Virtual threads support enabled","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}739375Z","{{.Domains}}":9619,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Starting JGroups certificate reload manager","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}668378Z","{{.Domains}}":9620,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"ISPN000556: Starting user marshaller '{{.Domains}}'","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}099209Z","{{.Domains}}":9621,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"ISPN000078: Starting JGroups channel `ISPN` with stack `jdbc-ping`","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}882814Z","{{.Domains}}":9622,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"local_addr: a6e73662-3ace-402c-8f3c-1fbb41d34af7, name: 068a18c2f627-18077","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}110401Z","{{.Domains}}":9623,"{{.Domains}}":"{{.Domains}}_SOCK2","{{.Domains}}":"INFO","message":"server listening on *:57800","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}527594Z","{{.Domains}}":9624,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"068a18c2f627-18077: no members discovered after 19 ms: creating cluster as coordinator","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}239014Z","{{.Domains}}":9625,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"ISPN000094: Received new cluster view for channel ISPN: [068a18c2f627-18077|0] (1) [068a18c2f627-18077]","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}658585Z","{{.Domains}}":9626,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Reloading JGroups Certificate","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}550483Z","{{.Domains}}":9628,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"ISPN000079: Channel `ISPN` local address is `068a18c2f627-18077`, physical addresses are `[{{.IPs}}:7800]`","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}279193Z","{{.Domains}}":9629,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Node name: 068a18c2f627-18077, Site name: null","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}32701Z","{{.Domains}}":9635,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Keycloak 26.2.2 on JVM (powered by Quarkus 3.20.0) started in 8.749s. Listening on: https://{{.IPs}}:8443. Management interface listening on https://{{.IPs}}:9000.","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}156556Z","{{.Domains}}":9636,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Profile prod activated. ","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
{"@timestamp":"{{.timestamp_iso}}002177Z","{{.Domains}}":9637,"{{.Domains}}":"{{.Domains}}","{{.Domains}}":"INFO","message":"Installed features: [agroal, cdi, hibernate-orm, jdbc-postgresql, keycloak, micrometer, narayana-jta, opentelemetry, reactive-routes, rest, rest-jackson, smallrye-context-propagation, smallrye-health, vertx]","{{.Domains}}":"main","{{.Domains}}":1,"mdc":{},"ndc":"","{{.Domains}}":"068a18c2f627","{{.Domains}}":"/usr/lib/jvm/java-21-openjdk-{{.IPs}}{{.Domains}}9.x86_64/bin/java","{{.Domains}}":1,"{{.Domains}}":"1.12.2","data_{{.Domains}}":"logs","{{.Domains}}":"Keycloak","{{.Domains}}":"26.2.2","{{.Domains}}":"prod"}
---EVENT_DELIMITER---
2021-10-22 21:01:42,548 INFO  [{{.Domains}}] (ServerService Thread Pool -- 64) KC-SERVICES0009: Added user 'admin' to realm 'master'
---EVENT_DELIMITER---
2021-10-22 21:01:42,667 INFO  [{{.Domains}}_jaxrs.i18n] (ServerService Thread Pool -- 64) RESTEASY002220: Adding singleton resource {{.Domains}} from Application class {{.Domains}}
---EVENT_DELIMITER---
2021-10-22 21:01:42,912 INFO  [{{.Domains}}] (ServerService Thread Pool -- 64) WFLYUT002021-10-22 21: Registered web context: '/auth' for server 'default-server'       
---EVENT_DELIMITER---
2021-10-22 21:01:43,208 INFO  [{{.Domains}}] (ServerService Thread Pool -- 46) WFLYSRV0010: Deployed "{{.Domains}}" (runtime-name : "{{.Domains}}")       
---EVENT_DELIMITER---
2021-10-22 21:01:43,299 INFO  [{{.Domains}}] (Controller Boot Thread) WFLYSRV0212: Resuming server
---EVENT_DELIMITER---
2021-10-22 21:01:43,307 INFO  [{{.Domains}}] (Controller Boot Thread) WFLYSRV0025: Keycloak 15.0.2 (WildFly Core {{.Domains}}) started in 28315ms - Started 692 of 977 services (686 services are lazy, passive or on-demand)
---EVENT_DELIMITER---
2021-10-22 21:01:43,327 INFO  [{{.Domains}}] (Controller Boot Thread) WFLYSRV0060: Http management interface listening on http://{{.IPs}}:9990/management
---EVENT_DELIMITER---
2021-10-22 21:01:43,327 INFO  [{{.Domains}}] (Controller Boot Thread) WFLYSRV0051: Admin console listening on http://{{.IPs}}:9990
---EVENT_DELIMITER---
2021-10-22 21:01:45,403 WARN  [{{.Domains}}] (default task-1) type=LOGIN_ERROR, realmId=test, clientId=test, userId=null, ipAddress={{.IPs}}, error=invalid_redirect_uri, redirect_uri=http://localhost:8080
---EVENT_DELIMITER---
2021-10-22 21:20:42,120 WARN  [{{.Domains}}] (default task-2) type=LOGIN_ERROR, realmId=test, clientId=test, userId=cc74404c-de7e-482a-98f7-b271ff3c49be, ipAddress={{.IPs}}, error=invalid_user_credentials, auth_method=openid-connect, auth_type=code, redirect_uri=http://{{.IPs}}:8080, code_id=3a76b735-e324-42b1-aa15-7c1f69f22eb8, username=admin, authSessionParentId=3a76b735-e324-42b1-aa15-7c1f69f22eb8, authSessionTabId=oJpF-WjDC04
---EVENT_DELIMITER---
2021-10-22 21:24:41,076 WARN  [{{.Domains}}] (default task-10) type=LOGIN_ERROR, realmId=master, clientId=security-admin-console, userId=null, ipAddress={{.IPs}}, error=user_not_found, auth_method=openid-connect, auth_type=code, redirect_uri=http://{{.IPs}}:9090/auth/admin/master/console/, code_id=f9d4300d-d052-4eb6-9aeb-e8fcf642a21f, authSessionParentId=f9d4300d-d052-4eb6-9aeb-e8fcf642a21f, authSessionTabId=C8EtUrcFMsg
---EVENT_DELIMITER---
2021-10-22 21:31:31,555 WARN  [{{.Domains}}] (default task-10) type=LOGIN_ERROR, realmId=test, clientId=test, userId=null, ipAddress={{.IPs}}, error=invalid_redirect_uri, redirect_uri=http://localhost:8080
---EVENT_DELIMITER---
2021-10-22 20:58:02,700 WARN  [{{.Domains}}] (default task-18) type=LOGIN_ERROR, realmId=ABCD TEST, clientId=https://{{.Domains}}/shibboleth, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, error=invalid_user_credentials, auth_method=saml, redirect_uri=https://{{.Domains}}/{{.Domains}}/SAML2/POST, code_id=cbefe0ca-bc11-48b4-b7fa-f1a59d220980, username=admin, authSessionParentId=cbefe0ca-bc11-48b4-b7fa-f1a59d220980, authSessionTabId=97qImXws36A
---EVENT_DELIMITER---
2021-10-22 22:11:31,257 DEBUG [{{.Domains}}] (default task-2) type=LOGIN, realmId=test, clientId=security-admin-console, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, auth_method=openid-connect, auth_type=code, redirect_uri=https://{{.Domains}}/auth/admin/test/console/#/realms/test/events, consent=no_consent_required, code_id=bae6e56e-368f-4809-89f3-48cfb6279f5e, username=admin, authSessionParentId=bae6e56e-368f-4809-89f3-48cfb6279f5e, authSessionTabId=Kz_ye2UvP6M
---EVENT_DELIMITER---
2021-10-22 22:11:32,131 DEBUG [{{.Domains}}] (default task-3) type=CODE_TO_TOKEN, realmId=test, clientId=security-admin-console, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, token_id=561459c0-75f1-46d4-986d-d1c96d12b513, grant_type=authorization_code, refresh_token_type=Refresh, scope=openid, refresh_token_id=07434488-ca99-412a-99a0-c2e47c93d6d1, code_id=bae6e56e-368f-4809-89f3-48cfb6279f5e, client_auth_method=client-secret
---EVENT_DELIMITER---
2021-10-22 22:12:09,871 DEBUG [{{.Domains}}] (default task-3) operationType=CREATE, realmId=test, clientId=7bcaf1cb-820a-40f1-91dd-75ced03ef03b, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, resourceType=USER, resourcePath=users/07972d16-b173-4c99-803d-90f211080f40
---EVENT_DELIMITER---
2021-10-22 22:12:13,599 DEBUG [{{.Domains}}] (default task-1) operationType=UPDATE, realmId=test, clientId=7bcaf1cb-820a-40f1-91dd-75ced03ef03b, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, resourceType=USER, resourcePath=users/07972d16-b173-4c99-803d-90f211080f40
---EVENT_DELIMITER---
2021-10-22 22:14:29,031 DEBUG [{{.Domains}}] (default task-9) operationType=CREATE, realmId=test, clientId=7bcaf1cb-820a-40f1-91dd-75ced03ef03b, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, resourceType=GROUP, resourcePath=groups/d043d5af-6100-483a-9c41-b1a30d5149f7
---EVENT_DELIMITER---
2021-10-22 22:16:12,150 DEBUG [{{.Domains}}] (default task-8) operationType=CREATE, realmId=test, clientId=7bcaf1cb-820a-40f1-91dd-75ced03ef03b, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, resourceType=CLIENT_SCOPE, resourcePath=client-scopes/3b4139b4-66e1-4309-88c1-63ee5abc93a6
---EVENT_DELIMITER---
2021-10-22 22:45:12,592 DEBUG [{{.Domains}}] (default task-8) type=LOGOUT, realmId=test, clientId=null, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, redirect_uri=https://{{.Domains}}/auth/admin/test/console/#/realms/test/admin-events, authSessionParentId=bae6e56e-368f-4809-89f3-48cfb6279f5e, authSessionTabId=GbBi74IWYc4
---EVENT_DELIMITER---
2021-10-22 22:46:14,913 DEBUG [{{.Domains}}] (default task-1) operationType=DELETE, realmId=test, clientId=7bcaf1cb-820a-40f1-91dd-75ced03ef03b, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, resourceType=GROUP, resourcePath=groups/d043d5af-6100-483a-9c41-b1a30d5149f7
---EVENT_DELIMITER---
2023-08-22 07:19:22,081 ERROR [{{.Domains}}] (default task-8) Error getting user: {{.Domains}}: Connect to {{.Domains}}:8080 [{{.Domains}}/{{.IPs}}] failed: Connection refused (Connection refused)
---EVENT_DELIMITER---
    at {{.Domains}}({{.Domains}}:156)
---EVENT_DELIMITER---
    at {{.Domains}}({{.Domains}}:376)
---EVENT_DELIMITER---
    at {{.Domains}}({{.Domains}}:393)
---EVENT_DELIMITER---
    at {{.Domains}}({{.Domains}}:236)
---EVENT_DELIMITER---
    at {{.Domains}}({{.Domains}}:186)
---EVENT_DELIMITER---
    at {{.Domains}}({{.Domains}}:89)
---EVENT_DELIMITER---
2021-10-22 23:05:03,371 DEBUG [{{.Domains}}] (default task-8) operationType=CREATE, realmId=test, clientId=7bcaf1cb-820a-40f1-91dd-75ced03ef03b, userId=ce637d23-b89c-4fca-9088-1aea1d053e19, ipAddress={{.IPs}}, resourceType=GROUP, resourcePath=groups/a57cd49f-fdfd-4d25-9fd2-2a46de44a9e6/children
---EVENT_DELIMITER---
2024-07-17 12:05:32,104 INFO [{{.Domains}}] (main-thread-1) type=\"LOGOUT\", realmId=\"12345678-9abc-def0-1234-56789abcdef0\", clientId=\"user-console\", userId=\"abcdef12-3456-7890-abcd-ef1234567890\", sessionId=\"abcd1234-5678-90ab-cdef-1234567890ab\", ipAddress=\"{{.IPs}}\", auth_method=\"oauth2\", auth_type=\"token\", response_type=\"token\", redirect_uri=\"https://{{.Domains}}/realms/demo/account/\", consent=\"consent_required\", code_id=\"abcd1234-5678-90ab-cdef-1234567890ab\", response_mode=\"fragment\", username=\"dummyuser\", authSessionParentId=\"abcd1234-5678-90ab-cdef-1234567890ab\", authSessionTabId=\"zXY987wvuTsr\"
---EVENT_DELIMITER---
{{.timestamp_iso}},104 INFO [{{.Domains}}] (main-thread-1) type=\"LOGOUT\", realmId=\"12345678-9abc-def0-1234-56789abcdef0\", clientId=\"user-console\", userId=\"abcdef12-3456-7890-abcd-ef1234567890\", sessionId=\"abcd1234-5678-90ab-cdef-1234567890ab\", ipAddress=\"{{.IPs}}\", auth_method=\"oauth2\", auth_type=\"token\", response_type=\"token\", redirect_uri=\"https://{{.Domains}}/realms/demo/account/\", consent=\"consent_required\", code_id=\"abcd1234-5678-90ab-cdef-1234567890ab\", response_mode=\"fragment\", username=\"dummyuser\", authSessionParentId=\"abcd1234-5678-90ab-cdef-1234567890ab\", authSessionTabId=\"zXY987wvuTsr\"