{"vsphere":{"datastorecluster":{"capacity":{"bytes":8795019280384},"datastore":{"count":1,"names":["LocalDS_0"]},"free_space":{"bytes":8788836876288},"id":"group-p1","name":"datastore_cluster1","triggered_alarms":[{"description":"","entity_name":"{{.IPs}}","id":"{{.Domains}}","name":"datastore-cluster alert","status":"red","triggered_time":"{{.timestamp_iso}}"},{"description":"","entity_name":"{{.IPs}}","id":"{{.Domains_1}}","name":"datastore-cluster warning","status":"yellow","triggered_time":"{{.timestamp_iso}}"}]}}}