<14>1 {{.timestamp_iso}}710+00:00 vcenter applmgmt-audit - - -  {{.timestamp_iso}}: INFO AuthorizationResponse = { authorized=True, method=LOCAL }
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}908+00:00 vcenter applmgmt-audit - - -  {{.timestamp_iso}}: INFO Authorization Result: User={{.Emails}}, priv=ModifyConfiguration, authorized=True
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}383+00:00 vcenter vpxd 58650 - -  Event [575792] [1-1] [{{.timestamp_iso}}09Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575792] [User {{.Domains}}\Administrator@{{.IPs}} logged in as Go-http-client/1.1]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}354+00:00 vcenter vpxd 58650 - -  Event [575793] [1-1] [{{.timestamp_iso}}346Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575793] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:13 PM, number of API invocations: 3, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}789+00:00 vcenter vpxd 58650 - -  Event [575794] [1-1] [{{.timestamp_iso}}48Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575794] [User {{.Domains}}\Administrator@{{.IPs}} logged in as Go-http-client/1.1]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}812+00:00 vcenter vpxd 58650 - -  Event [575795] [1-1] [{{.timestamp_iso}}466Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575795] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:13 PM, number of API invocations: 3, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}222+00:00 vcenter vpxd 58650 - -  Event [575796] [1-1] [{{.timestamp_iso}}101Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575796] [User {{.Domains}}\Administrator@{{.IPs}} logged in as Go-http-client/1.1]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}646+00:00 vcenter vpxd 58650 - -  Event [575797] [1-1] [{{.timestamp_iso}}975Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575797] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:23 PM, number of API invocations: 3, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}095+00:00 vcenter vpxd 58650 - -  Event [575798] [1-1] [{{.timestamp_iso}}838Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575798] [User {{.Domains}}\Administrator@{{.IPs}} logged in as Go-http-client/1.1]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}403+00:00 vcenter vpxd 58650 - -  Event [575799] [1-1] [{{.timestamp_iso}}793Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575799] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:23 PM, number of API invocations: 3, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}480+00:00 vcenter updatemgr - - -  {{.timestamp_iso}}:001Z 'Activation' 140154046465792 INFO  [activationValidator, 368] Leave Validate. Succeeded for {{.Domains}} on target: {{.Domains}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}155+00:00 vcenter updatemgr - - -  {{.timestamp_iso}}:001Z 'VcIntegrity' 140154046465792 INFO  [vcIntegrity, 1519] Getting IP Address from host name: {{.Domains}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}831+00:00 vcenter vpxd 58650 - -  Event [575800] [1-1] [{{.timestamp_iso}}973Z] [{{.Domains}}] [warning] [] [Home] [575800] [Issue detected on {{.Domains}} in Home: vmsyslog logger {{.IPs}}:514 lost 156959 log messages
---EVENT_DELIMITER---
 ({{.timestamp_iso}} cpu3:2097472)]
---EVENT_DELIMITER---
 ({{.timestamp_iso}} cpu3:2097472)']
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}037+00:00 vcenter vpxd 58650 - -  Event [575802] [1-1] [{{.timestamp_iso}}219Z] [{{.Domains}}] [info] [] [Home] [575802] [Alarm 'Host error' on {{.Domains}} triggered an action]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}651+00:00 vcenter vpxd 58650 - -  Event [575801] [1-1] [{{.timestamp_iso}}457Z] [{{.Domains}}] [error] [] [Home] [575801] [Alarm 'Host error' on {{.Domains}} triggered by event 575800 'Issue detected on {{.Domains}} in Home: vmsyslog logger {{.IPs}}:514 lost 156959 log messages
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}637+00:00 vcenter vpxd 58650 - -  Event [575803] [1-1] [{{.timestamp_iso}}847Z] [{{.Domains}}] [info] [] [Home] [575803] [Alarm 'Host error': an SNMP trap for entity {{.Domains}} was sent]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}710+00:00 vcenter vpxd 58650 - -  Event [575804] [1-1] [{{.timestamp_iso}}441Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575804] [User {{.Domains}}\Administrator@{{.IPs}} logged in as Go-http-client/1.1]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}123+00:00 vcenter vpxd 58650 - -  Event [575805] [1-1] [{{.timestamp_iso}}577Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575805] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:33 PM, number of API invocations: 3, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}799+00:00 vcenter vpxd 58650 - -  Event [575806] [1-1] [{{.timestamp_iso}}05Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575806] [User {{.Domains}}\Administrator@{{.IPs}} logged in as Go-http-client/1.1]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}419+00:00 vcenter vpxd 58650 - -  Event [575807] [1-1] [{{.timestamp_iso}}102Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575807] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:33 PM, number of API invocations: 3, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<15>1 {{.timestamp_iso}}115+00:00 vcenter updatemgr - - -  {{.timestamp_iso}}:671Z 'JobDispatcher' 140154045667072 DEBUG  [JobDispatcher, 415] The number of tasks: 0
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}294+00:00 vcenter vmcad - - -  t@140161560082176: VMCACheckAccessKrb: Authenticated user {{.Emails}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}317+00:00 vcenter updatemgr - - -  {{.timestamp_iso}}:002Z 'Activation' 140154046199552 INFO  [activationValidator, 368] Leave Validate. Succeeded for {{.Domains}} on target: {{.Domains}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}623+00:00 vcenter updatemgr - - -  {{.timestamp_iso}}:002Z 'VcIntegrity' 140154046199552 INFO  [vcIntegrity, 1519] Getting IP Address from host name: {{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}441+00:00 vcenter vmon 2120 - -  Executing service batch op API_HEALTH. IgnoreFail=1, service count=9
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}949+00:00 vcenter vmon 2120 - -  <rhttpproxy-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-rhttpproxy/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}208+00:00 vcenter vmon 2120 - -  <vmware-vpostgres-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vmware-vpostgres -f /dev/shm/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}463+00:00 vcenter vmon 2120 - -  <vapi-endpoint-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vapi-endpoint -u /vapiendpoint/health -t 30
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}632+00:00 vcenter vmon 2120 - -  <vpxd-svcs-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vpxd-svcs -u /invsvc/invsvc-health -t 30
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}298+00:00 vcenter vmon 2120 - -  <vmware-postgres-archiver-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vmware-postgres-archiver -f /dev/shm/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}785+00:00 vcenter vmon 2120 - -  <vpxd-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vpxd -f /etc/vmware-sca/health/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}739+00:00 vcenter vmon 2120 - -  <sps-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n sps -u /sms/HealthStatus -t 30
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}401+00:00 vcenter vmon 2120 - -  <rbd> Skip service health check. State STOPPED, Curr request 0
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}770+00:00 vcenter vmon 2120 - -  <pschealth-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-pschealth/vmon/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}574+00:00 vcenter vmon 2120 - -  Successfully executed service batch operation API_HEALTH.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}639+00:00 vcenter vmon 2120 - -  <analytics> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}344+00:00 vcenter vmon 2120 - -  <eam> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}902+00:00 vcenter vmon 2120 - -  <applmgmt> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}646+00:00 vcenter vmon 2120 - -  <imagebuilder> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}151+00:00 vcenter vmon 2120 - -  <certificatemanagement> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}411+00:00 vcenter vmon 2120 - -  <cis-license> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}839+00:00 vcenter vmon 2120 - -  <cm> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}097+00:00 vcenter vmon 2120 - -  <content-library> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}904+00:00 vcenter vmon 2120 - -  <mbcs> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}152+00:00 vcenter vmon 2120 - -  <netdumper> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}407+00:00 vcenter vmon 2120 - -  <perfcharts> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}676+00:00 vcenter vmon 2120 - -  <pschealth> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}942+00:00 vcenter vmon 2120 - -  <rbd> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}458+00:00 vcenter vmon 2120 - -  <sca> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}201+00:00 vcenter vmon 2120 - -  <rhttpproxy> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}722+00:00 vcenter vmon 2120 - -  <sps> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}986+00:00 vcenter vmon 2120 - -  <statsmonitor> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}246+00:00 vcenter vmon 2120 - -  <topologysvc> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}507+00:00 vcenter vmon 2120 - -  <updatemgr> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}775+00:00 vcenter vmon 2120 - -  <vapi-endpoint> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}032+00:00 vcenter vmon 2120 - -  <vcha> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}295+00:00 vcenter vmon 2120 - -  <vmcam> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}586+00:00 vcenter vmon 2120 - -  <vmonapi> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}860+00:00 vcenter vmon 2120 - -  <vmware-postgres-archiver> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}163+00:00 vcenter vmon 2120 - -  <vmware-vpostgres> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}428+00:00 vcenter vmon 2120 - -  <vpxd> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}689+00:00 vcenter vmon 2120 - -  <vpxd-svcs> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}953+00:00 vcenter vmon 2120 - -  <vsan-dps> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}216+00:00 vcenter vmon 2120 - -  <vsan-health> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}484+00:00 vcenter vmon 2120 - -  <vsm> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}766+00:00 vcenter vmon 2120 - -  <vsphere-client> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}063+00:00 vcenter vmon 2120 - -  <vsphere-ui> Reset fail counters of service.
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}086+00:00 vcenter updatemgr - - -  {{.timestamp_iso}}:000Z 'Activation' 140154047530752 INFO  [activationValidator, 368] Leave Validate. Succeeded for {{.Domains}} on target: {{.Domains}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}018+02:00 host123 vpxd 24962 - - Event [513220451] [1-1] [{{.timestamp_iso}}03Z] [{{.Domains}}] [info] [root] [TEST] [513220451] [User root@{{.IPs}} logged in as VMware-client/6.5.0]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}} esxihost localcli[76345628]: VsanUtil: ClearVsanSystemRefreshCallback: Cleared callback
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}} esxihost localcli[17639576]: VsanIscsiTargetImpl: Calling VitVmkCtlFini()
---EVENT_DELIMITER---
<164>1 {{.timestamp_iso}} esxihost Hostd: warning hostd[10385632] [Originator@1234 sub=VigorStatsProvider(000000f2db3451a0).GuestStats(6) opID=10a46ba-01-01-fb-98a2] SetVigorNotificationTime: Not connected
---EVENT_DELIMITER---
<182>1 {{.timestamp_iso}} esxihost vmkernel: cpu9:88635712 opID=aab3bc23)LVM: 7645: Failed to probe the VMFS header of naa.91230a933843a856715003e83459851:1 due to No filesystem on the device
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Vpxa: info vpxa[76538723] [Originator@1234 sub=vpxLro opID=sps-Main-456456-123-657123-ab-2] [VpxLRO] -- FINISH task-765876
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}} esxihost localcli[17655453]: Log for VMware ESXi version=7.1.3 build=build-3334511 option=Release
---EVENT_DELIMITER---
<167>1 {{.timestamp_iso}} esxihost Rhttpproxy: verbose rhttpproxy[87698735] [Originator@1244 sub=Proxy Req 98665] Resolved endpoint : [N7Vmacore4Http16LocalServiceSpecE:0x000000ab13451a12] _serverNamespace = /vpxa action = Allow _port = 8089
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: info hostd[12345612] [Originator@1244 sub={{.Domains}} opID=5e7abf37-e9-ecdd-ecde user=vpxuser:{{.Domains}}\fancyuser] Dispatch get
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: info hostd[67566312] [Originator@1244 sub={{.Domains}}] VmkVprobSource::Post event: ({{.Domains}}) {
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    key = 161,
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    chainId = -897703048,
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    createdTime = "{{.timestamp_iso}}",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    userName = "",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    host = ({{.Domains}}) {
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->       name = "esxihost",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->       host = '{{.Domains}}:ha-host'
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    },
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    eventTypeId = "{{.Domains}}",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    arguments = ({{.Domains}}) [
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->       ({{.Domains}}) {
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->          key = "1",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->          value = "{{.IPs}}:1234"
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->       }
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    ],
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    objectId = "ha-host",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: -->    objectType = "{{.Domains}}",
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: --> }
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost Hostd: info hostd[16232426] [Originator@6876 sub={{.Domains}}-eventmgr opID=Unknown-000000a1d0e98320] Event 22839946 : NFC operation 'Upload' for path '/var/log/vlf-ts' was initiated from '{{.IPs}}' and completed with status 'Success'
---EVENT_DELIMITER---
<38>1 {{.timestamp_iso}}041+00:00 esxihost sshd 12345 - -  Received disconnect from {{.IPs}} port 12345:11: Bye Bye [preauth]
---EVENT_DELIMITER---
<38>1 {{.timestamp_iso}}338+00:00 esxihost sshd 12345 - -  Disconnected from {{.IPs}} port 12345 [preauth]
---EVENT_DELIMITER---
<38>1 {{.timestamp_iso}}331+00:00 esxihost sshd 12345 - -  Connection closed by {{.IPs}} port 12345 [preauth]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}502+00:00 vsphere vpxd 51038 - -  Event [2606375] [1-1] [{{.timestamp_iso}}573Z] [{{.Domains}}] [info] [vpxa-nfc] [AZ1] [2606375] [NFC operation 'Upload' for path '/var/log/vlf-ts' was initiated from '{{.IPs}}' and completed with status 'Success']
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}+00:00 vsphere vpxd-svcs - - -  {{.timestamp_iso}} [refresh-lotus-locator-task  INFO  {{.Domains}}  opId=] {{.Domains}}("") : {{.Domains}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}+00:00 vsphere vpxd-svcs - - -  {{.timestamp_iso}} [refresh-lotus-locator-task  INFO  {{.Domains}}  opId=] Lotus hostname URL : {{.Domains}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}+00:00 vsphere vpxd-svcs - - -  {{.timestamp_iso}} [refresh-lotus-locator-task  INFO  {{.Domains}}  opId=] {{.Domains}}() in baseDn format : dc=vsphere,dc=local
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}+00:00 vsphere vpxd-svcs - - -  {{.timestamp_iso}} [refresh-lotus-locator-task  INFO  {{.Domains}}  opId=] Successfully refreshed machine account credentials
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}981+00:00 vsphere vmcad - - -  a@12345678901111: VMCACheckAccessKrb: Authenticated user {{.Emails}}
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}748+00:00 vsphere updatemgr - - -  {{.timestamp_iso}}:113Z 'VcIntegrity' 139709665019648 INFO  [vcIntegrity, 1536] Getting IP Address from host name: {{.Domains}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}201+00:00 vsphere dnsmasq 1293 - -  query[A] {{.Domains}} from {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}091+00:00 vsphere dnsmasq 1293 - -  cached {{.Domains}} is {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}676+00:00 vsphere dnsmasq 1293 - -  query[A] {{.Domains}} from {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}139+00:00 vsphere dnsmasq 1293 - -  cached {{.Domains}} is {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}547+00:00 vsphere dnsmasq 1293 - -  query[AAAA] {{.Domains}} from {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}971+00:00 vsphere dnsmasq 1293 - -  forwarded {{.Domains}} to {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}128+00:00 vsphere dnsmasq 1293 - -  forwarded {{.Domains}} to {{.IPs}}
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}296+00:00 vsphere dnsmasq 1293 - -  cached {{.Domains}} is 2a02:cf40::
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}835+00:00 vsphere dnsmasq 1293 - -  reply {{.Domains}} is <CNAME>
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}046+00:00 vsphere vmon 2060 - -  Successfully executed service batch operation API_HEALTH.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}418+00:00 vsphere vmon 2060 - -  <analytics> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}607+00:00 vsphere vmon 2060 - -  <applmgmt> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}773+00:00 vsphere vmon 2060 - -  <certificatemanagement> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}931+00:00 vsphere vmon 2060 - -  <cis-license> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}086+00:00 vsphere vmon 2060 - -  <cm> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}253+00:00 vsphere vmon 2060 - -  <content-library> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}415+00:00 vsphere vmon 2060 - -  <eam> Reset fail counters of service.
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}572+00:00 vsphere vmon 2060 - -  Executing service batch op API_HEALTH. IgnoreFail=1, service count=10
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}558+00:00 vsphere vmon 2060 - -  <vapi-endpoint-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vapi-endpoint -u /vapiendpoint/health -t 30
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}780+00:00 vsphere vmon 2060 - -  <rhttpproxy-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-rhttpproxy/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}950+00:00 vsphere vmon 2060 - -  <vmware-vpostgres-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vmware-vpostgres -f /dev/shm/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}109+00:00 vsphere vmon 2060 - -  <vcha> Skip service health check. State STOPPED, Curr request 0
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}572+00:00 vsphere vmon 2060 - -  Executing service batch op API_HEALTH. IgnoreFail=1, service count=10
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}558+00:00 vsphere vmon 2060 - -  <vapi-endpoint-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vapi-endpoint -u /vapiendpoint/health -t 30
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}780+00:00 vsphere vmon 2060 - -  <rhttpproxy-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-rhttpproxy/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}950+00:00 vsphere vmon 2060 - -  <vmware-vpostgres-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vmware-vpostgres -f /dev/shm/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}109+00:00 vsphere vmon 2060 - -  <vcha> Skip service health check. State STOPPED, Curr request 0
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}660+00:00 vsphere vmon 2060 - -  <vmware-postgres-archiver-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vmware-postgres-archiver -f /dev/shm/{{.Domains}}
---EVENT_DELIMITER---
<13>1 {{.timestamp_iso}}963+00:00 vsphere vmon 2060 - -  <vpxd-svcs-healthcmd> Constructed command: /usr/bin/python /usr/lib/vmware-vmon/{{.Domains}} -n vpxd-svcs -u /invsvc/invsvc-health -t 30
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}342+00:00 vsphere systemd 1 - -  Stopping System Logging Service...
---EVENT_DELIMITER---
<46>1 {{.timestamp_iso}}644+00:00 vsphere rsyslogd - - -  [origin software="rsyslogd" swVersion="8.1910.0" x-pid="34177" x-info="https://{{.Domains}}"] exiting on signal 15.
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}315+00:00 vsphere systemd 1 - -  Stopped System Logging Service.
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}854+00:00 vsphere systemd 1 - -  Starting System Logging Service...
---EVENT_DELIMITER---
<46>1 {{.timestamp_iso}}295+00:00 vsphere rsyslogd - - -  imuxsock: Acquired UNIX socket '/run/systemd/journal/syslog' (fd 3) from systemd.  [v8.1910.0]
---EVENT_DELIMITER---
<30>1 {{.timestamp_iso}}489+00:00 vsphere systemd 1 - -  Started System Logging Service.
---EVENT_DELIMITER---
<46>1 {{.timestamp_iso}}125+00:00 vsphere rsyslogd - - -  [origin software="rsyslogd" swVersion="8.1910.0" x-pid="37973" x-info="https://{{.Domains}}"] start
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost01 Hostd: info hostd[12345678] [Originator@1234 sub={{.Domains}}-eventmgr] Event 12345678 : User demo@{{.IPs}} logged out (login time: Monday, 18 September, 2023 08:59:35 PM, number of API invocations: 0, user agent: VMware-client/6.5.0)
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost01 Hostd: info hostd[12345678] [Originator@1234 sub={{.Domains}}-eventmgr opID=b323ab3] Event 12345678 : User demo@{{.IPs}} logged in as VMware-client/6.5.0
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}377+00:00 vspherehos01 ssoadminserver - - - {{.timestamp_iso}} INFO ssoAdminServer[99:pool-2-thread-3] [OpId=11a126e1-1a1f-1234-b111-a111acde34a8] [{{.Domains}}]  User {Name: vpxd-extension-abcd1234-a1cc-1a23-1a34-012a8fa244ab, Domain: {{.Domains}}} with role 'ConfigurationUser' logged out.
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}466+00:00 vspherehost vpxd-svcs-main - - - {{.timestamp_iso}} [authz-service-1 [] INFO  {{.Domains}}  opId=15678da1-dabc-abcd-1234-98f5c20f9466] Logged in user: "{{.Domains}}\vpxd-extension-bfca1322-a8cc-1234-1abc-defdae5133fa"
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}500+00:00 vspherehost ssoadminserver - - - {{.timestamp_iso}} INFO ssoAdminServer[99:pool-2-thread-2] [OpId=15678da1-dabc-abcd-defa-98f5c20f9466] [{{.Domains}}] User {Name: vpxd-extension-bfca1322-a8cc-1234-1abc-defdae5133fa, Domain: {{.Domains}}} with role 'ConfigurationUser' logged in successfully.
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}655+00:00 vspherehost01 vpxd 6225 - -  Event [162431924] [1-1] [{{.timestamp_iso}}478Z] [{{.Domains}}] [info] [philipp] [] [162431924] [Failed login philipp from {{.IPs}} at 12/29/2022 01:33:33 GMT in SSO]
---EVENT_DELIMITER---
<14>1 {{.timestamp_iso}}354+00:00 vcenter vpxd 58650 - -  Event [575793] [1-1] [{{.timestamp_iso}}346Z] [{{.Domains}}] [info] [{{.Domains}}\Administrator] [] [575793] [User {{.Domains}}\Administrator@{{.IPs}} logged out (login time: Monday, 06 September, 2021 02:40:13 PM, number of API invocations: 75,133, user agent: Go-http-client/1.1)]
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost01 Hostd: info vsansystem[21254123] [vSAN@1234 sub=AccessChecker opId=011a11e2-7123] Shared secret from {{.IPs}} logged in as VMware-client/6.5.0
---EVENT_DELIMITER---
<166>1 {{.timestamp_iso}} esxihost01 Hostd: info vsansystem[21254123] [vSAN@1234 sub=AccessChecker opId=011a11e2-7123] SSL thumbprint logged in as VMware-client/6.5.0 