{"vsphere":{"network":{"accessible":true,"config":{"status":"green"},"id":"network-1","name":"VM Network","status":"green","triggered_alarms":[{"description":"","entity_name":"{{.IPs}}","id":"{{.Domains}}","name":"Network alert","status":"red","triggered_time":"{{.timestamp_iso}}"},{"description":"","entity_name":"{{.IPs}}","id":"{{.Domains_1}}","name":"Network warning","status":"yellow","triggered_time":"{{.timestamp_iso_1}}"}],"type":"Network"}}}