{"Action":"login","Date":"{{.timestamp_iso}}","Details":"user_logged in","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"login","Date":"{{.timestamp_iso}}","Details":"user_logged in","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"login","Date":"{{.timestamp_iso}}","Details":"user_logged in","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"request","Date":"{{.timestamp_iso}}","Details":"API: /api/2.0/fo/activity_log/{{.Domains}}","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"request","Date":"{{.timestamp_iso}}","Details":"API: /api/2.0/fo/activity_log/{{.Domains}}","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"request","Date":"{{.timestamp_iso}}","Details":"API: /api/2.0/fo/activity_log/{{.Domains}}","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"request","Date":"{{.timestamp_iso}}","Details":"API: /api/2.0/fo/activity_log/{{.Domains}}","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"request","Date":"{{.timestamp_iso}}","Details":"API: /api/2.0/fo/activity_log/{{.Domains}}","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"request","Date":"{{.timestamp_iso}}","Details":"API: /api/2.0/fo/activity_log/{{.Domains}}","Module":"auth","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"set","Date":"{{.timestamp_iso}}","Details":"comment=[vvv] for {{.IPs}}","Module":"host_attribute","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"add","Date":"{{.timestamp_iso}}","Details":"{{.IPs}} added to both VM-PC license","Module":"option","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}
---EVENT_DELIMITER---
{"Action":"create","Date":"{{.timestamp_iso}}","Details":"New Network: 'abc'","Module":"network","User IP":"{{.IPs}}","User Name":"saand_rn","User Role":"Manager"}