{"Issuer":"tanium","SourceId":12,"Expiration":"{{.timestamp_iso}}","ActionName":"DeployClientConfigurationandSupport[Mac](universal)","Command":"/bin/sh-c'chmodu+xTaniumCX&&./{{.Domains}}'","Approver":"tanium","Status":"Closed","DistributeOver":"1minutes","PackageName":"ClientConfigurationandSupport[Mac](universal)","Comment":"","StartTime":"{{.timestamp_iso}}","InsertTime":"{{.timestamp_iso}}","ActionId":6058}