{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":3656256,\"inputs\":{\"inputs\":{\"isServiceToken\":true,\"name\":\"Elastic\"}},\"operation_name\":\"AuthenticationTokenCreation\",\"request_ip\":\"{{.IPs}}\",\"request_user_agent\":\"{{.IPs_1}}\",\"tenant_id\":1234,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":1234,\"user_name\":\"{{.Users}}\"}"}
---EVENT_DELIMITER---
{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":3656249,\"inputs\":{\"inputs\":{\"authenticationTokenId\":693}},\"operation_name\":\"AuthenticationTokenDeletion\",\"request_ip\":\"{{.IPs}}\",\"request_user_agent\":\"{{.IPs_1}}\",\"tenant_id\":1234,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":1234,\"user_name\":\"{{.Users}}\"}"}
---EVENT_DELIMITER---
{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":3656239,\"inputs\":null,\"operation_name\":\"Login\",\"request_ip\":\"{{.IPs}}\",\"request_user_agent\":\"{{.IPs_1}}\",\"tenant_id\":1234,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":1234,\"user_name\":\"{{.Users}}\"}"}
---EVENT_DELIMITER---
{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":17008,\"inputs\":{\"inputs\":{\"agents\":[],\"diagramNotes\":[],\"links\":[{\"receiverIdentifier\":\"QWdlbnQtNDU1NA==\",\"sourceIdentifier\":\"QWdlbnQtNDU1MQ==\"}],\"storyId\":193},\"liveEvents\":null},\"operation_name\":\"StoryItemsCreation\",\"request_ip\":\"{{.IPs}}\",\"request_user_agent\":\"{{.IPs_1}}\",\"tenant_id\":1,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":4,\"user_name\":\"{{.Users}}\"}"}
---EVENT_DELIMITER---
{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":18397,\"inputs\":{\"inputs\":{\"agents\":[],\"diagramNotes\":[{\"content\":\"\\u003c-- IOCs end up here in `{root-path}.individual_item`\",\"position\":{\"x\":-1286,\"y\":1389},\"width\":379}],\"links\":[],\"standardLibVersion\":\"9\",\"storyId\":193},\"liveEvents\":null},\"operation_name\":\"StoryItemsCreation\",\"request_ip\":\"{{.IPs_1}}\",\"request_user_agent\":\"{{.IPs}}\",\"tenant_id\":1,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":4,\"user_name\":\"{{.Users}}\"}"}
---EVENT_DELIMITER---
{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":26088,\"inputs\":{\"inputs\":{\"agents\":[{\"disabled\":false,\"name\":\"Concat\",\"options\":\"{\\\"loop\\\":false,\\\"mode\\\":\\\"message_only\\\",\\\"payload\\\":{\\\"data\\\":\\\"This is an automatically generated message from Tines\\\"}}\",\"position\":{\"x\":-285,\"y\":750},\"schedule\":null,\"softDeletedId\":5213,\"timeSavedUnit\":\"minutes\",\"timeSavedValue\":0,\"type\":\"eventTransformation\"}],\"diagramNotes\":[],\"links\":[{\"receiverIdentifier\":\"Q=\",\"sourceIdentifier\":\"QW=\"}],\"storyId\":125},\"liveEvents\":null},\"operation_name\":\"StoryItemsCreation\",\"request_ip\":\"{{.IPs}}\",\"request_user_agent\":\"{{.IPs_1}}\",\"tenant_id\":1,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":7,\"user_name\":\"{{.Users}}\"}"}
---EVENT_DELIMITER---
{"message":"{\"created_at\":\"{{.timestamp_iso}}\",\"id\":41274135,\"inputs\":{\"fieldId\":1688864,\"inputs\":{\"actionIdsToUpdate\":[],\"content\":\"Jac O'All-Trades\",\"dateMode\":\"DATE\",\"defaultValue\":null,\"description\":\"\",\"graphDirection\":\"HORIZONTAL\",\"graphType\":\"LINE\",\"maxCharacters\":null,\"multiSelect\":false,\"name\":\"Heading\",\"options\":[\"Option 1\",\"Option 2\"],\"required\":false,\"storeValueAs\":\"\",\"style\":\"PRIMARY\",\"validationPattern\":null}},\"operation_name\":\"FormFieldUpdate\",\"outputs\":{},\"request_ip\":\"{{.IPs_1}}\",\"request_user_agent\":\"{{.IPs}}\",\"tenant_id\":1111,\"updated_at\":\"{{.timestamp_iso}}\",\"user_email\":\"{{.Emails}}\",\"user_id\":58468,\"user_name\":\"{{.Users}}\"}"}