{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":35910}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":55800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":58200}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":51840}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":53400}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":55080}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":60600}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":156300}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":173940}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":176700}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175620}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172200}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175410}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":174780}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":184260}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172590}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178320}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":179880}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178350}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":173880}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":202890}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":173160}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":181230}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":182250}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":180450}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":174900}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":176910}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":172800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175020}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":182340}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":247820}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":221500}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":208410}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":182160}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":189880}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178310}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":185700}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":225710}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":183420}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":184370}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":188850}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":189020}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":203980}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":180460}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":223280}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178920}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":176830}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":181590}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":190340}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":189690}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":195860}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":184180}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":182820}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":191710}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":179740}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178690}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":185560}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":177910}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178160}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":179810}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":191590}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":195330}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":181060}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":177910}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":180280}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":198880}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":186250}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":179130}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":180430}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175950}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":175680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":185010}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":184640}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":192120}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178930}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":184600}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":177750}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":181570}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":182120}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":176400}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":194860}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":250010}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":243210}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":225080}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":183970}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":209570}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":219720}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":270080}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":203610}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":184440}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178200}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":178200}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":197300}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":236860}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":207970}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":187290}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":181850}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":188830}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":182030}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":203000}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":204630}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":257670}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":207600}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":266280}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":186590}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":213710}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":207450}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":240390}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":257260}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":282430}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":243730}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":332190}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":359130}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":391320}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":375260}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":408000}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":429310}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":357060}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":356090}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":612940}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":390710}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":370580}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":359290}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":394930}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":397450}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":353180}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":379330}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":387210}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":501340}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":512530}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":370190}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":369260}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":361220}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":358450}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":383770}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":472240}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":479030}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":409600}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":419510}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":367840}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":394150}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":400630}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":397340}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":443540}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":425910}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":445200}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":376460}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":393460}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":396070}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":356530}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":289200}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":290610}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":290620}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":264020}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":315020}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":362920}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":374630}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":341770}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":790110}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":286650}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":271080}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":326490}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1963350}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":3757890}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2058720}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1315890}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1486160}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1289680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":493380}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1424420}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1760680}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1471760}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":865040}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1563840}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":692100}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1028840}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1700080}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1497900}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2967080}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1021560}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1093070}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":609100}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1116920}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1018720}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1731185}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2036375}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2296250}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1090235}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1332420}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1399060}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1788635}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1187520}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":3292470}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1198400}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1514760}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1339230}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":689160}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":766790}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":933970}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":703230}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":861190}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1078900}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":719150}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":898010}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":858700}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2025995}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1310290}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1332690}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1124800}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":948470}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1200815}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1049430}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2230270}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2514435}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2833590}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1729550}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1776160}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1878790}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":3377940}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":3107000}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":6050895}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":3218235}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2133620}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":908405}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2423615}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":1955020}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2881585}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2105065}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":2284195}"}
---EVENT_DELIMITER---
{"message":"{\"date\":\"{{.timestamp_iso}}\",\"value\":606305}"}