{"message":{"AssetID":22,"AssetName":"HealthTiger","AssetType":"UNKNOWN","CreateDate":"{{.timestamp_iso}}","DnsName":"{{.Domains}}","DomainName":"{{.Domains_1}}","IPAddress":"{{.IPs}}","LastUpdateDate":"{{.timestamp_iso}}","OperatingSystem":"ExampleOS","WorkgroupID":1}}