{"event":{"original":"{\"AccountDescription\":\"Primary managed account for KittenGrowth system\",\"AccountId\":5,\"AccountName\":\"{{.Domains_1}}\",\"ApplicationDisplayName\":\"AccountingApp\",\"ApplicationID\":123,\"ChangeState\":2,\"DefaultReleaseDuration\":120,\"DomainName\":\"{{.Domains}}\",\"InstanceName\":\"Primary\",\"IsChanging\":false,\"IsISAAccess\":true,\"LastChangeDate\":\"{{.timestamp_iso}}\",\"MaximumReleaseDuration\":525600,\"NextChangeDate\":\"{{.timestamp_iso_1}}\",\"PlatformID\":4,\"PreferredNodeID\":\"2ca45774-d4e0-4b8f-9b52-3f52b78ae2ca\",\"SystemId\":5,\"SystemName\":\"KittenGrowth\",\"UserPrincipalName\":\"{{.Emails}}\"}"}}