{"event":{"original":"{\"ActionType\":\"Add\",\"AuditID\":1,\"CreateDate\":\"{{.timestamp_iso}}\",\"IPAddress\":\"{{.IPs}}\",\"Section\":\"SecretsSafeFolder\",\"UserID\":-1,\"UserName\":\"{{.Emails}}\"}"}}