{"time":"{{.timestamp_iso}}9262Z","systemId":"a0fca5ce-022c-47b1-9735-89943b42f2fa","category":"NetworkSecurityGroupFlowEvent","resourceId":"/SUBSCRIPTIONS/00000000-0000-0000-0000-000000000000/RESOURCEGROUPS/FABRIKAMRG/PROVIDERS/{{.Domains}}/NETWORKSECURITYGROUPS/FABRIAKMVM1-NSG","operationName":"NetworkSecurityGroupFlowEvents","properties":{"Version":2,"flows":[{"rule":"DefaultRule_AllowInternetOutBound","flows":[{"mac":"000D3AF87856","flowTuples":["{{.timestamp_unix_s}},{{.IPs}},{{.IPs}},59932,443,T,O,A,E,1,66,1,66"]}]}]}}