{"log":{"file":{"path":"Pop3"}},"message":"{{.IPs}}"}
---EVENT_DELIMITER---
{"log":{"file":{"path":"Pop3"}},"message":"{{.IPs}}"}
---EVENT_DELIMITER---
{"log":{"file":{"path":"Pop3"}},"message":"{{.IPs}}"}
---EVENT_DELIMITER---
{"log":{"file":{"path":"Imap4"}},"message":"{{.IPs}}"}
---EVENT_DELIMITER---
{"log":{"file":{"path":"Imap4"}},"message":"{{.IPs}}"}
---EVENT_DELIMITER---
{"log":{"file":{"path":"Imap4"}},"message":"{{.IPs}}"}