{"message":{"category":"NetworkAssetsCategory","criticality":"MediumCriticality","directIps":{"nodes":["{{.IPs}}"]},"directMacs":{"nodes":[]},"firstSeen":"{{.timestamp_iso_3}}","hidden":false,"id":"c2fb6b1e-f015-49b4-a247-6576fc648a6e","ips":{"nodes":["{{.IPs}}"]},"lastHit":"{{.timestamp_iso_4}}","lastSeen":"{{.timestamp_iso}}","lastSnapshot":null,"lastUpdate":"{{.timestamp_iso_2}}","macs":{"nodes":["f8:75:a4:f5:c6:37"]},"name":"OT Device #966","purdueLevel":"Level2","risk":{"totalRisk":"35.40130597317059"},"runStatus":"Unknown","runStatusTime":"{{.timestamp_iso_1}}","segments":{"nodes":[{"archived":false,"id":"531c4526-7ee7-4b95-abc0-f36867efcd38","key":"AG1-633","lastModifiedBy":null,"lastModifiedDate":null,"name":"OtDevice / 172.26.23.X","policies":{"nodes":[]},"queries":{"nodes":[]},"system":true,"type":"Filter"}]},"superType":"OtDevice","type":"OtDevice"}}