{"json":{"event":{"alternate_mac_address":"be:aa:e5:54:94:db","building":"1S8NPV","department":"XDO4C5","device_name":"VPNYC","email_address":"{{.Emails}}","ip_address":"{{.IPs}}","jss_id":"{{.timestamp_unix_s}}","mac_address":"be:aa:e5:54:94:db","management_id":"6319330669","model":"LJ68RT","os_build":"26.6913","os_version":"92.5786","phone":"2183546","position":"B64JIO","real_name":"CPK79","reported_ip_address":"{{.IPs}}","room":"HQC6S9","serial_number":"7967177","udid":"7265694772","user_directory_id":"{{.Users}}","username":"{{.Users_1}}"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":"8131946016","name":"PU17M","webhook_event":"ComputerAdded"}}}
---EVENT_DELIMITER---
{"json":{"event":{"computer":{"alternate_mac_address":"be:aa:e5:54:94:db","building":"MHPMPN","department":"K9DZ67","device_name":"YMXA8","email_address":"{{.Emails}}","ip_address":"{{.IPs}}","jss_id":"6046732182","mac_address":"be:aa:e5:54:94:db","management_id":"3187810017","model":"4K911Y","os_build":"90.0399","os_version":"87.2388","phone":"2315307","position":"4XZ88J","real_name":"HQ85F","reported_ip_address":"{{.IPs}}","room":"U5SVJY","serial_number":"2273355","udid":"9595866401","user_directory_id":"{{.Users_1}}","username":"{{.Users}}"},"trigger":"JWY2E0","username":"{{.Users}}"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":"{{.timestamp_unix_s}}","name":"H9CZZ","webhook_event":"ComputerCheckIn"}}}
---EVENT_DELIMITER---
{"json":{"event":{"alternate_mac_address":"be:aa:e5:54:94:db","building":"S51UI3","department":"7MDD88","device_name":"9UQCW","email_address":"{{.Emails}}","ip_address":"{{.IPs}}","jss_id":823,"mac_address":"be:aa:e5:54:94:db","management_id":"3929754883","model":"BSIDFN","os_build":"16.9824","os_version":"57.4997","phone":"4810259","position":"LR4ARY","real_name":"UES54","reported_ip_address":"{{.IPs}}","room":"CX4BQN","serial_number":"0425503","udid":"2137005975","user_directory_id":"{{.Users}}","username":"{{.Users_1}}"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":729,"name":"4O4YG","webhook_event":"ComputerInventoryCompleted"}}}
---EVENT_DELIMITER---
{"json":{"event":{"computer":{"alternate_mac_address":"be:aa:e5:54:94:db","building":"T3C7SK","department":"KFY4B2","device_name":"2ECRW","email_address":"{{.Emails}}","ip_address":"{{.IPs}}","jss_id":908,"mac_address":"be:aa:e5:54:94:db","management_id":"9838103328","model":"VJG9VJ","os_build":"37.3734","os_version":"17.1406","phone":"0181091","position":"7F1ZWN","real_name":"2ENJI","reported_ip_address":"{{.IPs}}","room":"MPQVYQ","serial_number":"7034689","udid":"{{.timestamp_unix_s}}","user_directory_id":"{{.Users}}","username":"{{.Users_1}}"},"deployed_version":"XDF9CE","event_actions":{"action":"MCNFPQ"},"patch_policy_id":239,"patch_policy_name":"XDYZW","software_title_id":75,"successful":true},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":349,"name":"KVG43","webhook_event":"ComputerPatchPolicyCompleted"}}}
---EVENT_DELIMITER---
{"json":{"event":{"computer":{"alternate_mac_address":"be:aa:e5:54:94:db","building":"B56FRD","department":"E96W2U","device_name":"GBTN2","email_address":"{{.Emails}}","ip_address":"{{.IPs}}","jss_id":667,"mac_address":"be:aa:e5:54:94:db","management_id":"4247833287","model":"QHUAIT","os_build":"12.9706","os_version":"37.5296","phone":"5845522","position":"D2DO7Q","real_name":"TOKUG","reported_ip_address":"{{.IPs}}","room":"4HF1TE","serial_number":"9281431","udid":"5836625775","user_directory_id":"{{.Users}}","username":"{{.Users_1}}"},"policy_id":217,"successful":true},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":228,"name":"9DMZT","webhook_event":"ComputerPolicyFinished"}}}
---EVENT_DELIMITER---
{"json":{"event":{"alternate_mac_address":"be:aa:e5:54:94:db","building":"GHVCLE","department":"MQADBP","device_name":"BC6J0","email_address":"{{.Emails}}","ip_address":"{{.IPs}}","jss_id":791,"mac_address":"be:aa:e5:54:94:db","management_id":"6537981568","model":"3LJRY6","os_build":"64.5827","os_version":"27.2234","phone":"9070682","position":"6BGB8L","real_name":"PDAE3","reported_ip_address":"{{.IPs}}","room":"NDTEOV","serial_number":"8990004","udid":"5628491469","user_directory_id":"{{.Users}}","username":"{{.Users_1}}"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":267,"name":"SD8KA","webhook_event":"ComputerPushCapabilityChanged"}}}
---EVENT_DELIMITER---
{"json":{"event":{"asset_tag":"O761TF","description":"3Y4W5X","device_assigned_date":85,"device_enrollment_program_instance_id":801,"model":"96F3HG","serial_number":"3399666"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":204,"name":"XFLRX","webhook_event":"DeviceAddedToDEP"}}}
---EVENT_DELIMITER---
{"json":{"event":{"host_address":"{{.Hosts}}","institution":"HNVHCL","is_cluster_master":true,"jss_url":"27RTB3","web_application_path":"5LYF6O"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":789,"name":"AYW4V","webhook_event":"JSSShutdown"}}}
---EVENT_DELIMITER---
{"json":{"event":{"host_address":"{{.Hosts}}","institution":"LXBGFP","is_cluster_master":true,"jss_url":"JZZX0Q","web_application_path":"4XECBW"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":849,"name":"ZIV8M","webhook_event":"JSSStartup"}}}
---EVENT_DELIMITER---
{"json":{"event":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"J46B0","icci_id":"{{.timestamp_unix_s}}","imei":"N0PL1U","ip_address":"{{.IPs}}","jss_id":606,"management_id":"6323695682","model":"Z0LPTZ","model_display":"EZL7M9","os_build":"17.2971","os_version":"04.8092","product":"DFK8YE","room":"BNKI5E","serial_number":"1957555","udid":"7396164549","user_directory_id":"{{.Users}}","username":"{{.Users_1}}","version":"1QQQPW","wifi_mac_address":"be:aa:e5:54:94:db"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":494,"name":"1WW7S","webhook_event":"MobileDeviceCheckIn"}}}
---EVENT_DELIMITER---
{"json":{"event":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"XZ7EL","icci_id":"9308678557","imei":"L1A9JO","ip_address":"{{.IPs}}","jss_id":362,"management_id":"9121518973","model":"3VCG2Y","model_display":"OLQRN8","os_build":"51.3988","os_version":"99.4028","product":"Z1GO9Q","room":"5G0R6E","serial_number":"6909579","udid":"2090780867","user_directory_id":"{{.Users}}","username":"{{.Users_1}}","version":"0SSNEI","wifi_mac_address":"be:aa:e5:54:94:db"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":333,"name":"FGYMW","webhook_event":"MobileDeviceCommandCompleted"}}}
---EVENT_DELIMITER---
{"json":{"event":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"KCI8B","icci_id":"6332748370","imei":"KAELC1","ip_address":"{{.IPs}}","jss_id":457,"management_id":"0776570347","model":"0LI5MN","model_display":"M08J0E","os_build":"27.4688","os_version":"85.9454","product":"8R4Q20","room":"UFSJFQ","serial_number":"5629235","udid":"7008989885","user_directory_id":"{{.Users_1}}","username":"{{.Users}}","version":"5ZE96U","wifi_mac_address":"be:aa:e5:54:94:db"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":1022,"name":"65SZ2","webhook_event":"MobileDeviceEnrolled"}}}
---EVENT_DELIMITER---
{"json":{"event":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"U0GAT","icci_id":"{{.timestamp_unix_s}}","imei":"P4D2IS","ip_address":"{{.IPs}}","jss_id":673,"management_id":"6679969328","model":"CLKF7W","model_display":"ALJRGG","os_build":"89.5146","os_version":"67.8497","product":"QY4BVT","room":"2BHL5Q","serial_number":"3468652","udid":"5516786595","user_directory_id":"{{.Users_1}}","username":"{{.Users}}","version":"O7F2FM","wifi_mac_address":"be:aa:e5:54:94:db"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":911,"name":"N7J0R","webhook_event":"MobileDeviceInventoryCompleted"}}}
---EVENT_DELIMITER---
{"json":{"event":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"NHYDJ","icci_id":"6190281171","imei":"TB3WE6","ip_address":"{{.IPs}}","jss_id":749,"management_id":"{{.timestamp_unix_s}}","model":"QI7BID","model_display":"H8UT68","os_build":"41.9185","os_version":"11.3415","product":"ST3IBT","room":"4Y6Q3Z","serial_number":"5488168","udid":"0881225164","user_directory_id":"{{.Users}}","username":"{{.Users_1}}","version":"K4M1I2","wifi_mac_address":"be:aa:e5:54:94:db"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":362,"name":"HNCUT","webhook_event":"MobileDevicePushSent"}}}
---EVENT_DELIMITER---
{"json":{"event":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"NLFBN","icci_id":"9224352581","imei":"3VCFIL","ip_address":"{{.IPs}}","jss_id":770,"management_id":"4731686831","model":"R8IHXV","model_display":"L2BF3S","os_build":"65.5172","os_version":"34.8068","product":"ZEISZB","room":"NIIH3N","serial_number":"1679902","udid":"8657879161","user_directory_id":"{{.Users_1}}","username":"{{.Users}}","version":"ECGLA1","wifi_mac_address":"be:aa:e5:54:94:db"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":267,"name":"QDU7E","webhook_event":"MobileDeviceUnEnrolled"}}}
---EVENT_DELIMITER---
{"json":{"event":{"jss_id":128,"last_update":1725443872001,"latest_version":"W97C0H","name":"ENLOV","report_urls":"BMH3D0"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":521,"name":"JCXGC","webhook_event":"PatchSoftwareTitleUpdated"}}}
---EVENT_DELIMITER---
{"json":{"event":{"management_id":431,"type":"TB7PYE"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":268,"name":"XSYQ7","webhook_event":"PushSent"}}}
---EVENT_DELIMITER---
{"json":{"event":{"authorized_username":"{{.Users}}","object_id":380,"object_name":"QOLQ7","object_type_name":"I1YH0","operation_successful":true,"rest_api_operation_type":"ZSE6D5"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":85,"name":"JQ04K","webhook_event":"RestAPIOperation"}}}
---EVENT_DELIMITER---
{"json":{"event":{"payload_identifier":"8451FK","payload_types":"GE509G","scep_server_url":"E80TKQ","target_device":{"bluetooth_mac_address":"be:aa:e5:54:94:db","device_name":"KND08","icci_id":"7579876878","imei":"MWK5EF","model":"VE4B90","model_display":"D2B3KW","os_build":"46.5879","os_version":"12.7226","product":"H45KB3","room":"DL6RT3","serial_number":"3213115","udid":"{{.timestamp_unix_s}}","user_directory_id":"{{.Users}}","version":"CWPIT6","wifi_mac_address":"be:aa:e5:54:94:db"},"target_user":{"building_id":728,"department_id":713,"dn":"M6H7YZ","email":"{{.Emails}}","password":"GKKUY0","phone":"1299437","position":"U857MI","realname":"6XHDL","room":"AVQJ6L","uid":"9017832667","username":"{{.Users_1}}","uuid":"5567062928"}},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":720,"name":"W2EIM","webhook_event":"SCEPChallenge"}}}
---EVENT_DELIMITER---
{"json":{"event":{"computer":true,"group_added_devices":"METC3M","group_added_devices_ids":"ANPV60","group_removed_devices":"3U4YCS","group_removed_devices_ids":"Z2Q3SG","jssid":"5415838551","name":"QXM5Z","smart_group":"O3DM4N"},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":"9300670614","name":"6T07K","webhook_event":"SmartGroupComputerMembershipChange"}}}
---EVENT_DELIMITER---
{"json":{"event":{"computer":true,"group_added_devices":"V39IW7","group_added_devices_ids":"2KLHPI","group_removed_devices":"Y0TX4O","group_removed_devices_ids":"GZXE64","jssid":350,"name":"RI1UA","smart_group":true},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":845,"name":"54BYD","webhook_event":"SmartGroupMobileDeviceMembershipChange"}}}
---EVENT_DELIMITER---
{"json":{"event":{"group_added_user_ids":"{{.Users_1}}","group_removed_user_ids":"{{.Users}}","jssid":555,"name":"QGDE5","smart_group":true},"webhook":{"event_timestamp":"{{.timestamp_unix_ms}}","id":384,"name":"6304G","webhook_event":"SmartGroupUserMembershipChange"}}}