{"sharepoint_site_usage_storage":"{\"Report Date\":\"2024-11-23\",\"Report Period\":\"7\",\"Report Refresh Date\":\"2024-11-29\",\"Site Type\":\"All\",\"Storage Used (Byte)\":\"{{.timestamp_unix_s}}\"}"}