{"sharepoint_site_usage_detail":"{\"Active File Count\":\"0\",\"File Count\":\"8\",\"Is Deleted\":\"False\",\"Last Activity Date\":\"2025-03-17\",\"Owner Display Name\":\"U.S. Sales Owners\",\"Owner Principal Name\":\"{{.Emails}}\",\"Page View Count\":\"0\",\"Report Period\":\"7\",\"Report Refresh Date\":\"2025-06-22\",\"Root Web Template\":\"Group\",\"Site Id\":\"15332334-3c47-45330-b140-349c956129e2e\",\"Site URL\":\"\",\"Storage Allocated (Byte)\":\"27487790694400\",\"Storage Used (Byte)\":\"6370739\",\"Visited Page Count\":\"0\"}"}