{"level":"WARN","loggerName":"{{.Domains}}","timeMillis":{{.timestamp_unix_ms}},"thread":"[pipeline-with-persisted-queue]>worker5","logEvent":{"message":"event processing time","plugin_params":{"every":10,"time":1,"id":"e24d45cc4f3bb9981356480856120ed5f68127abbc3af7f47e7bca32460e5019"},"took_in_nanos":15000,"took_in_millis":0,"event":"{\"hostname\":\"66b70fb1a96b\",\"sequence\":430370,\"message\":\"Hello world!\",\"@version\":\"1\",\"@timestamp\":\"{{.timestamp_iso}}073600Z\",\"thread_number\":0}"}}
---EVENT_DELIMITER---
[{{.timestamp_iso}},767][WARN ][{{.Domains}}] event processing time {:plugin_params=>{"every"=>10, "time"=>1, "id"=>"e24d45cc4f3bb9981356480856120ed5f68127abbc3af7f47e7bca32460e5019"}, :took_in_nanos=>10477, :took_in_millis=>0, :event=>"{\"hostname\":\"4f8082baaffe\",\"thread_number\":0,\"message\":\"Hello world!\",\"sequence\":16207,\"@timestamp\":\"{{.timestamp_iso}}789316Z\",\"@version\":\"1\"}"}
---EVENT_DELIMITER---
[{{.timestamp_iso}},767][WARN ][{{.Domains}}] event processing time {:plugin_params=>{"every"=>10, "time"=>1, "id"=>"e24d45cc4f3bb9981356480856120ed5f68127abbc3af7f47e7bca32460e5019"}, :took_in_nanos=>9171, :took_in_millis=>0, :event=>"{\"hostname\":\"4f8082baaffe\",\"thread_number\":0,\"message\":\"Hello world!\",\"sequence\":16208,\"@timestamp\":\"{{.timestamp_iso}}011465Z\",\"@version\":\"1\"}"}
---EVENT_DELIMITER---
[{{.timestamp_iso}},790][WARN ][{{.Domains}}] event processing time {:plugin_params=>{"every"=>10, "time"=>1, "id"=>"e24d45cc4f3bb9981356480856120ed5f68127abbc3af7f47e7bca32460e5019"}, :took_in_nanos=>{{.timestamp_unix_s}}, :took_in_millis=>1000, :event=>"{\"hostname\":\"4f8082baaffe\",\"thread_number\":0,\"message\":\"Hello world!\",\"sequence\":15999,\"@timestamp\":\"{{.timestamp_iso}}458954Z\",\"@version\":\"1\"}"}