<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Syslog Settings Changed - User <{{.Emails}}> Syslogging setting updated  changing the host from <localhost> to <{{.IPs}}> changing the port fr	{{.IPs}}	23/01 09:49:10.894	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Password Fetched - User <{{.Emails}}> fetched the password for <TOP/SECRET/PASSWORD> - test	{{.IPs}}	23/01 11:32:57.857	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - Backup Restore Service -  - Success - Backup Occurred - User <Backup Restore Service> backing up database to <C:\ProgramData\Pleasant Solutions\Password Server\Backups\Backup	{{.IPs}}	23/01 12:20:07.802	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Session Log On - User <{{.Emails}}> logged on	{{.IPs}}	23/01 12:37:37.346
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Entry Updated - User <{{.Emails}}> updated entry <TOP/SECRET/PASSWORD> changing the password	{{.IPs}}	23/01 12:38:07.629	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Identity Verified - User <{{.Emails}}> verified via ApplicationBasicOAuth	{{.IPs}}	23/01 13:43:47.422	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Error - Identity Not Verified - User <{{.Emails}}> failed to verify themselves	{{.IPs}}	23/01 13:47:25.593	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Error - Sign-in Failed - User <{{.Emails}}> sign-in denied	{{.IPs}}	23/01 13:47:25.641	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Entry Created - User <{{.Emails}}> created entry <TOP/SECRET/PASSWORD> as a duplicate	{{.IPs}}	23/01 14:05:54.404	
---EVENT_DELIMITER---
<134>{{.timestamp_syslog}} SRV-PPS-001 Pleasant Password Server:{{.IPs}} - {{.Emails}} -  - Success - Entry Duplicated - User <{{.Emails}}> duplicated entry <TOP/SECRET/PASSWORD>	{{.IPs}}	23/01 14:05:54.450	