{"last_updated":{{.timestamp_unix_s}},"uuid":"abcdabcd-1234-1234-1234-3abababcdcd3","priority":43,"priority_level":"medium","hostname":"example-vsensor","ip_address":"{{.IPs}}","message":"There have been no Advanced Search hits for this instance seen since Sun 18 April 2021 13:20:23 (UTC). If this is not expected behaviour, please open a ticket using the following link or get in touch with your Cyber Technology Specialist. https://{{.Domains}}/test","name":"advanced_search","acknowledge_timeout":null,"alert_name":"Advanced Search","child_id":1,"last_updated_status":{{.timestamp_unix_s}},"status":"active"}
---EVENT_DELIMITER---
{"hostname":"local-abc","ip_address":"{{.IPs}}","child_id":null,"name":"probe_down-0","priority":98,"priority_level":"critical","alert_name":"Probe Down","status":"Active","message":"The probe 1/{{.IPs}} has lost connection to the Master instance. Please ensure HTTPS bidirectional connectivity exists between the Master and the Probe.\n\nIf you have any issues, please open a ticket using the following link. https://{{.Domains}}/test","last_updated":{{.timestamp_unix_s}}.556194,"last_updated_status":{{.timestamp_unix_s}}.556194,"acknowledge_timeout":null,"uuid":"abcd1234-1234-1234-1234-3abababcdcd3","url":"https://{{.Domains}}/test?value=abcd1234-1234-1234-1234-3abababcdcd3"}