{"content":"","count":1,"created":"{{.timestamp_iso}}","description":"","expiration":null,"id":3735598369,"indicator":"bd88aa59f50df195321e185fb5aa00e00a54fd79d94d2459191b7e5d709b8128","is_active":1,"prefetch_pulse_ids":false,"pulse_raw":"{\"adversary\":\"\",\"author_name\":\"OctoSeek\",\"created\":\"{{.timestamp_iso}}000\",\"description\":\"Malware\",\"id\":\"64d31e8a5133613a90976b3f\",\"modified\":\"{{.timestamp_iso}}000\",\"more_indicators\":false,\"name\":\"{{.IPs}}\",\"public\":1,\"revision\":1,\"tlp\":\"green\"}","role":null,"t":0,"t2":0.15980958938598633,"t3":0.08352351188659668,"title":"","type":"FileHash-SHA256"}
---EVENT_DELIMITER---
{"content":"","count":1,"created":"{{.timestamp_iso}}","description":"","expiration":null,"id":3735598370,"indicator":"{{.Domains}}","is_active":1,"prefetch_pulse_ids":false,"pulse_raw":"{\"adversary\":\"\",\"author_name\":\"OctoSeek\",\"created\":\"{{.timestamp_iso}}000\",\"description\":\"Malware\",\"id\":\"64d31e8a5133613a90976b3f\",\"modified\":\"{{.timestamp_iso}}000\",\"more_indicators\":false,\"name\":\"{{.IPs}}\",\"public\":1,\"revision\":1,\"tlp\":\"green\"}","role":null,"t":0,"t2":0.15980958938598633,"t3":0.08352351188659668,"title":"","type":"domain"}
---EVENT_DELIMITER---
{"content":"","count":1,"created":"{{.timestamp_iso}}","description":"","expiration":"{{.timestamp_iso}}","id":3450933144,"indicator":"{{.IPs}}","is_active":1,"prefetch_pulse_ids":false,"pulse_raw":"{\"adversary\":\"\",\"author_name\":\"OctoSeek\",\"created\":\"{{.timestamp_iso}}000\",\"description\":\"Malware\",\"id\":\"64d31e8a5133613a90976b3f\",\"modified\":\"{{.timestamp_iso}}000\",\"more_indicators\":false,\"name\":\"{{.IPs}}\",\"public\":1,\"revision\":1,\"tlp\":\"green\"}","role":"","t":0,"t2":0.15980958938598633,"t3":0.08352351188659668,"title":"","type":"IPv4"}
---EVENT_DELIMITER---
{"content":"","count":1,"created":"{{.timestamp_iso}}","description":"","expiration":null,"id":3735598395,"indicator":"https://{{.Domains}}/","is_active":1,"prefetch_pulse_ids":false,"pulse_raw":"{\"adversary\":\"\",\"author_name\":\"OctoSeek\",\"created\":\"{{.timestamp_iso}}000\",\"description\":\"Malware\",\"id\":\"64d31e8a5133613a90976b3f\",\"modified\":\"{{.timestamp_iso}}000\",\"more_indicators\":false,\"name\":\"{{.IPs}}\",\"public\":1,\"revision\":1,\"tlp\":\"green\"}","role":null,"t":0,"t2":0.15980958938598633,"t3":0.08352351188659668,"title":"","type":"URL"}
---EVENT_DELIMITER---
{"content":"","count":1,"created":"{{.timestamp_iso}}","description":"","expiration":null,"id":3735598410,"indicator":"{{.Domains}}","is_active":1,"prefetch_pulse_ids":false,"pulse_raw":"{\"adversary\":\"\",\"author_name\":\"OctoSeek\",\"created\":\"{{.timestamp_iso}}000\",\"description\":\"Malware\",\"id\":\"64d31e8a5133613a90976b3f\",\"modified\":\"{{.timestamp_iso}}000\",\"more_indicators\":false,\"name\":\"{{.IPs}}\",\"public\":1,\"revision\":1,\"tlp\":\"green\"}","role":null,"t":0,"t2":0.15980958938598633,"t3":0.08352351188659668,"title":"","type":"hostname"}
---EVENT_DELIMITER---
{"content":"","count":1,"created":"{{.timestamp_iso}}","description":"","expiration":null,"id":3735598429,"indicator":"https://{{.Domains}}/{{.Domains}}","is_active":1,"prefetch_pulse_ids":false,"pulse_raw":"{\"adversary\":\"\",\"attack_ids\":[],\"author_name\":\"OctoSeek\",\"created\":\"{{.timestamp_iso}}000\",\"description\":\"Malware\",\"extract_source\":[],\"id\":\"64d31e8a5133613a90976b3f\",\"industries\":[],\"malware_families\":[],\"modified\":\"{{.timestamp_iso}}000\",\"more_indicators\":false,\"name\":\"{{.IPs}}\",\"public\":1,\"references\":[],\"revision\":1,\"tags\":[],\"targeted_countries\":[],\"tlp\":\"green\"}","role":null,"t":0,"t2":0.10617876052856445,"t3":0.11646890640258789,"title":"","type":"URL"}