{"cef":{"device":{"event_class_id":"10004","product":"Secret Server","vendor":"Thycotic Software","version":"11.3.000001"},"extensions":{"deviceCustomString3":"Admin User","deviceCustomString3Label":"Folder","deviceCustomString4":"Unlimited Administrator","deviceCustomString4Label":"suser Display Name","deviceReceiptTime":"{{.timestamp_iso}}","fileId":"12","fileType":"Secret","filename":"Admin User Personal Admin Account - example\\adminuser","message":"{{.Domains}}","sourceAddress":"{{.IPs}}","sourceUserId":"{{.Users}}","sourceUserName":"{{.Domains_1}}"},"name":"SECRET - VIEW","severity":"2","version":"0"},"event":{"original":"{{.IPs_1}}"},"tags":["preserve_original_event"]}