{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"","searchReason":"","description":"Message Tracking Search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"[Route : outbound]","searchReason":"","description":"Message Tracking Search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"<{{.Emails}}>","searchReason":"","description":"Message Tracking Search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"1b471db32c0875e2ec5729e7166f10cec038f47894e88021352ca241782b1bc0 [User : {{.Emails}}]","searchReason":"","description":"Threat Remediation search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"pete","searchReason":"","description":"Audit [Page 1] - Depth 100"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"","searchReason":"","description":"Message Tracking Search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"","searchReason":"","description":"Message Tracking Search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"<{{.Emails}}>","searchReason":"sample search","description":"Message Tracking Search"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"67311002-{{.timestamp_unix_ms}}@{{.Domains}}","searchReason":"","description":"Message Tracking Search","searchPath":"/foo/bar"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"{{.Domains}}","searchReason":"","description":"Audit [Page 1] - Depth 100"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","emailAddr":"{{.Emails}}","source":"archive","searchText":"{{.Domains}}","searchReason":"","description":"Audit [Page 1] - Depth 100"}
---EVENT_DELIMITER---
{"createTime":"{{.timestamp_iso}}+0000","description":"Message Tracking Search","emailAddr":"\u003c\u003e","searchReason":"","searchText":"[User : {{.Emails}}]","source":"archive"}