{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"notification","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"notification","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"notification","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"notification","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Content Inspection - Watermark","action":"notification","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","subject":"Undelivered Mail Returned to Sender","eventTime":"{{.timestamp_iso}}+0700","route":"inbound","policy":"Content Inspection - Watermark","action":"notification","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"{{.Emails}}","recipientAddress":"{{.Emails}}","subject":"RE","eventTime":"{{.timestamp_iso}}+0000","route":"outbound","policy":"Confidential","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"{{.Emails}}","recipientAddress":"{{.Emails}}","subject":"Re","eventTime":"{{.timestamp_iso}}+0000","route":"outbound","policy":"Confidential","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"{{.Emails}}","recipientAddress":"{{.Emails}}","subject":"FIRE DRILL","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Confidential","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"{{.Emails}}","recipientAddress":"{{.Emails}}","subject":"New {{.Domains}} Coming Soon! - CERA Alert","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Confidential","action":"hold","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"senderAddress":"{{.Emails}}","recipientAddress":"{{.Emails}}","subject":"New {{.Domains}} Coming Soon! - CERA Alert","eventTime":"{{.timestamp_iso}}+0000","route":"inbound","policy":"Confidential","action":"block","messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"meta":{"status":200,"pagination":{"pageSize":10,"totalCount":519,"next":"nextToken"}},"data":[],"fail":[]}