{"userEmailAddress": "{{.Emails}}", "fromUserEmailAddress": "{{.Emails}}", "url": "https://{{.Domains}}/?qs=5c47c91aeb44fac857370c26ddf09c3f484431e1ccfa636fc64e26e40dd87efdb43d4deeeab8c2e727ebfa079e8cf1404c095c511152e4b09e7d00bf8377f32d", "ttpDefinition": "Inbound URL 'Aggressive'", "subject": "Today only: Save $100 on Tineco Pure One S12 smart cordless stick vacuum, plus more.", "action": "allow", "adminOverride": "N/A", "userOverride": "None", "scanResult": "clean", "category": "Business", "sendingIp": "{{.IPs}}", "userAwarenessAction": "Continue", "date": "{{.timestamp_iso}}+0000", "actions": "Allow", "route": "inbound", "creationMethod": "User Click", "emailPartsDescription": [ "Body" ], "messageId": "<{{.Emails}}>" }
---EVENT_DELIMITER---
{"userEmailAddress":"{{.Emails}}","fromUserEmailAddress":"{{.Emails}}","url":"https:\/\/{{.Domains}}\/browse\/?locale=en_US&topCategory=all-deals&p=14&utm_source=newsletter_im&utm_medium=email&t_division=boston&date=20211016&uu=1bea09ca-8a29-11e9-b7f7-0242ac120002&CID=US&tx=0&s=body&c=banner&d=dynamic-banner-4&utm_campaign=194d1bb8-dc74-4bed-b470-0154e934bfb3_0_20211016_treatment0","ttpDefinition":"Inbound URL 'Aggressive'","subject":"Jump Pass + Mega Sale","action":"allow","adminOverride":"N\/A","userOverride":"None","scanResult":"clean","category":"Business","sendingIp":"{{.IPs}}","userAwarenessAction":"Continue","date":"{{.timestamp_iso}}+0000","actions":"Allow","route":"inbound","creationMethod":"User Click","emailPartsDescription":["Body"],"messageId":"<803962655.28921622.{{.timestamp_unix_ms}}{{.Emails}}1>"}
---EVENT_DELIMITER---
{"userEmailAddress":"{{.Emails}}","fromUserEmailAddress":"{{.Emails}}","url":"https:\/\/{{.Domains}}\/how-can-i-contact-customer-service\/ch-2244","ttpDefinition":"Inbound URL 'Aggressive'","subject":"25% Off Tees to Give During Early Gifting Sale","action":"allow","adminOverride":"N\/A","userOverride":"None","scanResult":"clean","category":"Fashion & Beauty","sendingIp":"{{.IPs}}","userAwarenessAction":"Continue","date":"{{.timestamp_iso}}+0000","actions":"Allow","route":"inbound","creationMethod":"User Click","emailPartsDescription":["Body"],"messageId":"<{{.Emails}}>"}
---EVENT_DELIMITER---
{"meta":{"status":200,"pagination":{"pageSize":0,"totalCount":0,"next":"next"}},"data":[],"fail":[]}
---EVENT_DELIMITER---
{"action":"warn","actions":"None","adminOverride":"N/A","category":"Dangerous file extension","creationMethod":"Entry Scan","date":"{{.timestamp_iso}}+0000","emailPartsDescription":["Body"],"fromUserEmailAddress":"{{.Emails}}","messageId":"\\u003eedfg345pf45={{.Emails}}\\u003e","route":"internal","scanResult":"malicious","sendingIp":"Internal IP","subject":"Re: totally not a scam email","ttpDefinition":"Default Internal URL Protect Definition","url":"https://{{.Domains}}/","userAwarenessAction":"NA","userEmailAddress":"{{.Emails}}","userOverride":"None"}
---EVENT_DELIMITER---
{"userEmailAddress":"{{.Emails}}","fromUserEmailAddress":"{{.Emails}}","url":"http://{{.Domains}}/corp/pressroom/releases/2002/ene/{{.Domains}}","ttpDefinition":"Default Internal URL Protect Definition","subject":"Management Changes","action":"warn","adminOverride":"N/A","userOverride":"None","scanResult":"malicious","category":"Compromised","sendingIp":"Internal IP","userAwarenessAction":"N/A","date":"{{.timestamp_iso}}+0000","actions":"None","route":"internal","creationMethod":"Entry Scan","emailPartsDescription":["Body"],"messageId":"<{{.Emails}}>","tagMap":{"UrlReputationScan":{"Status":["CustomerAll","VerdictBlock"],"Type":["Compromised"],"UrlBlock":["ORIGINAL:http://{{.Domains}}/corp/pressroom/releases/2002/ene/{{.Domains}} (Blocked as COMPROMISED)"],"Url":["http://{{.Domains}}/corp/pressroom/releases/2002/ene/{{.Domains}}"]}}}
---EVENT_DELIMITER---
{"userEmailAddress":"{{.Emails}}","fromUserEmailAddress":"{{.Emails}}","url":"https://{{.Domains}}/Win/Preview/{{.Domains}}","ttpDefinition":"Default Inbound URL Protect Definition","subject":"WP-02 Data Response","action":"warn","adminOverride":"N/A","userOverride":"None","scanResult":"malicious","category":"Dangerous file extension","sendingIp":"{{.IPs}}","userAwarenessAction":"N/A","date":"{{.timestamp_iso}}+0000","actions":"Block","route":"inbound","creationMethod":"Entry Scan","emailPartsDescription":["Attachment"],"messageId":"<{{.Emails}}>","tagMap":{"DangerousFileExt":{"Status":["CustomerSpecific","VerdictBlock"],"Inspect:FileExts":["[exe]"],"Inspect:MimeTypes":["[]"],"ContentCheck:DangerousMimetypesUrlFileDownload":["application/x-msdownload"],"ContentCheck:ContentScannersBlocked":[".exe"],"ContentCheck:DangerousExtsUrlFileDownload":["dll"]}}}
---EVENT_DELIMITER---
{"userEmailAddress":"{{.Emails}}","fromUserEmailAddress":"{{.Emails}}","url":"https://{{.Domains}}/Win/Preview/{{.Domains}}","ttpDefinition":"Default Inbound URL Protect Definition","subject":"Re","action":"warn","adminOverride":"N/A","userOverride":"None","scanResult":"malicious","category":"Dangerous file extension","sendingIp":"{{.IPs}}","userAwarenessAction":"N/A","date":"{{.timestamp_iso}}+0000","actions":"Block","route":"inbound","creationMethod":"Entry Scan","emailPartsDescription":["Attachment"],"messageId":"<{{.Emails}}>","tagMap":{"DangerousFileExt":{"Status":["CustomerSpecific","VerdictBlock"],"Inspect:FileExts":["[exe]"],"Inspect:MimeTypes":["[]"],"ContentCheck:DangerousMimetypesUrlFileDownload":["application/x-msdownload"],"ContentCheck:DangerousExtsUrlFileDownload":["dll"],"ContentCheck:ContentScannersBlocked":[".exe"]}}}
---EVENT_DELIMITER---
{"userEmailAddress":"{{.Emails}}","fromUserEmailAddress":"{{.Emails}}","url":"https://{{.Domains}}/Win/Preview/{{.Domains}}","ttpDefinition":"Default Inbound URL Protect Definition","subject":"Re","action":"warn","adminOverride":"N/A","userOverride":"None","scanResult":"malicious","category":"Dangerous file extension","sendingIp":"{{.IPs}}","userAwarenessAction":"N/A","date":"{{.timestamp_iso}}+0000","actions":"Block","route":"inbound","creationMethod":"Entry Scan","emailPartsDescription":["Attachment"],"messageId":"<{{.Emails}}>","tagMap":{"DangerousFileExt":{"Status":["CustomerSpecific","VerdictBlock"],"Inspect:FileExts":["[exe]"],"Inspect:MimeTypes":["[]"],"ContentCheck:DangerousMimetypesUrlFileDownload":["application/x-msdownload"],"ContentCheck:DangerousExtsUrlFileDownload":["dll"],"ContentCheck:ContentScannersBlocked":[".exe"]}}}