{"senderAddress":"<>","recipientAddress":"{{.Emails}}","fileName":"{{.Domains}}","fileType":"application\/pdf","result":"safe","actionTriggered":"user release, none","date":"{{.timestamp_iso}}+0000","details":"Safe                                              \r\nTime taken: 0 hrs, 0 min, 4 sec","route":"inbound","messageId":"<{{.Emails}}>","subject":"Important Updated Numbers from the Center for Disease Control","fileHash":"eaeef09b60a59b913e9bfc0a4373e25d6182beff388957473fba517cc09345e3","definition":"Inbound - Safe file with On-Demand Sandbox"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","fileName":"Titus-Test Doc - Classification - {{.Domains}}","fileType":"application\/{{.Domains}}","result":"safe","actionTriggered":"user release, none","date":"{{.timestamp_iso}}+0000","details":"Safe                                              \r\nTime taken: 0 hrs, 0 min, 5 sec","route":"inbound","messageId":"<{{.Emails}}>","subject":"FW: Titus classification work","fileHash":"2fb26be55ac710e4d9f80677ba24ae212dbb36bd934a0569fe521839e9f5d16e","definition":"Inbound - Safe file with On-Demand Sandbox"}
---EVENT_DELIMITER---
{"senderAddress":"<>","recipientAddress":"{{.Emails}}","fileName":"Titus classification {{.Domains}}","fileType":"application\/{{.Domains}}","result":"safe","actionTriggered":"user release, none","date":"{{.timestamp_iso}}+0000","details":"Safe                                              \r\nTime taken: 0 hrs, 0 min, 5 sec","route":"inbound","messageId":"<{{.Emails}}>","subject":"FW: Titus classification work","fileHash":"111b86e1244ce6389efb60cddc001d594d334c540e85f9976be467a4ce472973","definition":"Inbound - Safe file with On-Demand Sandbox"}
---EVENT_DELIMITER---
{"fail":[],"meta":{"status":200,"pagination":{"pageSize":500,"next":"nextToken"}},"data":[]}
---EVENT_DELIMITER---
{"actionTriggered":"none, none","date":"{{.timestamp_iso}}+0000","definition":"Default Inbound Attachment Protect Definition","details":"Safe                                              \r\nTime taken: 0 hrs, 0 min, 3 sec","fileHash":"4af462d0246bf4074730b2aaecb076dfd30977ff23556b60848ab0af68f6e636","fileName":"{{.Domains}}","fileType":"application/pdf","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"safe","route":"inbound","senderAddress":"{{.Emails}}","subject":"FIRE DRILL"}
---EVENT_DELIMITER---
{"actionTriggered":"none, none","date":"{{.timestamp_iso}}+0000","definition":"Default Inbound Attachment Protect Definition","details":"Safe                                              \r\nTime taken: 0 hrs, 0 min, 3 sec","fileHash":"14ae6096f7ce68f8dfe2c298a347ebad8f53c212f458900b5867249daa267d28","fileName":"{{.Domains}}","fileType":"application/pdf","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"safe","route":"inbound","senderAddress":"{{.Emails}}","subject":"Re"}
---EVENT_DELIMITER---
{"actionTriggered":"none, none","date":"{{.timestamp_iso}}+0000","definition":"Default Inbound Attachment Protect Definition","details":"Safe                                              \r\nTime taken: 0 hrs, 0 min, 5 sec","fileHash":"7790267f9c0d2f1928330944732e5d412ca518ec54884fcf5bb744770584e902","fileName":"War_of_Worlds_{{.Domains}}","fileType":"text/rtf","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"safe","route":"inbound","senderAddress":"{{.Emails}}","subject":"Super sales to Las Vegas, Europe and more!"}
---EVENT_DELIMITER---
{"actionTriggered":"none","date":"{{.timestamp_iso}}+0000","definition":"Default Internal Attachment Protect Definition","details":"Malicious                                         \r\nTime taken: 0 hrs, 0 min, 1 sec","fileHash":"168dde02cf41aed3bf31ad831b75d8ee0b738304baa6957c40e29b2487f15116","fileName":"Sandbox {{.Domains}}","fileType":"application/{{.Domains}}","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"malicious","route":"internal","senderAddress":"{{.Emails}}","subject":"RE"}
---EVENT_DELIMITER---
{"actionTriggered":"none","date":"{{.timestamp_iso}}+0000","definition":"Default Internal Attachment Protect Definition","details":"Malicious                                         \r\nTime taken: 0 hrs, 0 min, 1 sec","fileHash":"168dde02cf41aed3bf31ad831b75d8ee0b738304baa6957c40e29b2487f15116","fileName":"Sandbox {{.Domains}}","fileType":"application/{{.Domains}}","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"malicious","route":"internal","senderAddress":"{{.Emails}}","subject":"RE"}
---EVENT_DELIMITER---
{"actionTriggered":"none","date":"{{.timestamp_iso}}+0000","definition":"Default Internal Attachment Protect Definition","details":"[MALICIOUS_ACTIVITY: Exploit: Attempting to exploit CVE-2010-1240\r\nTime taken: 0 hrs, 0 min, 1 sec]","fileHash":"22a65c438289353d96c707cf55e26be723e3157f0aa00734843a9bdc8f98bab0","fileName":"{{.Domains}}","fileType":"application/pdf","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"malicious","route":"internal","senderAddress":"{{.Emails}}","subject":"FW"}
---EVENT_DELIMITER---
{"actionTriggered":"none","date":"{{.timestamp_iso}}+0000","definition":"Default Internal Attachment Protect Definition","details":"[MALICIOUS_ACTIVITY: Exploit: Attempting to exploit CVE-2010-1240\r\nTime taken: 0 hrs, 0 min, 1 sec]","fileHash":"22a65c438289353d96c707cf55e26be723e3157f0aa00734843a9bdc8f98bab0","fileName":"{{.Domains}}","fileType":"application/pdf","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"malicious","route":"internal","senderAddress":"{{.Emails}}","subject":"FW"}
---EVENT_DELIMITER---
{"actionTriggered":"none","date":"{{.timestamp_iso}}+0000","definition":"Default Internal Attachment Protect Definition","details":"[MALICIOUS_ACTIVITY: Exploit: Attempting to exploit CVE-2010-1240\r\nTime taken: 0 hrs, 0 min, 1 sec]","fileHash":"22a65c438289353d96c707cf55e26be723e3157f0aa00734843a9bdc8f98bab0","fileName":"{{.Domains}}","fileType":"application/pdf","messageId":"\{{.Emails}}\u003e","recipientAddress":"{{.Emails}}","result":"malicious","route":"internal","senderAddress":"{{.Emails}}","subject":"FW"}