2025-03-15 13:47:13,382 | WARN  | Exception occurred for client ID:b-cfab2617-b6fb-4a44-bd7a-052aa4cd96f4-1-45943-{{.timestamp_unix_ms}}-5:7 (tcp://{{.IPs}}:63868) processing: STOMP -> {{.Domains}}: User name [elastic] or password is invalid. | {{.Domains}} | ActiveMQ Transport: ssl:///{{.IPs}}:63868
---EVENT_DELIMITER---
2025-03-15 13:47:13,381 | WARN  | Failed to add Connection id=ID:b-cfab2617-b6fb-4a44-bd7a-052aa4cd96f4-1-45943-{{.timestamp_unix_ms}}-5:7, clientId=ID:b-cfab2617-b6fb-4a44-bd7a-052aa4cd96f4-1-45943-{{.timestamp_unix_ms}}-5:7, clientIP=tcp://{{.IPs}}:63868 due to User name [elastic] or password is invalid. | {{.Domains}} | ActiveMQ Transport: ssl:///{{.IPs}}:63868