{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:40 - pcs-node1 - [{{.IPs}}] System()[] - Connection from IP {{.IPs}} not authenticated yet (URL=/dana-na/auth/{{.Domains}}?p=forced-off)
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:41 - pcs-node1 - [{{.IPs}}] System()[] - Connection from IP {{.IPs}} not authenticated yet (URL=/dana-na/auth/url_o2d6zvh39ac6C92s/{{.Domains}}?p=forced-off)
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:57 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - Source IP realm restrictions successfully passed for admin/ADMIN_REALM
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:57 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - User Limit realm restrictions successfully passed for admin/ADMIN_REALM
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:57 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - Login failed. Reason: Wrong Password
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:57 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - Primary authentication failed for admin/Administrators from {{.IPs}}
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:20:57 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[ADMIN_ROLE] - Login failed using auth server Administrators (Local Authentication). Reason: Failed
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:21:07 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - Source IP realm restrictions successfully passed for admin/ADMIN_REALM
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:21:07 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - User Limit realm restrictions successfully passed for admin/ADMIN_REALM
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:21:07 - pcs-node1 - [{{.IPs}}] admin(ADMIN_REALM)[] - Primary authentication successful for admin/Administrators fr
---EVENT_DELIMITER---
<174>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2022-01-19 10:19:35 - pcs-name - [{{.IPs}}] username(REALM)[ROLE] - Primary authentication successful for username/REALM from {{.IPs}}
---EVENT_DELIMITER---
<174>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2022-01-19 10:23:16 - pcs-name - [{{.IPs}}] username(REALM)[ROLE] - Host Checker policy 'HC_POLICY' passed on host '{{.IPs}}' address '2D-FF-88-AA-BB-DC' for user 'username'.
---EVENT_DELIMITER---
<174>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2022-01-19 10:24:04 - pcs-name - [{{.IPs}}] username(REALM)[ROLE] - Syslog server {{.IPs}} (facility LOCAL5, filter Standard, type UDP, interface Global) removed from Events logs
---EVENT_DELIMITER---
<174>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2022-01-19 10:23:06 - pcs-name - [{{.IPs}}] System()[] - The current virus signature list imported successfully.
---EVENT_DELIMITER---
<174>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2022-01-19 10:23:06 - pcs-name - [{{.IPs}}] System()[] - The current virus signature list downloaded successfully from 'https://{{.Domains}}/software/av/uac/epupdate_{{.Domains}}'
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node0 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:11:09 - pcs-node0 - [{{.IPs}}] System()[] - No new virus signature list available from 'https://{{.Domains}}/software/av/uac/epupdate_{{.Domains}}'.
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:11:55 - pcs-node1 - [{{.IPs}}] System(REALM)[] - User Limit realm restrictions successfully passed for /REALM
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node0 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:18:34 - pcs-node0 - [{{.IPs}}] System()[] - Integrity Checker Tool: Periodic Scan Started!
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node0 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:18:47 - pcs-node0 - [{{.IPs}}] System()[] - Integrity Scan Completed: Integrity Scan Results : Matched Files 18773, Newly Detected Files 0, Mismatched Files 0
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node0 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:18:47 - pcs-node0 - [{{.IPs}}] System()[] - Integrity Checker Tool: Periodic Scan Finished!
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:11:19 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - User {{.Domains}} denied access as the client version '9.1.11.6725' is lower than the minimum client version configured
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.Domains}} PulseSecure: - - - 2021-10-19 09:16:34 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - Session timed out for {{.Domains}}/REALM (session:sid03ac4653fd74a5ac36cffb2783be3309590f3d616617a4a7) due to inactivity (last access at 09:05:47 2021/10/19). Idle session identified during routine system scan.
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.Domains}} PulseSecure: - - - 2022-09-01 11:24:26 - ive - [{{.IPs}}] Root::DOMAIN\testuser(Network Connect)[General Web Bookmarks, Group Drives, Pulse Secure Client, VPN Static Pool 1, VLAN Source IP 12.3] - Host Checker policy 'Antivirus' passed on host '{{.IPs}}' address 'aa-aa-aa-aa-aa-0c' for user 'DOMAIN\testuser'
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.Domains}} PulseSecure: - - - 2022-09-01 11:24:26 - ive - [{{.IPs}}] Root::DOMAIN\\testuser(Network Connect)[General Web Bookmarks, Group Drives, Pulse Secure Client, VPN Static Pool 1, VLAN Source IP 12.3] - Host Checker policy 'Antivirus' passed on host '{{.IPs}}' address 'aa-aa-aa-aa-aa-0c' for user 'DOMAIN\testuser'
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:16:53 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[] - Primary authentication successful for {{.Domains}}/REALM from {{.IPs}}
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:10:35 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - Agent login succeeded for {{.Domains}}/REALM (session:sid74fa8e00ca601280318287f67dfaee7cc6da40db0be6ac75) from {{.IPs}} with Pulse-Secure/9.1.13.11723 (Windows 10) Pulse/9.1.13.11723.
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:10:35 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - VPN Tunneling: Session started for user (session: sid74fa8e00ca601280318287f67dfaee7cc6da40db0be6ac75) with IPv4 address {{.IPs}}, hostname Desktop
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:10:35 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - VPN Tunneling: User with IP {{.IPs}} connected with SSL transport mode.
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:12:11 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[] - User Limit realm restrictions successfully passed for {{.Domains}}/REALM
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:12:11 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[] - Login failed. Reason: Wrong Password
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:12:11 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[] - Primary authentication failed for {{.Domains}}/sign-in-page from {{.IPs}}
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 10:12:11 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[] - Login failed using auth server AuthServer (Local Authentication). Reason: Failed
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:49:40 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - Closed connection to TUN-VPN port 443 after 9 seconds, with 1308 bytes read (in 1 chunks) and 1131 bytes written (in 1 chunks) (session:sid085594569c49f5da11e483b49eaaabfc6fede5ce4a227da4)
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:49:40 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - VPN Tunneling: Session ended for user (session: sid085594569c49f5da11e483b49eaaabfc6fede5ce4a227da4) with IPv4 address {{.IPs}}
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:49:41 - pcs-node1 - [{{.IPs}}] {{.Domains}}()[] - Logout from {{.IPs}} (session:sid085594569c49f5da11e483b49eaaabfc6fede5ce4a227da4)
---EVENT_DELIMITER---
{{.timestamp_syslog}} pcs-node1 1 {{.timestamp_iso}}+02:00 {{.IPs}} PulseSecure: - - - 2021-10-19 09:11:19 - pcs-node1 - [{{.IPs}}] {{.Domains}}(REALM)[REALM_ROLES] - Session resumed from user agent 'Pulse-Secure/9.1.11.6725 (Windows 10) Pulse/9.1.11.6725' (session:sid9734dc3a195205ddb89cc05a9261a271201b4687ab468240).
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2023-03-03 17:21:09 - sslvpn02 - [{{.IPs}}] {{.Emails}}(MembersSAML)[MemberRole] - WebRequest completed, GET to https://{{.Domains}}:443//sss/sessionPing?unique=0.10846163950738053 from {{.IPs}} result=200 sent=60 received=4 in 1 seconds
---EVENT_DELIMITER---
<134>1 {{.timestamp_iso}}+01:00 {{.IPs}} PulseSecure: - - - 2024-01-11 14:23:28 - ssl-vpn01 - [{{.IPs}}] {{.Emails}}(Admin SSO)[.Administrators][64e62c265e] - Session timed out for {{.Emails}}/Admin SSO (session:sidbe3ce20a68202d1b91a4be7060b78c4a2825ce9100000000) due to inactivity (last access at 13:51:42 2024/01/11). Idle session identified during routine system scan.