26571:M 27 Dec 2018 11:19:18.874 * Synchronization with replica {{.IPs}}:6023 succeeded
---EVENT_DELIMITER---
4961:M 30 May 12:50:13.457 * Increased maximum number of open files to 10032 (it was originally set to 4864).
---EVENT_DELIMITER---
4961:M 30 May 12:50:13.463 # Server started, Redis version 3.0.2
---EVENT_DELIMITER---
4961:M 30 May 12:50:13.464 * DB loaded from disk: 0.001 seconds
---EVENT_DELIMITER---
4961:M 30 May 12:50:13.464 * The server is now ready to accept connections on port 6379
---EVENT_DELIMITER---
4961:signal-handler ({{.timestamp_unix_s}}) Received SIGINT scheduling shutdown...
---EVENT_DELIMITER---
4961:M 30 May 12:52:41.448 # User requested shutdown...
---EVENT_DELIMITER---
4961:M 30 May 12:52:41.448 * Saving the final RDB snapshot before exiting.
---EVENT_DELIMITER---
4961:M 30 May 12:52:41.452 * DB saved on disk
---EVENT_DELIMITER---
4961:M 30 May 12:52:41.452 # Redis is now ready to exit, bye bye...
---EVENT_DELIMITER---
5092:M 30 May 12:52:42.131 * Increased maximum number of open files to 10032 (it was originally set to 4864).
---EVENT_DELIMITER---
5092:M 30 May 12:52:42.133 # Server started, Redis version 3.0.2
---EVENT_DELIMITER---
5092:M 30 May 12:52:42.133 * DB loaded from disk: 0.000 seconds
---EVENT_DELIMITER---
5092:M 30 May 12:52:42.133 * The server is now ready to accept connections on port 6379
---EVENT_DELIMITER---
5092:signal-handler ({{.timestamp_unix_s}}) Received SIGINT scheduling shutdown...
---EVENT_DELIMITER---
5092:M 30 May 12:57:24.231 # User requested shutdown...
---EVENT_DELIMITER---
5092:M 30 May 12:57:24.231 * Saving the final RDB snapshot before exiting.
---EVENT_DELIMITER---
5092:M 30 May 12:57:24.234 * DB saved on disk
---EVENT_DELIMITER---
5092:M 30 May 12:57:24.234 # Redis is now ready to exit, bye bye...
---EVENT_DELIMITER---
30 May 10:03:19 - Server started, Redis version 1.2.6
---EVENT_DELIMITER---
30 May 10:03:19 * WARNING overcommit_memory is set to 0! Background save may fail under low condition memory. To fix this issue add '{{.Domains}}_memory = 1' to /etc/{{.Domains}} and then reboot or run the command 'sysctl {{.Domains}}_memory=1' for this to take effect.
---EVENT_DELIMITER---
30 May 10:03:19 - The server is now ready to accept connections on port 6379
---EVENT_DELIMITER---
30 May 10:04:14 - Server started, Redis version 1.2.6
---EVENT_DELIMITER---
30 May 10:04:14 * WARNING overcommit_memory is set to 0! Background save may fail under low condition memory. To fix this issue add '{{.Domains}}_memory = 1' to /etc/{{.Domains}} and then reboot or run the command 'sysctl {{.Domains}}_memory=1' for this to take effect.
---EVENT_DELIMITER---
30 May 10:04:14 - The server is now ready to accept connections on port 6379
---EVENT_DELIMITER---
30 May 10:04:45 - Server started, Redis version 1.2.6
---EVENT_DELIMITER---
30 May 10:04:45 * WARNING overcommit_memory is set to 0! Background save may fail under low condition memory. To fix this issue add '{{.Domains}}_memory = 1' to /etc/{{.Domains}} and then reboot or run the command 'sysctl {{.Domains}}_memory=1' for this to take effect.
---EVENT_DELIMITER---
30 May 10:04:45 - The server is now ready to accept connections on port 6379
---EVENT_DELIMITER---
30 May 10:04:45 . 0 clients connected (0 slaves), 618932 bytes in use, 0 shared objects
---EVENT_DELIMITER---
30 May 10:04:50 . 0 clients connected (0 slaves), 618932 bytes in use, 0 shared objects
---EVENT_DELIMITER---
30 May 10:05:37 . Accepted {{.IPs}}:56742
---EVENT_DELIMITER---
30 May 10:05:40 . 1 clients connected (0 slaves), 619381 bytes in use, 0 shared objects
---EVENT_DELIMITER---
30 May 10:05:45 . 1 clients connected (0 slaves), 619381 bytes in use, 0 shared objects
---EVENT_DELIMITER---
[2932] 31 May 04:32:08 * Server started, Redis version 2.4.6
---EVENT_DELIMITER---
[2932] 31 May 04:32:08 # Open data file {{.Domains}}: No such file or directory
---EVENT_DELIMITER---
[2932] 31 May 04:32:08 * The server is now ready to accept connections on port 6379
---EVENT_DELIMITER---
[2932] 31 May 04:32:08 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:13 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:19 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:24 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:30 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:35 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:41 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:46 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:52 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:32:57 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:03 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:08 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:13 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:19 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:24 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:30 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:35 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:41 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:46 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:52 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:33:57 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:03 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:08 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:14 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:19 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:25 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:30 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:36 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:41 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:46 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
[2932] 31 May 04:34:52 - 0 clients connected (0 slaves), 1179968 bytes in use
---EVENT_DELIMITER---
98738:M 30 May 12:23:52.442 * Saving the final RDB snapshot before exiting.
---EVENT_DELIMITER---
30 May 10:05:20 . 0 clients connected (0 slaves), 618932 bytes in use, 0 shared objects.
---EVENT_DELIMITER---
[2932] 31 May 04:32:08 * The server is now ready to accept connections on port 6379"
---EVENT_DELIMITER---
5092:signal-handler ({{.timestamp_unix_s}}) Received SIGINT scheduling shutdown...