{"response": [], "stat": "OK"}
---EVENT_DELIMITER---
{"action": "o2fa_user_provisioned","description": "{\"user_agent\": \"DuoCredProv/{{.IPs}} (Windows NT 6.3.9600; x64; Server)\", \"hostname\": \"WKSW10x64\", \"factor\": \"duo_otp\"}","isotimestamp": "{{.timestamp_iso}}+00:00","object": "Acme Laptop Windows Logon","timestamp": {{.timestamp_unix_s}},"username": "narroway"}