{"response": [], "stat": "OK"}
---EVENT_DELIMITER---
{"context":"administrator login","credits":5,"isotimestamp":"{{.timestamp_iso}}+00:00","phone":"+121234512345","timestamp":{{.timestamp_unix_s}},"type":"phone"}
---EVENT_DELIMITER---
{"context":"verify","credits":1,"isotimestamp":"{{.timestamp_iso}}+00:00","phone":"+121234512345","timestamp":{{.timestamp_unix_s}},"type":"sms"}
---EVENT_DELIMITER---
{"context": "authentication","credits": 1,"isotimestamp":"{{.timestamp_iso}}+00:00","phone":"+121234512345","timestamp":{{.timestamp_unix_s}},"type":"sms"}