{"author":"author_mcauthorface","query":"search *","result":{"_bkt":"main~0~266C23A8-75B5-4A00-8732-4A6065281018","_cd":"0:10","_indextime":"{{.timestamp_unix_s}}","_raw":"02/21/2025 14:26:56 +0000, info_min_time={{.timestamp_unix_s}}.000, info_max_time={{.timestamp_unix_s}}.000, info_search_time={{.timestamp_unix_s}}.943, field1=test","_serial":"0","_si":["ip-186-86-82-48","main"],"_sourcetype":"stash","_time":"{{.timestamp_iso}}+00:00","host":"ip-186-86-82-48","index":"main","linecount":"1","source":"/opt/splunk/var/spool/splunk/cafc46ad8c914957_a9876ea14cfe7ac8_{{.Domains}}_new","sourcetype":"stash","splunk_server":"ip-186-86-82-49"}}
---EVENT_DELIMITER---
{"author":"author_mcauthorface","ecs_result":{"{{.Domains}}":"splunk","{{.Domains}}":"186-86-82-48","{{.Domains}}_user_field":"test"},"mapping":{"destination_ip":"{{.Domains}}","event_action":"{{.Domains}}","event_kind":"{{.Domains}}","event_severity":"{{.Domains}}","field1":"{{.Domains}}_user_field","host":"{{.Domains}}","signature":"{{.Domains}}","source_ip":"{{.Domains}}","username":"{{.Domains}}"},"query":"search *","result":{"_bkt":"main~0~266C23A8-75B5-4A00-8732-4A6065281018","_cd":"0:10","_indextime":"{{.timestamp_unix_s}}","_raw":"02/21/2025 14:26:56 +0000, info_min_time={{.timestamp_unix_s}}.000, info_max_time={{.timestamp_unix_s}}.000, info_search_time={{.timestamp_unix_s}}.943, field1=test","_serial":"0","_si":["186-86-82-48","main"],"_sourcetype":"stash","_time":"{{.timestamp_iso}}+00:00","index":"main","linecount":"1","source":"/opt/splunk/var/spool/splunk/bd1c86d7c7cdb0e1_c144c50e6577e7db_{{.Domains}}_new","sourcetype":"stash","splunk_server":"186-86-82-49"}}