{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256208","component":"Authentication","entries":[{"info":{"authIndex":"module_instance","authIndexValue":"Application","authLevel":"0","ipAddress":"{{.IPs}}"},"moduleId":"Application"}],"eventName":"AM-LOGIN-COMPLETED","level":"INFO","principal":["autoid-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256204"],"transactionId":"{{.timestamp_unix_ms}}-9f138d8fc9f59d23164c-26466/0","userId":"id=autoid-resource-server,ou=agent,ou=am-config"},"timestamp":"{{.timestamp_iso}}38364Z","type":"application/json"}
---EVENT_DELIMITER---
{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256221","component":"Authentication","entries":[{"info":{"authControlFlag":"REQUIRED","authIndex":"module_instance","authLevel":"0","ipAddress":"{{.IPs}}","moduleClass":"Application"},"moduleId":"Application"}],"eventName":"AM-LOGIN-MODULE-COMPLETED","level":"INFO","principal":["openidm-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256219"],"transactionId":"{{.timestamp_unix_ms}}-9f138d8fc9f59d23164c-26467/0/0/0"},"timestamp":"{{.timestamp_iso}}504872Z","type":"application/json"}
---EVENT_DELIMITER---
{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256223","component":"Authentication","entries":[{"info":{"authIndex":"module_instance","authIndexValue":"Application","authLevel":"0","ipAddress":"{{.IPs}}"},"moduleId":"Application"}],"eventName":"AM-LOGIN-COMPLETED","level":"INFO","principal":["openidm-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256219"],"transactionId":"{{.timestamp_unix_ms}}-9f138d8fc9f59d23164c-26467/0/0/0","userId":"id=openidm-resource-server,ou=agent,ou=am-config"},"timestamp":"{{.timestamp_iso}}552387Z","type":"application/json"}
---EVENT_DELIMITER---
{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256235","component":"Authentication","entries":[{"info":{"authControlFlag":"REQUIRED","authIndex":"module_instance","authLevel":"0","ipAddress":"{{.IPs}}","moduleClass":"Application"},"moduleId":"Application"}],"eventName":"AM-LOGIN-MODULE-COMPLETED","level":"INFO","principal":["autoid-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256233"],"transactionId":"{{.timestamp_unix_ms}}-9f138d8fc9f59d23164c-26468/0"},"timestamp":"{{.timestamp_iso}}099976Z","type":"application/json"}
---EVENT_DELIMITER---
{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256237","component":"Authentication","entries":[{"info":{"authIndex":"module_instance","authIndexValue":"Application","authLevel":"0","ipAddress":"{{.IPs}}"},"moduleId":"Application"}],"eventName":"AM-LOGIN-COMPLETED","level":"INFO","principal":["autoid-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256233"],"transactionId":"{{.timestamp_unix_ms}}-9f138d8fc9f59d23164c-26468/0","userId":"id=autoid-resource-server,ou=agent,ou=am-config"},"timestamp":"{{.timestamp_iso}}105797Z","type":"application/json"}
---EVENT_DELIMITER---
{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256247","component":"Authentication","entries":[{"info":{"authControlFlag":"REQUIRED","authIndex":"module_instance","authLevel":"0","ipAddress":"{{.IPs}}","moduleClass":"Application"},"moduleId":"Application"}],"eventName":"AM-LOGIN-MODULE-COMPLETED","level":"INFO","principal":["openidm-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256245"],"transactionId":"{{.timestamp_unix_ms}}-7492ffada57c074a1475-26522/0/0/0"},"timestamp":"{{.timestamp_iso}}461279Z","type":"application/json"}
---EVENT_DELIMITER---
{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256249","component":"Authentication","entries":[{"info":{"authIndex":"module_instance","authIndexValue":"Application","authLevel":"0","ipAddress":"{{.IPs}}"},"moduleId":"Application"}],"eventName":"AM-LOGIN-COMPLETED","level":"INFO","principal":["openidm-resource-server"],"realm":"/","result":"SUCCESSFUL","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256245"],"transactionId":"{{.timestamp_unix_ms}}-7492ffada57c074a1475-26522/0/0/0","userId":"id=openidm-resource-server,ou=agent,ou=am-config"},"timestamp":"{{.timestamp_iso}}513466Z","type":"application/json"}