{"payload":{"_id":"45463f84-ff1b-499f-aa84-8d4bd93150de-256208","entries":[{"info":{"authIndex":"module_instance","authIndexValue":"Application","authLevel":"0","ipAddress":"{{.IPs}}"},"moduleId":"Application"}],"eventName":"authentication","level":"INFO","principal":["openidm-admin"],"result":"SUCCESSFUL","timestamp":"{{.timestamp_iso}}","topic":"authentication","trackingIds":["45463f84-ff1b-499f-aa84-8d4bd93150de-256204"],"transactionId":"{{.timestamp_unix_ms}}-9f138d8fc9f59d23164c-26466/0","userId":"id=user","method":"MANAGED_USER"},"timestamp":"{{.timestamp_iso}}38364Z","type":"application/json"}