{"payload":{"_id":"5e787c05-c32f-40d3-9e77-666376f6738f-134332","changedFields":["/mappings"],"eventName":"CONFIG","level":"INFO","objectId":"sync","operation":"UPDATE","revision":null,"runAs":"d7cd65bf-743c-4753-a78f-a20daae7e3bf","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"config","transactionId":"{{.timestamp_unix_ms}}-b802a87436c00618a43e-13149/0","userId":"d7cd65bf-743c-4753-a78f-a20daae7e3bf"},"timestamp":"{{.timestamp_iso}}214832Z","type":"application/json","source":"idm-config"}
---EVENT_DELIMITER---
{"payload":{"_id":"5e787c05-c32f-40d3-9e77-666376f6738f-135286","changedFields":["/mappings"],"eventName":"CONFIG","level":"INFO","objectId":"sync","operation":"UPDATE","revision":null,"runAs":"d7cd65bf-743c-4753-a78f-a20daae7e3bf","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"config","transactionId":"{{.timestamp_unix_ms}}-56a35455016b7da218a6-13168/0","userId":"d7cd65bf-743c-4753-a78f-a20daae7e3bf"},"timestamp":"{{.timestamp_iso}}066383Z","type":"application/json","source":"idm-config"}
---EVENT_DELIMITER---
{"payload":{"_id":"5e787c05-c32f-40d3-9e77-666376f6738f-135504","changedFields":["/mappings"],"eventName":"CONFIG","level":"INFO","objectId":"sync","operation":"UPDATE","revision":null,"runAs":"d7cd65bf-743c-4753-a78f-a20daae7e3bf","source":"audit","timestamp":"{{.timestamp_iso}}","topic":"config","transactionId":"{{.timestamp_unix_ms}}-b802a87436c00618a43e-13281/0","userId":"d7cd65bf-743c-4753-a78f-a20daae7e3bf"},"timestamp":"{{.timestamp_iso}}609149Z","type":"application/json","source":"idm-config"}