{"message":"{\"action\":\"suspend\",\"actor_details\":{\"email\":\"{{.Emails}}\",\"name\":\"Test Actor\",\"uuid\":\"GLF6WUEKS5CSNDJ2OG6TCZD3M4\"},\"actor_uuid\":\"GLF6WUEKS5CSNDJ2OG6TCZD3M4\",\"location\":{\"city\":\"Toronto\",\"country\":\"Canada\",\"latitude\":43.64,\"longitude\":-79.433,\"region\":\"Ontario\"},\"object_type\":\"user\",\"object_uuid\":\"ZRQCUD6A65AKHFETOUFO7NL4OM\",\"session\":{\"device_uuid\":\"rqtd557fn2husnstp5nc66w2xa\",\"ip\":\"{{.IPs}}\",\"login_time\":\"{{.timestamp_iso}}\",\"uuid\":\"ODOHXUYQCJBUJKRGZNNPBJURPE\"},\"timestamp\":\"{{.timestamp_iso_1}}\",\"uuid\":\"3UQOGUC7DVOCN4OZP2MDKHFLSG\"}"}
---EVENT_DELIMITER---
{"message":"{\"action\":\"suspend\",\"actor_details\":{\"email\":\"{{.Emails}}\",\"name\":\"Test Actor\",\"uuid\":\"GLF6WUEKS5CSNDJ2OG6TCZD3M4\"},\"actor_uuid\":\"GLF6WUEKS5CSNDJ2OG6TCZD3M4\",\"object_type\":\"user\",\"object_uuid\":\"ZRQCUD6A65AKHFETOUFO7NL4OM\",\"session\":{\"device_uuid\":\"rqtd557fn2husnstp5nc66w2xa\",\"ip\":\"{{.IPs}}\",\"login_time\":\"{{.timestamp_iso}}\",\"uuid\":\"ODOHXUYQCJBUJKRGZNNPBJURPE\"},\"timestamp\":\"{{.timestamp_iso_1}}\",\"uuid\":\"3UQOGUC7DVOCN4OZP2MDKHFLSG\"}"}