{"EndDate":"{{.timestamp_iso}}6759Z","FromIP":"{{.IPs}}","Index":0,"MessageId":"\{{.Emails}}\u003e","MessageTraceId":"cf7a249a-5edd-4350-130a-08da8f69e0f6","Organization":"{{.Domains}}","Received":"{{.timestamp_iso}}7658","RecipientAddress":"{{.Emails}}","SenderAddress":"{{.Emails}}","Size":87891,"StartDate":"{{.timestamp_iso}}6759Z","Status":"Delivered","Subject":"PIM: A privileged directory role was assigned outside of PIM","ToIP":"{{.IPs}}"}
---EVENT_DELIMITER---
{"Organization":"{{.Domains}}","MessageId":"\{{.Emails}}\u003e","Received":"{{.timestamp_iso}}6882Z","SenderAddress":"{{.Emails}}","RecipientAddress":"{{.Emails}}","Subject":"testmail 1","Status":"Delivered","ToIP":null,"FromIP":"{{.IPs}}","Size":22704,"MessageTraceId":"a6f62809-5cda-4454-0962-08dab38940d6","StartDate":"{{.timestamp_iso}}","EndDate":"{{.timestamp_iso}}","Index":1}
---EVENT_DELIMITER---
{"Organization":"{{.Domains}}","MessageId":"\{{.Emails}}\u003e","Received":"{{.timestamp_iso}}376Z","SenderAddress":"{{.Emails}}","RecipientAddress":"{{.Emails}}","Subject":"testmail 2","Status":"Delivered","ToIP":null,"FromIP":"{{.IPs}}","Size":22761,"MessageTraceId":"a5e6dc0f-23df-4b20-d240-08dab38944a1","StartDate":"{{.timestamp_iso}}","EndDate":"{{.timestamp_iso}}","Index":0}
---EVENT_DELIMITER---
{"Organization":"{{.Domains}}","MessageId":"\{{.Emails}}\u003e","Received":"{{.timestamp_iso}}376Z","SenderAddress":"{{.Emails}}","RecipientAddress":"{{.Emails}}","Subject":"testmail 2","Status":"Delivered","ToIP":null,"FromIP":"{{.IPs}}","Size":22761,"MessageTraceId":"a5e6dc0f-23df-4b20-d240-08dab38944a1","StartDate":"{{.timestamp_iso}}","EndDate":"{{.timestamp_iso}}","Index":0}
---EVENT_DELIMITER---
{"{{.Domains}}":"https://{{.Domains}}/ecp/ReportingWebService/{{.Domains}}/$metadata#MessageTrace","value":[]}
---EVENT_DELIMITER---
{"EndDate":"{{.timestamp_iso}}","FromIP":null,"Index":52,"MessageId":"<J.P@foo-7-v>","MessageTraceId":"2405b572-b741-49b3-a189-00c01bf8bdec","Organization":"{{.Domains}}","Received":"{{.timestamp_iso}}1289","RecipientAddress":"{{.Emails}}","SenderAddress":"<>","Size":0,"StartDate":"{{.timestamp_iso}}","Status":"Delivered","Subject":null,"ToIP":null}