{"data_stream":{"dataset":"{{.Domains_1}}","namespace":"default","type":"logs"},"forcepoint_web":{"action":"Allowed","category":"Reference Materials,Trusted Server Downloads","connection_ip":"{{.IPs}}","date":"16/12/2022","destination_ip":"{{.IPs_1}}","http_request_method":"Connect","http_status_code":"200","policy_name":"Org Internal Server Policy","risk_class":"Business Usage,None","time":"07:05:25","url":"{{.Domains}}","user":"{{.Users}}","user_agent_string":"{{.Users_1}}"},"message":"{{.IPs_2}}","tags":["preserve_original_event"]}