<132>WLC001: *Dot1x_NW_MsgTask_4: {{.timestamp_syslog}}.371: %LOG-4-Q_IND: [PA]dtl_net.c:3393 STA(Target MAC Address) [2c:6d:c1:f5:0c:80, {{.IPs}}] ARP (op ARP REQUEST) received with invalid SPA(Source IP Address) {{.IPs}}/TPA(Destination IP Address) {{.IPs}}
---EVENT_DELIMITER---
<132>WLC001: *dtlArpTask: {{.timestamp_syslog}}.514: %DTL-4-ARP_ORPHANPKT_DETECTED: [PA]dtl_net.c:3174 STA(Target MAC Address) [66:7c:de:ef:d9:18, {{.IPs}}] ARP (op ARP REQUEST) received with invalid SPA(Source IP Address) {{.IPs}}/TPA(Destination IP Address) {{.IPs}}
---EVENT_DELIMITER---
<132>WLC001: -Traceback: 0x11759554 0x1175b0f0 0x1175d2b8 0x11766124 0x116d0cf8 0xfff2ae0888 0xfff29f2cfc
---EVENT_DELIMITER---
<134>WLC001: *haSSOServiceTask0: {{.timestamp_syslog}}.930: %APF-6-USER_NAME_DELETED: [SS]apf_ms.c:8798 Username entry (WildDogOne) is deleted for mobile 28:6f:7f:f8:64:e0
---EVENT_DELIMITER---
<134>WLC001: *haSSOServiceTask0: {{.timestamp_syslog}}.390: %APF-6-USER_NAME_CREATED: [SS]apf_ms.c:8996 Username entry (WildDogOne) with length (4) created for mobile 28:6f:7f:f8:64:e0
---EVENT_DELIMITER---
<134>WLC001: *sisfSwitcherTask: {{.timestamp_syslog}}.845: %SISF-6-ENTRY_CREATED: sisf_shim_utils.c:485 Entry created A=fe80::1e24:cdff:fe11:2f90 V=0 I=wired:1 P=0000 M=
---EVENT_DELIMITER---
<134>WLC001: *SISF BT Process: {{.timestamp_syslog}}.157: %SISF-6-ENTRY_DELETED: sisf_shim_utils.c:482 Entry deleted A=fe80::aee2:d3ff:feba:56a4 V=0 I=wired:1 P=0000 M=
---EVENT_DELIMITER---
<134>WLC001: *SISF BT Process: {{.timestamp_syslog}}.121: %SISF-6-ENTRY_CHANGED: sisf_shim_utils.c:488 Entry changed A=fe80::72ee:50ff:fe56:9999 V=0 I=wireless:0 P=0005 M=70:ee:50:56:99:99
---EVENT_DELIMITER---
<134>WLC001: *dtlArpTask: {{.timestamp_syslog}}.900: %LOG-6-Q_IND: [PA]apf_ms.c:8996 Username entry (E8-96-06-02-02-99) with length (253) created for mobile e8:96:06:02:02:99
---EVENT_DELIMITER---
<134>WLC001: *SISF BT Process: {{.timestamp_syslog}}.332: %LOG-6-Q_IND: sisf_shim_utils.c:488 Entry changed A=fe80::48d:c1bc:6c01:6e85 V=0 I=wireless:0 P=0005 M=
---EVENT_DELIMITER---
<133>WLC001: *emWeb: {{.timestamp_syslog}}.438: %AAA-5-AAA_AUTH_ADMIN_USER: aaa.c:3083 Authentication succeeded for admin user 'cisco' on {{.IPs}}
---EVENT_DELIMITER---
<131>WLC001: *emWeb: {{.timestamp_syslog}}.172: %NIM-3-ADMIN_MODE_DISABLE: nim.c:1341 Port 3 Admin Mode is Disable!
---EVENT_DELIMITER---
<132>WLC001: *idsTrackEventTask: {{.timestamp_syslog}}.672: %WPS-4-SIG_ALARM_OFF: sig_event.c:656 AP 28:6F:7F:F8:64:E0 : Alarm OFF, standard sig Deauth flood, track=per-Mac preced=9 hits=300 slot=0 channel=6
---EVENT_DELIMITER---
<132>WLC001: *idsTrackEventTask: {{.timestamp_syslog}}.672: %WPS-4-SIG_ALARM_OFF_CONT: sig_event.c:660 {{.Domains}}, source mac= 4A:B8:CB:63:1D:BD
---EVENT_DELIMITER---
<132>WLC001: *spamApTask1: {{.timestamp_syslog}}.269: %LWAPP-4-SIG_INFO1: spam_lrad.c:56582 Signature information; AP 28:6f:7f:f8:64:e0, alarm ON, standard sig Deauth flood, track per-Macprecedence 9, hits 300, slot 0, channel 6, most offending MAC 4a:b8:cb:63:1d:bd
---EVENT_DELIMITER---
<132>WLC001: *Dot1x_NW_MsgTask_4: {{.timestamp_syslog}}.710: %DOT1X-4-MAX_EAPOL_KEY_RETRANS: 1x_ptsm.c:550 Max EAPOL-key M3 retransmissions exceeded for client 80:7d:3a:9b:2f:fc
---EVENT_DELIMITER---
<131>WLC001: *RRM-DCLNT-5_0: {{.timestamp_syslog}}.040: %RRM-3-RRM_LOGMSG: rrmLrad.c:5135 RRM LOG: Client not found: CC:73:14:61:B0:8F
---EVENT_DELIMITER---
<131>WLC001: *apfMsConnTask_6: {{.timestamp_syslog}}.227: %RRM-3-RRM_LOGMSG: [PA]rrmLrad.c:5634 RRM LOG: Failed to lookup data rate for encoding 102237564, with channel width 20 on AP:  de:fb:48:7c:4f:f7 (0)
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_0: {{.timestamp_syslog}}.939: %DOT1X-3-ABORT_AUTH: [PA]1x_bauth_sm.c:487  Authentication Aborted for  client de:fb:48:7c:4f:f7 Abort Reason:DOT1X RESTARTED DUE TO EAPOL-START/CLIENT ROAM
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_1: {{.timestamp_syslog}}.862: %LOG-3-Q_IND: [PA]1x_eapkey.c:3026 Received EAPOL-key message while in invalid state (4) - version 1, type 3, descriptor 2, client de:fb:48:7c:4f:f7[{{.Domains}} occurred 3 times.!]
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_3: {{.timestamp_syslog}}.850: %LOG-3-Q_IND: [PA]1x_eapkey.c:458 Invalid replay counter from client de:fb:48:7c:4f:f7 - got 00 00 00 00 00 00 00 00, expected 00 00 00 00 00 00 00 01[{{.Domains}} occurred 3 times.!]
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_3: {{.timestamp_syslog}}.289: %DOT1X-3-INVALID_WPA_KEY_STATE: [PA]1x_eapkey.c:3026 Received EAPOL-key message while in invalid state (4) - version 1, type 3, descriptor 2, client de:fb:48:7c:4f:f7
---EVENT_DELIMITER---
<131>WLC001: *dot1xMsgTask: {{.timestamp_syslog}}.242: %DOT1X-3-WPA_SEND_STATE_ERR: [PA]1x_kxsm.c:1736 Unable to send EAPOL-key msg  - invalid WPA state (0) - client de:fb:48:7c:4f:f7
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_7: {{.timestamp_syslog}}.828: %DOT1X-3-INVALID_REPLAY_CTR: [PA]1x_eapkey.c:458 Invalid replay counter from client de:fb:48:7c:4f:f7 - got 00 00 00 00 00 00 00 00, expected 00 00 00 00 00 00 00 01
---EVENT_DELIMITER---
<131>WLC001: *spamApTask1: {{.timestamp_syslog}}.944: %LWAPP-3-REPLAY_ERR: [PA]spam_lrad.c:49337 The system has received replay error on slot 0, WLAN ID 1, count 1 from AP de:fb:48:7c:4f:f7
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_2: {{.timestamp_syslog}}.103: %DOT1X-3-CLIENT_NOT_FOUND: [PA]dot1x_msg_task.c:1847 Unable to process 802.1X 1 msg - client de:fb:48:7c:4f:f7 not found Previous message occurred 2 times.
---EVENT_DELIMITER---
<6>1216: AP:{{.Domains}}8a.5c20: *{{.timestamp_syslog}}.651: %WIDS-6-SIG_ALARM_OFF: Attack is cleared on Sig:Standard Id:9 Channel:6
---EVENT_DELIMITER---
<131>WLC001: *radiusTransportThread: {{.timestamp_syslog}}.000: %AAA-3-INVALID_REQUEST: [PA]radius_db.c:3923 Invalid AAA request. unknown
---EVENT_DELIMITER---
<131>WLC001: *Dot1x_NW_MsgTask_3: {{.timestamp_syslog}}.787: %DOT1X-3-AAA_AUTH_SEND_FAIL: [PA]1x_aaa.c:893 Unable to send AAA message for client de:fb:48:7c:4f:f7
---EVENT_DELIMITER---
<132>WLC001: *bcastReceiveTask: {{.timestamp_syslog}}.577: %BCAST-4-MLD_INVALID_IPV6_PKT: bcastMld.c:2594  Received IPV6 packet which is not a valid MLD packet
---EVENT_DELIMITER---
<132>WLC001: *apfReceiveTask: {{.timestamp_syslog}}.959: %APF-4-MOBILESTATION_NOT_FOUND: apf_ms.c:8467 Could not find the mobile cc:73:14:61:b0:8f in internal database
---EVENT_DELIMITER---
<190>201477: {{.timestamp_syslog}}.866: %CLIENT_ORCH_LOG-6-CLIENT_ADDED_TO_RUN_STATE: Chassis 2 R0/0: wncd: Username entry (00-00-00-00-00-00) joined with ssid (System-110) for device with MAC: 0000.0000.0000
---EVENT_DELIMITER---
<190>201477: {{.timestamp_syslog}}.866: %CLIENT_ORCH_LOG-6-CLIENT_ADDED_TO_RUN_STATE: Chassis 1 R0/0: wncd: Username entry (RND-UN) joined with ssid (System-110) for device with MAC: {{.Domains}}12.3456
---EVENT_DELIMITER---
<132>WLC001: *spamReceiveTask: {{.timestamp_syslog}}.223: %LOG-3-Q_IND: mm_aplist.c:734 Could not delete an AP from the AP list.
---EVENT_DELIMITER---
<132>WLC001: *spamApTask4: {{.timestamp_syslog}}.773: %LOG-3-Q_IND: spam_lrad.c:11366 Country code (CN ) not configured for AP 6c:99:89:b0:XX:XX[…It occurred 2 times.!]
---EVENT_DELIMITER---
<132>WLC001: *emWeb: {{.timestamp_syslog}}.501: %LOG-3-Q_IND: spam_lrad.c:52448 The system is unable to find WLAN 1 to be deleted; AP XX:XX:XX:XX:XX:XX[{{.Domains}} occurred 3 times.!]
---EVENT_DELIMITER---
<4>6642: AP:abcd.9876.0123: *{{.timestamp_syslog}}.007: %DOT11-4-CCMP_REPLAY: Client {{.Domains}}.11ab had 1 AES-CCMP TSC replays