{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /medrec/{{.Domains}}/{{.Domains}}?ln=img&amp;con=bayland HTTP/1.1" 200 844071 
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /{{.Domains}} HTTP/1.1" 404 1164 
---EVENT_DELIMITER---
0:0:0:0:0:0:0:1 - - {{.timestamp_clf_timezone}} "GET /{{.Domains}} HTTP/1.1" 404 1164 
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /medrec/{{.Domains}} HTTP/1.1" 200 8863 
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /medrec/{{.Domains}}/{{.Domains}}?ln=img&amp;con=bayland HTTP/1.1" 200 8116 
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /medrec/{{.Domains}}/{{.Domains}}?ln=img&amp;con=bayland HTTP/1.1" 200 10096 
---EVENT_DELIMITER---
{{.IPs}} - - {{.timestamp_clf_timezone}} "GET /medrec/{{.Domains}}/{{.Domains}}?ln=img&amp;con=bayland HTTP/1.1" 200 10169 