####<Mar 24, 2022 10:29:51,636 AM GMT> <Info> <WorkManager> <wlsadmin> <> <[STANDBY] ExecuteThread: '1' for queue: '{{.Domains}} (self-tuning)'> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002942> <CMM memory level becomes 0. Setting standby thread pool size to 256.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,663 AM GMT> <Info> <WebLogicServer> <wlsadmin> <> <Thread-8> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000214> <WebLogic Server "AdminServer" version:
WebLogic Server {{.IPs}}.0 Thu {{.timestamp_syslog}} PDT 2017 1882952 Copyright (c) 1995,2017, Oracle and/or its affiliates. All rights reserved.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,702 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "t3" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,703 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "t3s" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,703 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "http" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,704 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "https" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,857 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "iiop" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,857 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "iiops" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,858 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "ldap" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,858 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "ldaps" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,860 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "cluster" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,861 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "clusters" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,864 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "snmp" is now configured.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:29:51,865 AM GMT> <Info> <Server> <wlsadmin> <> <Thread-11> <> <> <> <{{.timestamp_unix_ms}}> <[severity-value: 64] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002622> <The protocol "admin" is now configured.> 