####<Mar 24, 2022 10:30:29,249 AM GMT> <Notice> <Cluster> <5565e043d1b0> <ms-1> <[STANDBY] ExecuteThread: '2' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000c> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000162> <Starting "async" replication service with remote cluster address "null"> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,296 AM GMT> <Notice> <Server> <5565e043d1b0> <ms-1> <{{.Domains}}> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000d> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002613> <Channel "Default[1]" is now listening on {{.IPs}}:9001 for protocols iiop, t3, CLUSTER-BROADCAST, ldap, snmp, http.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,297 AM GMT> <Notice> <Server> <5565e043d1b0> <ms-1> <{{.Domains}}> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000d> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002613> <Channel "Default" is now listening on {{.IPs}}:9001 for protocols iiop, t3, CLUSTER-BROADCAST, ldap, snmp, http.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,301 AM GMT> <Notice> <Server> <5565e043d1b0> <ms-1> <{{.Domains}}> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000d> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002613> <Channel "Default[1]" is now listening on {{.IPs}}:9001 for protocols iiop, t3, CLUSTER-BROADCAST, ldap, snmp, http.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,301 AM GMT> <Notice> <Server> <5565e043d1b0> <ms-1> <{{.Domains}}> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000d> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-002613> <Channel "Default" is now listening on {{.IPs}}:9001 for protocols iiop, t3, CLUSTER-BROADCAST, ldap, snmp, http.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,302 AM GMT> <Notice> <WebLogicServer> <5565e043d1b0> <ms-1> <[STANDBY] ExecuteThread: '3' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000e> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000330> <Started the WebLogic Server Managed Server "ms-1" for domain "my_domain" running in production mode.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,395 AM GMT> <Notice> <WebLogicServer> <5565e043d1b0> <ms-1> <[STANDBY] ExecuteThread: '7' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000360> <The server started in RUNNING mode.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,465 AM GMT> <Notice> <WebLogicServer> <5565e043d1b0> <ms-1> <[STANDBY] ExecuteThread: '7' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <a0cd5fb3-fd02-4430-963e-f97528275aac-0000000b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000365> <Server state changed to RUNNING.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:27,263 AM GMT> <Warning> <Socket> <wlsadmin> <AdminServer> <[ACTIVE] ExecuteThread: '0' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <38f025ff-7924-471b-bac8-a419692aabf9-00000018> <{{.timestamp_unix_ms}}> <[severity-value: 16] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000449> <Closing the socket, as no data read from it on {{.IPs}}:41,972 during the configured idle timeout of 5 seconds.> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,193 AM GMT> <Notice> <JMX> <wlsadmin> <AdminServer> <[ACTIVE] ExecuteThread: '2' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <38f025ff-7924-471b-bac8-a419692aabf9-0000001b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-149535> <JMX Resiliency Activity Server=ms-1 : 
Received a CONNECT EVENT 
> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,194 AM GMT> <Notice> <JMX> <wlsadmin> <AdminServer> <[ACTIVE] ExecuteThread: '2' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <38f025ff-7924-471b-bac8-a419692aabf9-0000001b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-149535> <JMX Resiliency Activity Server=ms-1 : Starting JMX connection. forceReconnect value: false> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,707 AM GMT> <Notice> <JMX> <wlsadmin> <AdminServer> <[ACTIVE] ExecuteThread: '2' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <38f025ff-7924-471b-bac8-a419692aabf9-0000001b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-149535> <JMX Resiliency Activity Server=ms-1 : Registering call backs for server> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,707 AM GMT> <Notice> <JMX> <wlsadmin> <AdminServer> <[ACTIVE] ExecuteThread: '2' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <38f025ff-7924-471b-bac8-a419692aabf9-0000001b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-149535> <JMX Resiliency Activity Server=ms-1 : Initializing callbacks> 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,709 AM GMT> <Notice> <JMX> <wlsadmin> <AdminServer> <pool-2-thread-2> <<anonymous>> <> <38f025ff-7924-471b-bac8-a419692aabf9-0000001b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0:6] [partition-id: 0] [partition-name: DOMAIN] > <BEA-149535> <JMX Resiliency Activity Server=ms-1 : Added MBeanServerConnection in DomainRuntimeServiceMBean > 
---EVENT_DELIMITER---
####<Mar 24, 2022 10:30:29,710 AM GMT> <Notice> <JMX> <wlsadmin> <AdminServer> <[ACTIVE] ExecuteThread: '2' for queue: '{{.Domains}} (self-tuning)'> <<WLS Kernel>> <> <38f025ff-7924-471b-bac8-a419692aabf9-0000001b> <{{.timestamp_unix_ms}}> <[severity-value: 32] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-149535> <JMX Resiliency Activity Server=ms-1 : Callback is done> 