{"event":{"signatureId":{"id":"3","name":"DNS Lookup"},"metadata":{"schemaVersion":"1.0","vendor":"Jamf","product":"Network Traffic Stream"},"timestamp":"{{.timestamp_iso}}","account":{"customerId":"9608556b-0c3a-4a9c-9b4a-d714d8a028a1","parentId":"c00a8916-5bad-406e-8ee7-b125460ecaf3"},"device":{"deviceId":"3453be41-0f2d-4d43-9ec2-a53f39fff93c","osType":"IOS"},"destination":{"ips":[]},"source":{"ip":"{{.IPs}}"},"networkInterface":"WIFI","domain":"youtube","tld":"com","hostName":"{{.Domains}}","threat":{"result":"CLEAN","types":[]},"dns":{"recordType":"HTTPS","responseStatus":"NOERROR","ttl":101,"category":"Custom"},"blocked":false,"receiptTime":{{.timestamp_unix_ms}},"user":{"email":"{{.Emails}}","name":"07a5a2ae-16de-4767-831e-0ea8b7c3abe4"}}}
---EVENT_DELIMITER---
{"event":{"signatureId":{"id":"3","name":"DNS Lookup"},"metadata":{"schemaVersion":"1.0","vendor":"Jamf","product":"Network Traffic Stream"},"timestamp":"{{.timestamp_iso}}","account":{"customerId":"777a7e56-e0ae-4bb9-ac2c-47015dcd2c68","parentId":"c00a8916-5bad-406e-8ee7-b125460ecaf3"},"device":{"deviceId":"c0dd2643-ae93-43a9-bc71-6d93555c1f54","osType":""},"destination":{"ips":[]},"source":{"ip":"{{.IPs}}"},"domain":"microsoft","tld":"com","hostName":"{{.Domains}}","threat":{"result":"CLEAN","types":[]},"dns":{"recordType":"HTTPS","responseStatus":"NOERROR","ttl":144,"category":"Custom"},"blocked":false,"receiptTime":{{.timestamp_unix_ms}},"user":{"email":"","name":""}}}
---EVENT_DELIMITER---
{"event":{"signatureId":{"id":"3","name":"DNS Lookup"},"metadata":{"schemaVersion":"1.0","vendor":"Jamf","product":"Network Traffic Stream"},"timestamp":"{{.timestamp_iso}}","account":{"customerId":"777a7e56-e0ae-4bb9-ac2c-47015dcd2c68","parentId":"c00a8916-5bad-406e-8ee7-b125460ecaf3"},"device":{"deviceId":"b57306b5-69f8-4e24-a269-466753e39cc1","osType":"MAC_OS","externalId":"081de2ca-9228-56d0-ad00-bf11afa67710"},"destination":{"ips":[]},"domain":"trafficmanager","tld":"net","hostName":"{{.Domains}}","threat":{"result":"CLEAN","types":[]},"dns":{"recordType":"HTTPS","responseStatus":"NOERROR","ttl":0,"category":"Productivity"},"blocked":false,"receiptTime":{{.timestamp_unix_ms}},"user":{"email":"{{.Emails}}","name":"Matthew Ward"}}}
---EVENT_DELIMITER---
{"event":{"signatureId":{"id":"3","name":"DNS Lookup"},"metadata":{"schemaVersion":"1.0","vendor":"Jamf","product":"Network Traffic Stream"},"timestamp":"{{.timestamp_iso}}","account":{"customerId":"777a7e56-e0ae-4bb9-ac2c-47015dcd2c68","parentId":"c00a8916-5bad-406e-8ee7-b125460ecaf3"},"device":{"deviceId":"b57306b5-69f8-4e24-a269-466753e39cc1","osType":"MAC_OS","externalId":"081de2ca-9228-56d0-ad00-bf11afa67710"},"destination":{"ips":["2620:149:a41:880::2:7"]},"domain":"icloud","tld":"com","hostName":"{{.Domains}}","threat":{"result":"CLEAN","types":[]},"dns":{"recordType":"AAAA","responseStatus":"NOERROR","ttl":36,"category":"Cloud & File Storage"},"blocked":false,"receiptTime":{{.timestamp_unix_ms}},"user":{"email":"{{.Emails}}","name":"Matthew Ward"}}}
---EVENT_DELIMITER---
{"event":{"signatureId":{"id":"3","name":"DNS Lookup"},"metadata":{"schemaVersion":"1.0","vendor":"Jamf","product":"Network Traffic Stream"},"timestamp":"{{.timestamp_iso}}","account":{"customerId":"777a7e56-e0ae-4bb9-ac2c-47015dcd2c68","parentId":"c00a8916-5bad-406e-8ee7-b125460ecaf3"},"device":{"deviceId":"b57306b5-69f8-4e24-a269-466753e39cc1","osType":"MAC_OS","externalId":"081de2ca-9228-56d0-ad00-bf11afa67710"},"destination":{"ips":["{{.IPs}}"]},"domain":"crowdexpert","tld":"org","hostName":"{{.Domains}}","threat":{"result":"DIRTY","types":["malware"]},"dns":{"recordType":"A","responseStatus":"NOERROR","ttl":10,"category":"Uncategorized"},"blocked":true,"receiptTime":{{.timestamp_unix_ms}},"user":{"email":"{{.Emails}}","name":"Matthew Ward"}}}
---EVENT_DELIMITER---
{"event":{"signatureId":{"id":"3","name":"DNS Lookup"},"metadata":{"schemaVersion":"1.0","vendor":"Jamf","product":"Network Traffic Stream"},"timestamp":"{{.timestamp_iso}}","account":{"customerId":"9608556b-0c3a-4a9c-9b4a-d714d8a028a1","parentId":"c00a8916-5bad-406e-8ee7-b125460ecaf3"},"device":{"deviceId":"cd531c8a-26ed-419a-8fd4-f67702f40ad5","osType":"IOS"},"destination":{"ips":[]},"source":{"ip":"{{.IPs}}"},"networkInterface":"WIFI","domain":"bidagy","tld":"com","hostName":"{{.Domains}}","threat":{"result":"DIRTY","types":["malware"]},"dns":{"recordType":"HTTPS","responseStatus":"NOERROR","ttl":0},"blocked":true,"receiptTime":{{.timestamp_unix_ms}},"user":{"email":"{{.Emails}}","name":"07a5a2ae-16de-4767-831e-0ea8b7c3abe4"}}}