<114>{{.timestamp_syslog}} [{{.IPs}}] ZscalerNSS: Zscaler cloud configuration connection to  {{.IPs}}:443 lost and unavailable for the past 2325.00 minutes
---EVENT_DELIMITER---
<114>{{.timestamp_syslog}} [{{.IPs}}] ZscalerNSS: SIEM Feed connection "DNS Logs Feed" to {{.IPs}}:9012 lost and unavailable for the past 2440.00 minutes
---EVENT_DELIMITER---
<114>{{.timestamp_syslog}} [{{.IPs}}] Hey, that's a new type of alert. Isn't it?