{"sourcetype":"zscalernss-audit","input":{"type":"http_endpoint"},"event":{"time":"Mon {{.timestamp_syslog}} 2023","recordid":"1234","action":"Activate","category":"DATA_LOSS_PREVENTION_RESOURCE","subcategory":"DLP_DICTIONARY","resource":"SSL Rule Name","interface":"API","adminid":"{{.Emails}}","clientip":"{{.IPs}}","result":"SUCCESS","errorcode":"AUTHENTICATION_FAILED","auditlogtype":"ZIA Portal Audit Log","preaction":{},"postaction":{},"timezone":"UTC"}}
---EVENT_DELIMITER---
{"version":"v1","sourcetype":"zscalernss-audit","input":{"type":"http_endpoint"},"event":{"time":"Mon {{.timestamp_syslog}} 2023","recordid":"1234","action":"Activate","category":"DATA_LOSS_PREVENTION_RESOURCE","subcategory":"DLP_DICTIONARY","resource":"SSL Rule Name","interface":"API","adminid":"{{.Emails}}","clientip":"{{.IPs}}","result":"SUCCESS","errorcode":"AUTHENTICATION_FAILED","auditlogtype":"ZIA Portal Audit Log","preaction":{},"postaction":{},"timezone":"UTC"}}
---EVENT_DELIMITER---
{ "sourcetype": "zscalernss-audit", "event": { "time": "Mon {{.timestamp_syslog}} 2023", "recordid": "1234", "action": "Activate", "category": "DATA_LOSS_PREVENTION_RESOURCE", "subcategory": "DLP_DICTIONARY", "resource": "SSL Rule Name", "interface": "API", "adminid": "{{.Emails}}", "clientip": "{{.IPs}}", "result": "SUCCESS", "errorcode": "AUTHENTICATION_FAILED", "auditlogtype": "ZIA Portal Audit Log", "preaction": {}, "postaction": {} , "timezone": "UTC"} }
---EVENT_DELIMITER---
{ "sourcetype": "zscalernss-audit", "event": { "time": "Mon {{.timestamp_syslog}} 2023", "recordid": "1234", "action": "Activate", "category": "DATA_LOSS_PREVENTION_RESOURCE", "subcategory": "DLP_DICTIONARY", "resource": "SSL Rule Name", "interface": "API", "adminid": "{{.Emails}}", "clientip": "{{.IPs}}", "result": "SUCCESS", "errorcode": "AUTHENTICATION_FAILED", "auditlogtype": "ZIA Portal Audit Log", "timezone": "UTC", "preaction": {}, "postaction": {} } }
---EVENT_DELIMITER---
{"sourcetype":"zscalernss-audit","event":{"time":"Thu {{.timestamp_syslog}} 2025","recordid":"737420","action":"SIGN_OUT","category":"LOGIN","subcategory":"LOGIN","resource":"None","interface":"Unknown","adminid":"{{.Emails}}","clientip":"Unknown","result":"SUCCESS","errorcode":"None","auditlogtype":"EC","preaction":{},"postaction":{},"timezone":"UTC"}}
---EVENT_DELIMITER---
{"version":"v1", "sourcetype": "zscalernss-audit", "event": { "time": "Mon {{.timestamp_syslog}} 2023", "recordid": "1234", "action": "Activate", "category": "DATA_LOSS_PREVENTION_RESOURCE", "subcategory": "DLP_DICTIONARY", "resource": "SSL Rule Name", "interface": "API", "adminid": "{{.Emails}}", "clientip": "{{.IPs}}", "result": "SUCCESS", "errorcode": "AUTHENTICATION_FAILED", "auditlogtype": "ZIA Portal Audit Log", "preaction": {}, "postaction": {} , "timezone": "UTC"} }
---EVENT_DELIMITER---
{"version":"v1", "sourcetype": "zscalernss-audit", "event": { "time": "Mon {{.timestamp_syslog}} 2023", "recordid": "1234", "action": "Activate", "category": "DATA_LOSS_PREVENTION_RESOURCE", "subcategory": "DLP_DICTIONARY", "resource": "SSL Rule Name", "interface": "API", "adminid": "{{.Emails}}", "clientip": "{{.IPs}}", "result": "SUCCESS", "errorcode": "AUTHENTICATION_FAILED", "auditlogtype": "ZIA Portal Audit Log", "timezone": "UTC", "preaction": {}, "postaction": {} } }
---EVENT_DELIMITER---
{"version":"v1","sourcetype":"zscalernss-audit","event":{"time":"Thu {{.timestamp_syslog}} 2025","recordid":"737420","action":"SIGN_OUT","category":"LOGIN","subcategory":"LOGIN","resource":"None","interface":"Unknown","adminid":"{{.Emails}}","clientip":"Unknown","result":"SUCCESS","errorcode":"None","auditlogtype":"EC","preaction":{},"postaction":{},"timezone":"UTC"}}