{"sourcetype":"zscalernss-tunnel","event":{"locationname":"Unknown","sourceport":"0","rxbytes":"0","tunneltype":"GRE","dpdrec":"0","destinationip":"{{.IPs}}","recordid":"7083029673927507968","datetime":"Tue {{.timestamp_syslog}} 2021","sourceip":"{{.IPs}}","txbytes":"0","Recordtype":"Tunnel Samples","user":"Unknown","day":"","dd":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","rxpackets":"","ss":"","timezone":"","txpackets":"","yyyy":""}}
---EVENT_DELIMITER---
{"version":"v2","sourcetype":"zscalernss-tunnel","event":{"locationname":"Unknown","sourceport":"0","rxbytes":"0","tunneltype":"GRE","dpdrec":"0","destinationip":"{{.IPs}}","recordid":"7083029673927507968","datetime":"Tue {{.timestamp_syslog}} 2021","sourceip":"{{.IPs}}","txbytes":"0","Recordtype":"Tunnel Samples","user":"Unknown","day":"","dd":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","rxpackets":"","ss":"","timezone":"","txpackets":"","yyyy":""}}
---EVENT_DELIMITER---
{ "sourcetype" : "zscalernss-tunnel", "event" : {"datetime":"Thu {{.timestamp_syslog}} 2021","Recordtype":"IPSec Phase2","tunneltype":"IPSEC IKEV 1","user":"{{.IPs}}","locationname":"some-location","sourceip":"{{.IPs}}","destinationip":"{{.IPs}}","sourceport":"0","lifetime":"3600","ikeversion":"1","algo":"AES","authentication":"HMAC-SHA-1","authtype":"None","recordid":"1111111111111111111","day":"","dd":"","destinationport":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","spi_in":"","spi_out":"","ss":"","timezone":"","vendorname":"","yyyy":""}}
---EVENT_DELIMITER---
{ "sourcetype" : "zscalernss-tunnel", "event" : {"datetime":"Thu {{.timestamp_syslog}} 2021","Recordtype":"IPSec Phase1","tunneltype":"IPSEC IKEV 2","user":"{{.IPs}}","locationname":"some-location","sourceip":"{{.IPs}}","destinationip":"{{.IPs}}","sourceport":"500","destinationport":"500","lifetime":"0","ikeversion":"2","spi_in":"00000000000000000000","spi_out":"11111111111111111111","algo":"AES-CBS","authentication":"HMAC-SHA1-96","authtype":"PSK","recordid":"1111111111111111111","day":"","dd":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","ss":"","timezone":"","vendorname":"","yyyy":""}}
---EVENT_DELIMITER---
{ "sourcetype" : "zscalernss-tunnel", "event" : {"datetime":"Thu {{.timestamp_syslog}} 2021","Recordtype":"Tunnel Event","tunneltype":"IPSec IKEv2","user":"{{.IPs}}","locationname":"some-location","sourceip":"{{.IPs}}","destinationip":"{{.IPs}}","sourceport":"500","event":"IPsec tunnel is up","eventreason":"None","recordid":"1111111111111111111","day":"","dd":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","ss":"","timezone":"","yyyy":""}}
---EVENT_DELIMITER---
{ "sourcetype": "zscalernss-tunnel", "event": { "algo": "DES_CBC", "authentication": "HMAC_MD5", "authtype": "PSKEY", "datetime": "Mon {{.timestamp_syslog}} 2023", "day": "Mon", "dd": "16", "destinationip": "{{.IPs}}", "destinationport": "443", "hh": "24", "ikeversion": "1", "lifetime": "86400", "locationname": "Headquarters", "mm": "55", "mon": "Oct", "mth": "10", "olocationname": "2168890624", "ovpncredentialname": "2168890624", "recordid": "1234", "sourceip": "{{.IPs}}", "spi_in": "12", "spi_out": "34", "sourceport": "8080", "ss": "6", "Recordtype": "WL_TUNNEL_IPSECPHASE1", "tunneltype": "IPSEC IKEV 1", "timezone": "GMT+03:30", "vendorname": "CISCO", "user": "{{.Emails}}", "yyyy": "2023" } }
---EVENT_DELIMITER---
{"version":"v2", "sourcetype" : "zscalernss-tunnel", "event" : {"datetime":"Thu {{.timestamp_syslog}} 2021","Recordtype":"IPSec Phase2","tunneltype":"IPSEC IKEV 1","user":"{{.IPs}}","locationname":"some-location","sourceip":"{{.IPs}}","destinationip":"{{.IPs}}","sourceport":"0","lifetime":"3600","ikeversion":"1","algo":"AES","authentication":"HMAC-SHA-1","authtype":"None","recordid":"1111111111111111111","day":"","dd":"","destinationport":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","spi_in":"","spi_out":"","ss":"","timezone":"","vendorname":"","yyyy":""}}
---EVENT_DELIMITER---
{"version":"v2", "sourcetype" : "zscalernss-tunnel", "event" : {"datetime":"Thu {{.timestamp_syslog}} 2021","Recordtype":"IPSec Phase1","tunneltype":"IPSEC IKEV 2","user":"{{.IPs}}","locationname":"some-location","sourceip":"{{.IPs}}","destinationip":"{{.IPs}}","sourceport":"500","destinationport":"500","lifetime":"0","ikeversion":"2","spi_in":"00000000000000000000","spi_out":"11111111111111111111","algo":"AES-CBS","authentication":"HMAC-SHA1-96","authtype":"PSK","recordid":"1111111111111111111","day":"","dd":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","ss":"","timezone":"","vendorname":"","yyyy":""}}
---EVENT_DELIMITER---
{"version":"v2", "sourcetype" : "zscalernss-tunnel", "event" : {"datetime":"Thu {{.timestamp_syslog}} 2021","Recordtype":"Tunnel Event","tunneltype":"IPSec IKEv2","user":"{{.IPs}}","locationname":"some-location","sourceip":"{{.IPs}}","destinationip":"{{.IPs}}","sourceport":"500","event":"IPsec tunnel is up","eventreason":"None","recordid":"1111111111111111111","day":"","dd":"","hh":"","mm":"","mon":"","mth":"","olocationname":"","ovpncredentialname":"","ss":"","timezone":"","yyyy":""}}
---EVENT_DELIMITER---
{"version":"v2", "sourcetype": "zscalernss-tunnel", "event": { "algo": "DES_CBC", "authentication": "HMAC_MD5", "authtype": "PSKEY", "datetime": "Mon {{.timestamp_syslog}} 2023", "day": "Mon", "dd": "16", "destinationip": "{{.IPs}}", "destinationport": "443", "hh": "24", "ikeversion": "1", "lifetime": "86400", "locationname": "Headquarters", "mm": "55", "mon": "Oct", "mth": "10", "olocationname": "2168890624", "ovpncredentialname": "2168890624", "recordid": "1234", "sourceip": "{{.IPs}}", "spi_in": "12", "spi_out": "34", "sourceport": "8080", "ss": "6", "Recordtype": "WL_TUNNEL_IPSECPHASE1", "tunneltype": "IPSEC IKEV 1", "timezone": "GMT+03:30", "vendorname": "CISCO", "user": "{{.Emails}}", "yyyy": "2023" } }