{"message":"{\"Assets\":[],\"Assignees\":[],\"Closed\":{\"IsClosed\":false},\"Details\":{\"Description\":\"API Description\",\"Images\":[\"abca904fd69f4fd6260a0012\"],\"Severity\":\"Medium\",\"Source\":{\"Date\":null,\"NetworkType\":\"ClearWeb\",\"Type\":\"Application Store\",\"URL\":\"{{.Domains}}\"},\"SubType\":\"VulnerabilityInTechnologyInUse\",\"Tags\":[],\"Title\":\"Test alert 1\",\"Type\":\"ExploitableData\"},\"FoundDate\":\"{{.timestamp_iso_1}}\",\"IsFlagged\":false,\"RelatedIocs\":[],\"RelatedThreatIDs\":[],\"TakedownStatus\":\"NotSent\",\"UpdateDate\":\"{{.timestamp_iso}}\",\"_id\":\"abcd9050d69f4fd6260a0012\"}"}
---EVENT_DELIMITER---
{"message":"{\"Assets\":[{\"Type\":\"Domains\",\"Value\":\"{{.Domains}}\"}],\"Assignees\":[\"633a849658c470828a8104d3\"],\"Closed\":{\"IsClosed\":false},\"Details\":{\"Description\":\"{{.Domains_2}}\",\"Images\":[\"634e8739de6e197a886499cf\",\"634e8743de6e197a886499d0\"],\"Severity\":\"Low\",\"Source\":{\"Date\":\"{{.timestamp_iso_2}}\",\"NetworkType\":\"ClearWeb\",\"Type\":\"WHOIS servers\",\"URL\":\"{{.Domains_1}}\"},\"SubType\":\"RegisteredSuspiciousDomain\",\"Tags\":[{\"CreatedBy\":\"ProfilingRule\",\"Name\":\"Phishing Domain - Default Detection Rule\",\"_id\":\"12345644de6e197a886499d2\"}],\"Title\":\"Test alert 2\",\"Type\":\"Phishing\"},\"FoundDate\":\"{{.timestamp_iso}}\",\"IsFlagged\":false,\"RelatedIocs\":[\"{{.Domains_3}}\"],\"RelatedThreatIDs\":[\"634e7367306bd9263bc3db7e\"],\"TakedownStatus\":\"NotSent\",\"UpdateDate\":\"{{.timestamp_iso_1}}\",\"_id\":\"634eabcdde6e197a886412ce\"}"}
---EVENT_DELIMITER---
{"message":"{\"Assets\":[{\"Type\":\"Domains\",\"Value\":\"{{.Domains}}\"}],\"Assignees\":[],\"Closed\":{\"IsClosed\":true},\"Details\":{\"Description\":\"Dark Web - 2 login credentials records were leaked from 300k Mix Sqli. They might be used to infiltrate the company's systems.\",\"Images\":[\"634e6b7394e63137869e6e41\"],\"Severity\":\"Low\",\"Source\":{\"Date\":\"{{.timestamp_iso_1}}\",\"LeakName\":\"300k Mix Sqli\",\"NetworkType\":\"DarkWeb\",\"Type\":\"Leaked Database\"},\"SubType\":\"CredentialsLeakage\",\"Tags\":[{\"CreatedBy\":\"Policy\",\"Name\":\"Historical Alert\",\"_id\":\"63609ade2292b4faa7955c1f\"}],\"Title\":\"Test alert 3\",\"Type\":\"DataLeakage\"},\"FoundDate\":\"{{.timestamp_iso}}\",\"IsFlagged\":false,\"RelatedIocs\":[],\"RelatedThreatIDs\":[],\"TakedownStatus\":\"NotSent\",\"UpdateDate\":\"{{.timestamp_iso}}\",\"_id\":\"634e6b1234e63137869e6e12\"}"}