{"Action":"login","Allowed":true,"AppDomain":"{{.Domains}}/warp","AppUUID":"123e4567-e89b-12d3-a456-426614174000","Connection":"onetimepin","Country":"us","CreatedAt":"{{.timestamp_iso}}+09:30","Email":"{{.Emails}}","IPAddress":"{{.IPs}}","PurposeJustificationPrompt":"Please provide your reason for accessing the application.","PurposeJustificationResponse":"I need to access the application for work purposes.","RayID":"00c0ffeeabc12345","TemporaryAccessApprovers":["{{.Emails}}","{{.Emails}}"],"TemporaryAccessDuration":7200,"UserUID":"166befbb-00e3-5e20-bd6e-27245333949f"}
---EVENT_DELIMITER---
{"Action":"login","Allowed":true,"AppDomain":"{{.Domains}}/warp","AppUUID":"123e4567-e89b-12d3-a456-426614174000","Connection":"onetimepin","Country":"us","CreatedAt":{{.timestamp_unix_s}},"Email":"{{.Emails}}","IPAddress":"{{.IPs}}","PurposeJustificationPrompt":"Please provide your reason for accessing the application.","PurposeJustificationResponse":"I need to access the application for work purposes.","RayID":"00c0ffeeabc12345","TemporaryAccessApprovers":["{{.Emails}}","{{.Emails}}"],"TemporaryAccessDuration":7200,"UserUID":"166befbb-00e3-5e20-bd6e-27245333949f"}
---EVENT_DELIMITER---
{"Action":"login","Allowed":true,"AppDomain":"{{.Domains}}/warp","AppUUID":"123e4567-e89b-12d3-a456-426614174000","Connection":"onetimepin","Country":"us","CreatedAt":1684862313000000000,"Email":"{{.Emails}}","IPAddress":"{{.IPs}}","PurposeJustificationPrompt":"Please provide your reason for accessing the application.","PurposeJustificationResponse":"I need to access the application for work purposes.","RayID":"00c0ffeeabc12345","TemporaryAccessApprovers":["{{.Emails}}","{{.Emails}}"],"TemporaryAccessDuration":7200,"UserUID":"166befbb-00e3-5e20-bd6e-27245333949f"}