{"ColoCode":"MRS","EDNSSubnet":"{{.IPs}}","EDNSSubnetLength":0,"QueryName":"{{.Domains}}","QueryType":65535,"ResponseCached":false,"ResponseCode":0,"SourceIP":"{{.IPs}}","Timestamp":"{{.timestamp_iso}}"}
---EVENT_DELIMITER---
{"ColoCode":"MRS","EDNSSubnet":"{{.IPs}}","EDNSSubnetLength":0,"QueryName":"{{.Domains}}","QueryType":65535,"ResponseCached":false,"ResponseCode":0,"SourceIP":"{{.IPs}}","Timestamp":"{{.timestamp_unix_s}}"}
---EVENT_DELIMITER---
{"ColoCode":"MRS","EDNSSubnet":"{{.IPs}}","EDNSSubnetLength":0,"QueryName":"{{.Domains}}","QueryType":65535,"ResponseCached":false,"ResponseCode":0,"SourceIP":"{{.IPs}}","Timestamp":"1653557034000000000"}