{"ClientResponseCode":0,"ClusterID":"CLUSTER-001","ColoCode":"SFO","EDNSSubnet":"{{.IPs}}","EDNSSubnetLength":24,"QueryDO":true,"QueryName":"{{.Domains}}","QueryRD":true,"QuerySize":60,"QueryTCP":false,"QueryType":1,"ResponseCached":true,"ResponseCachedStale":false,"SourceIP":"{{.IPs}}","Timestamp":"{{.timestamp_iso}}","UpstreamIP":"{{.IPs}}","UpstreamResponseCode":0,"UpstreamResponseTimeMs":30}
---EVENT_DELIMITER---
{"ClientResponseCode":3,"ClusterID":"CLUSTER-002","ColoCode":"JFK","EDNSSubnet":"{{.IPs}}","EDNSSubnetLength":12,"QueryDO":true,"QueryName":"{{.Domains}}","QueryRD":false,"QuerySize":65,"QueryTCP":true,"QueryType":28,"ResponseCached":false,"ResponseCachedStale":false,"SourceIP":"{{.IPs}}","Timestamp":"{{.timestamp_iso}}","UpstreamIP":"2a02:cf40::","UpstreamResponseCode":3,"UpstreamResponseTimeMs":45}