{"AccountID":"AC123456","Body":"{\"action\": \"login\", \"user\": \"john_doe\"}","BodyLength":39,"DestAddr":"{{.IPs}}","Headers":"Host: {{.Domains}}\nUser-Agent: Mozilla/5.0\nAccept: */*\nConnection: keep-alive","Host":"{{.Domains}}","Method":"POST","Password":"password123","R2Path":"","Referrer":"https://{{.Domains}}/","SinkholeID":"SH001","SrcAddr":"{{.IPs}}","Timestamp":"{{.timestamp_iso}}","URI":"/api/v1/login","URL":"https://{{.Domains}}/api/v1/login","UserAgent":"Mozilla/5.0","Username":"john_doe"}
---EVENT_DELIMITER---
{"AccountID":"AC123456","Body":"","BodyLength":0,"DestAddr":"{{.IPs}}","Headers":"Host: {{.Domains}}\nUser-Agent: Mozilla/5.0\nAccept: text/html,application/xhtml+xml,application/xml\nConnection: keep-alive","Host":"{{.Domains}}","Method":"GET","Password":"","R2Path":"","Referrer":"https://{{.Domains}}/","SinkholeID":"SH001","SrcAddr":"{{.IPs}}","Timestamp":"{{.timestamp_iso}}","URI":"/products/12345","URL":"https://{{.Domains}}/products/12345","UserAgent":"Mozilla/5.0","Username":""}
---EVENT_DELIMITER---
{"AccountID":"AC789012","Body":"{\"query\": \"Find all books by author XYZ\"}","BodyLength":40,"DestAddr":"{{.IPs}}","Headers":"Host: {{.Domains}}\nUser-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64)\nAccept: application/json\nConnection: keep-alive\nAuthorization: Bearer {{.Domains}}2QT4fwpMeJf36POk6yJV_adQssw5c","Host":"{{.Domains}}","Method":"POST","Password":"secretPass","R2Path":"/sinkhole/r2-bucket/20230919/overflow-data-56789","Referrer":"https://{{.Domains}}/search?q=books+by+XYZ","SinkholeID":"SH002","SrcAddr":"{{.IPs}}","Timestamp":"{{.timestamp_iso}}","URI":"/api/v2/booksearch","URL":"https://{{.Domains}}/api/v2/booksearch","UserAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64)","Username":"john_doe"}