{"sharedfoldername":"ThisSFName","deleted":false,"score":0,"users":{"username":"{{.Emails}}","superadmin":true,"readonly":false,"give":true,"can_administer":true,"sites":["{{.Domains}}","{{.Domains}}"]}}