{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Login Verification Email Sent","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Multifactor Enabled","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Enterprise API Secret regenerated","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Master Password Changed","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"SAML Login","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Delete Policy","Data":"Require passwordless verification via LastPass Authenticator"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Add Policy","Data":"Require passwordless verification via LastPass Authenticator New value: 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Reporting","Data":"Initiated by API"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Get User Data","Data":"Initiated by API"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Get Shared Folder Data","Data":"Initiated by API"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Log in","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Failed Login Attempt","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Log in","Data":"{{.IPs}}:1234/example"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Login to Admin Console","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Employee Account Created","Data":"{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Employee Invited","Data":"{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Make Admin","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Login to Admin Console","Data":"user1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Make Admin","Data":"user4"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Site Added","Data":"{{.Domains}}/ServiceLogin"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Deleted Sites","Data":"{{.Domains}}/ServiceLogin"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Site Added","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Deleted Sites","Data":"{{.Domains}},{{.Domains}},{{.Domains}},{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Created Shared Folder","Data":"temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Deleted Shared Folder","Data":"temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Add Secure Note","Data":"Secure Note (Address) from temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Open Secure Note","Data":"Secure Note (Address)"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Open Secure Note","Data":"Secure Note (Address) from temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Add to Shared Folder","Data":"'temp-1' '{{.Emails}}'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Create Group","Data":"'temp-group'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Adding User to Group","Data":"{{.Emails}} - temp-group"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Created LastPass Account","Data":"{{.Emails}}-Shared-temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Update Folder Permissions","Data":"'temp-1' '{{.Emails}}' 'Read only:no Admin:no Hide PW:no'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Master Password Reset by Super Admin","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Employee Account Deleted","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Require Password Change","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Remove Admin","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Edit Secure Note","Data":"Secure Note (Wifi renamed)"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Renamed Shared Folder","Data":"'test1' 'test2'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move to Shared Folder","Data":"{{.Domains}} to Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move to Shared Folder","Data":" to Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move from Shared Folder","Data":"{{.Domains}} from Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move from Shared Folder","Data":" from Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Limit Shared Folder","Data":"shared folder {{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Removed From Shared Folder","Data":"'test1' '{{.Emails}}'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Delete Shared Sites","Data":"{{.Domains}} from Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move from Shared Folder","Data":" from INVALID SHARED FOLDER"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Login verification email sent","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Multifactor enabled","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Enterprise API secret regenerated","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Master password changed","Data":""}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"SAML login","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Delete policy","Data":"Require passwordless verification via LastPass Authenticator"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Add policy","Data":"Require passwordless verification via LastPass Authenticator New value: 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Reporting","Data":"Initiated by API"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Get user data","Data":"Initiated by API"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Get shared folder data","Data":"Initiated by API"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Log in","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Failed login attempt","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Log in","Data":"{{.IPs}}:1234/example"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Login to admin console","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Employee account created","Data":"{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Employee invited","Data":"{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}},{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Make admin","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Login to admin console","Data":"user1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Make admin","Data":"user4"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Site added","Data":"{{.Domains}}/ServiceLogin"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Deleted sites","Data":"{{.Domains}}/ServiceLogin"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Site added","Data":"{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Deleted sites","Data":"{{.Domains}},{{.Domains}},{{.Domains}},{{.Domains}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Created shared folder","Data":"temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Deleted shared folder","Data":"temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Add secure note","Data":"Secure Note (Address) from temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Open secure note","Data":"Secure Note (Address)"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Open secure note","Data":"Secure Note (Address) from temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Add to shared folder","Data":"'temp-1' '{{.Emails}}'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Create group","Data":"'temp-group'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Adding user to group","Data":"{{.Emails}} - temp-group"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Created LastPass account","Data":"{{.Emails}}-Shared-temp-1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Update folder permissions","Data":"'temp-1' '{{.Emails}}' 'Read only:no Admin:no Hide PW:no'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Master password reset by super admin","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Employee account deleted","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Require password change","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Remove admin","Data":"{{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Edit secure note","Data":"Secure Note (Wifi renamed)"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Renamed shared folder","Data":"'test1' 'test2'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move to shared folder","Data":"{{.Domains}} to Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move to shared folder","Data":" to Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move from shared folder","Data":"{{.Domains}} from Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move from shared folder","Data":" from Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Limit shared folder","Data":"shared folder {{.Emails}}"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Removed from shared folder","Data":"'test1' '{{.Emails}}'"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Delete shared sites","Data":"{{.Domains}} from Shared Folder 1"}
---EVENT_DELIMITER---
{"Time":"2015-07-17 09:51:51","Username":"{{.Emails}}","IP_Address":"{{.IPs}}","Action":"Move from shared folder","Data":" from INVALID SHARED FOLDER"}