{"activemq":{"topic":{"consumers":{"count":5},"mbean":"{{.Domains}}","memory":{"broker":{"pct":2}},"messages":{"dequeue":{"count":5},"dispatch":{"count":1},"enqueue":{"count":5,"time":{"avg":5,"max":5,"min":5}},"expired":{"count":2},"inflight":{"count":2},"size":{"avg":2}},"name":"Test","producers":{"count":5}}}}